@import "bulma/sass/utilities/initial-variables.sass";
@import "bulma/sass/utilities/derived-variables.sass";
@import "bulma/sass/utilities/mixins.sass";

@import "colors";

$border-radius: 6px;
$border-radius-element: 4px;
$tooltip-max-width: 300px;
$tooltip-min-width: 275px;
