@import "bulma/sass/utilities/initial-variables.sass";
@import "bulma/sass/utilities/derived-variables.sass";
@import "bulma/sass/utilities/mixins.sass";

@import "colors";

$spacing-values: (
  "1": 0.25rem,
  "2": 0.5rem,
  "3": 0.75rem,
);
$border-radius: 6px;
$border-radius-element: 4px;
$tooltip-max-width: 300px;
$tooltip-min-width: 275px;
