@import "bulma/sass/utilities/initial-variables.sass";
@import "bulma/sass/utilities/derived-variables.sass";
@import "bulma/sass/utilities/mixins.sass";

@import "colors";

$background-color-tooltip: rgba(25, 43, 51, 0.85);
$background-color-legal-notice: rgba(30, 30, 30, 0.9);

$border-color-tooltip: #b9ad8b;

/* ----- MISC ----- */

$images-host: "https://images.projectceleste.com";
$border-radius-tooltip: 6px;
$tooltip-max-width: 300px;
$tooltip-min-width: 275px;
