$color-positive: #1ae61a;
$color-negative: #e83030;
$color-average: #ffe100;
$color-neutral: #ffff00;
$color-muted: #a6a6a6;
$color-category: #0a7396;
$color-highlight: #51a4fc;

$text-colors: (
  "positive": $color-positive,
  "negative": $color-negative,
  "average": $color-average,
  "neutral": $color-neutral,
  "muted": $color-muted,
  "category": $color-category,
  "highlight": $color-highlight,
);

$color-rarity-common: #b7b8b7;
$color-rarity-uncommon: #00aa00;
$color-rarity-rare: #0000a8;
$color-rarity-epic: #8400ad;
$color-rarity-legendary: #ad5000;

$rarity-colors: (
  "common": $color-rarity-common,
  "uncommon": $color-rarity-uncommon,
  "rare": $color-rarity-rare,
  "epic": $color-rarity-epic,
  "legendary": $color-rarity-legendary,
);

$color--gold: #fb3;
$color--card-background: rgba(#192b33, 0.8);
$color--border: #b9ad8b;
