$font-family: "Calibri", "Carlito", "Noto Sans", sans-serif;
$font-color: #fff;
$anchor-color: #fb3;

* {
  font-family: $font-family;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}

.title,
.subtitle {
  color: white;
}

.nowrap {
  white-space: nowrap;
}

.is-size-5 {
  font-size: $size-5 !important;
}

.is-size-6 {
  font-size: $size-6 !important;
}

.is-size-6-5 {
  font-size: 0.9rem !important;
}

.is-size-7 {
  font-size: 0.85rem !important;
}

.has-text-right {
  text-align: right;
}

.is-bold {
  font-weight: bold;
}

@each $name, $color in $text-colors {
  .is-#{$name} {
    color: $color !important;
  }
}

@each $name, $color in $rarity-colors {
  .rarity-#{$name} {
    color: $color !important;
  }
  // TODO border color (for advisors)
}

.is-capitalized {
  text-transform: capitalize !important;
}
