.slide-in-left-enter-active,
.slide-in-left-leave-active {
  transition: transform 0.25s ease-out;
}

.slide-in-left-enter-from,
.slide-in-left-leave-to {
  transform: translateX(-200%);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from {
  opacity: 1;
}

.fade-leave-to {
  opacity: 0;
}
