.is-flex {
  display: flex;
}

.is-flex-direction-column {
  flex-direction: column;
}

.is-flex-direction-row {
  flex-direction: row;
}

.is-flex-direction-row-reverse {
  flex-direction: row-reverse;
}

.is-flex-grow-1 {
  flex-grow: 1;
}

.is-flex-wrap-nowrap {
  flex-wrap: nowrap;
}

.is-flex-wrap {
  flex-wrap: wrap;
}

.is-justify-content-center {
  justify-content: center;
}

.is-justify-content-space-between {
  justify-content: space-between;
}

.is-align-self-flex-end {
  align-self: flex-end;
}

.is-align-self-flex-start {
  align-self: flex-start;
}

.is-align-self-center {
  align-self: center;
}

.is-relative {
  position: relative !important;
}

.is-hidden {
  display: none !important;
}

.px-0-5 {
  padding-left: 0.175rem !important;
  padding-right: 0.175rem !important;
}
