@import "vars/all";

@import "bulma/sass/base/minireset.sass";
@import "bulma/sass/elements/title.sass";
@import "bulma/sass/helpers/spacing.sass";

@import "fonts";
@import "flex";
@import "sprites/sprite";
@import "tooltip";
@import "card";
@import "transitions";

html,
body {
  scrollbar-color: darken($body-background-color, 20%) $body-background-color;
  scrollbar-width: auto;

  ::-webkit-scrollbar {
    width: 11px;
    height: 11px;
  }
  ::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  ::-webkit-scrollbar-thumb {
    background: darken($body-background-color, 20%);
  }
  ::-webkit-scrollbar-track {
    background: $body-background-color;
  }
}

.adjust-stat-btn {
  z-index: 3;
  display: inline-flex;
  position: absolute;
  bottom: 0;
  right: 0;
  padding-bottom: 2.5px;
  padding-right: 2.5px;

  & .icon {
    background: $color--card-background;
    border-radius: 50%;
  }

  &:hover {
    cursor: pointer;
  }
}

.selected-option {
  position: relative;
  display: flex;
  border-radius: $border-radius-element;
  overflow: hidden;

  &:hover {
    cursor: pointer;
  }
}
