$tooltip-background-color-light: #192b33b3;
$tooltip-background-color: rgba($tooltip-background-color-light, 1.5);
$tooltip-item-background-color-hover: #3b6578;

.tooltip,
.dropdown {
  position: absolute;
  z-index: 10;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  margin: 0;
  border-radius: $border-radius;
  border: 2px solid $color--border;
  box-shadow: 0 2px 4px -1px rgba(25, 43, 51, 0.2), 0 4px 5px 0 rgba(25, 43, 51, 0.14),
    0 1px 10px 0 rgba(25, 43, 51, 0.12);
  color: $font-color;
}

.tooltip {
  padding: #{map-get($spacing-values, "2")};
  max-width: $tooltip-max-width;
  min-width: $tooltip-min-width;
  background: $tooltip-background-color;

  ul {
    margin: 0;
    padding-left: 1rem;
    list-style: disc;
  }
}

.dropdown {
  white-space: nowrap;
  max-width: calc(100vw - 1rem - 4px);
  left: 0.5rem;
  right: 0.5rem;

  .dropdown-header {
    background-color: $tooltip-background-color-light;
  }

  .dropdown-contents {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 160px;
    background-color: $tooltip-background-color;

    scrollbar-color: hsla(0, 0%, 100%, 0.3) $tooltip-background-color;
    scrollbar-width: auto;

    &::-webkit-scrollbar {
      width: 11px;
      height: 11px;
    }
    &::-webkit-scrollbar-button {
      width: 0px;
      height: 0px;
    }
    &::-webkit-scrollbar-thumb {
      background: hsla(0, 0%, 100%, 0.3);
    }
    &::-webkit-scrollbar-track {
      background: $tooltip-background-color;
    }

    .no-result {
      line-height: 32px;
    }

    .dropdown-element {
      display: flex;
      flex-direction: row;
      line-height: 32px;

      .icon {
        border-radius: 2px;
      }

      span {
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &:hover {
        cursor: pointer;
        background-color: $tooltip-item-background-color-hover;
      }
    }
  }
}
