.sprite--advisors {
  background-image: url("/assets/sprites/advisors.webp");
  width: 64px;
  height: 64px;
}
.sprite--advisors--0AWwmrv9{ background-position: 0 0 !important; }
.sprite--advisors--0NEHbukY{ background-position: 0 10% !important; }
.sprite--advisors--1YC8PP1d{ background-position: 0 20% !important; }
.sprite--advisors--3Qle938j{ background-position: 0 30% !important; }
.sprite--advisors--6hLy6V30{ background-position: 0 40% !important; }
.sprite--advisors--E9uLLemy{ background-position: 0 50% !important; }
.sprite--advisors--M5FHpfDh{ background-position: 0 60% !important; }
.sprite--advisors--RhDlmFE6{ background-position: 0 70% !important; }
.sprite--advisors--bzJXhz5J{ background-position: 0 80% !important; }
.sprite--advisors--lUrPGCKm{ background-position: 0 90% !important; }
.sprite--advisors--tFHbPNae{ background-position: 0 100% !important; }
.sprite--advisors--0IVD6cJO{ background-position: 9.090909% 0 !important; }
.sprite--advisors--0mrQWUAb{ background-position: 9.090909% 10% !important; }
.sprite--advisors--20U29Lg9{ background-position: 9.090909% 20% !important; }
.sprite--advisors--3X4jWrK5{ background-position: 9.090909% 30% !important; }
.sprite--advisors--80Isazjd{ background-position: 9.090909% 40% !important; }
.sprite--advisors--EYqnpHny{ background-position: 9.090909% 50% !important; }
.sprite--advisors--MEFYgSMP{ background-position: 9.090909% 60% !important; }
.sprite--advisors--S4m8E4tB{ background-position: 9.090909% 70% !important; }
.sprite--advisors--c7vwfltH{ background-position: 9.090909% 80% !important; }
.sprite--advisors--m0nRgzfY{ background-position: 9.090909% 90% !important; }
.sprite--advisors--tMMX33SO{ background-position: 9.090909% 100% !important; }
.sprite--advisors--19rM4Tgy{ background-position: 18.181818% 0 !important; }
.sprite--advisors--1PMokKb8{ background-position: 18.181818% 10% !important; }
.sprite--advisors--2DDb5sXp{ background-position: 18.181818% 20% !important; }
.sprite--advisors--3i99XOAe{ background-position: 18.181818% 30% !important; }
.sprite--advisors--8A02luPm{ background-position: 18.181818% 40% !important; }
.sprite--advisors--EqS6LDnz{ background-position: 18.181818% 50% !important; }
.sprite--advisors--MXWkgnej{ background-position: 18.181818% 60% !important; }
.sprite--advisors--S7onDIf6{ background-position: 18.181818% 70% !important; }
.sprite--advisors--cfUYNzqW{ background-position: 18.181818% 80% !important; }
.sprite--advisors--mar3ApZf{ background-position: 18.181818% 90% !important; }
.sprite--advisors--tr3tA3G7{ background-position: 18.181818% 100% !important; }
.sprite--advisors--2JKxw4mI{ background-position: 27.272727% 0 !important; }
.sprite--advisors--2r7HEHhI{ background-position: 27.272727% 10% !important; }
.sprite--advisors--3H2M4frq{ background-position: 27.272727% 20% !important; }
.sprite--advisors--43iAmds6{ background-position: 27.272727% 30% !important; }
.sprite--advisors--8HiNotWu{ background-position: 27.272727% 40% !important; }
.sprite--advisors--Fl0JEEMY{ background-position: 27.272727% 50% !important; }
.sprite--advisors--NcGvgkhM{ background-position: 27.272727% 60% !important; }
.sprite--advisors--SDhZPLPe{ background-position: 27.272727% 70% !important; }
.sprite--advisors--ciqfVMFk{ background-position: 27.272727% 80% !important; }
.sprite--advisors--n4BmCJMU{ background-position: 27.272727% 90% !important; }
.sprite--advisors--uPasab0t{ background-position: 27.272727% 100% !important; }
.sprite--advisors--4SPdSqS5{ background-position: 36.363636% 0 !important; }
.sprite--advisors--6ICpz80h{ background-position: 36.363636% 10% !important; }
.sprite--advisors--6IuwXAz5{ background-position: 36.363636% 20% !important; }
.sprite--advisors--6J0u4HKl{ background-position: 36.363636% 30% !important; }
.sprite--advisors--8fSpyRPM{ background-position: 36.363636% 40% !important; }
.sprite--advisors--GniA5fbj{ background-position: 36.363636% 50% !important; }
.sprite--advisors--NjlwKt02{ background-position: 36.363636% 60% !important; }
.sprite--advisors--Tu3nUgdw{ background-position: 36.363636% 70% !important; }
.sprite--advisors--cy50OhwJ{ background-position: 36.363636% 80% !important; }
.sprite--advisors--n8PqLc7Y{ background-position: 36.363636% 90% !important; }
.sprite--advisors--ubHd33HG{ background-position: 36.363636% 100% !important; }
.sprite--advisors--8isfATii{ background-position: 45.454545% 0 !important; }
.sprite--advisors--9BjGk0gg{ background-position: 45.454545% 10% !important; }
.sprite--advisors--9wVlfOP2{ background-position: 45.454545% 20% !important; }
.sprite--advisors--AJmPEvNu{ background-position: 45.454545% 30% !important; }
.sprite--advisors--D9X8jCk2{ background-position: 45.454545% 40% !important; }
.sprite--advisors--HVqz240u{ background-position: 45.454545% 50% !important; }
.sprite--advisors--ORKwE4XF{ background-position: 45.454545% 60% !important; }
.sprite--advisors--UfqoMnER{ background-position: 45.454545% 70% !important; }
.sprite--advisors--dMUP5azM{ background-position: 45.454545% 80% !important; }
.sprite--advisors--none_0  { background-position: 45.454545% 90% !important; }
.sprite--advisors--v4z4L3Y0{ background-position: 45.454545% 100% !important; }
.sprite--advisors--Hf2rgqmw{ background-position: 54.545455% 0 !important; }
.sprite--advisors--IEV4Lb1c{ background-position: 54.545455% 10% !important; }
.sprite--advisors--IPwtQ7eq{ background-position: 54.545455% 20% !important; }
.sprite--advisors--KKjn9hip{ background-position: 54.545455% 30% !important; }
.sprite--advisors--L1VqHZvP{ background-position: 54.545455% 40% !important; }
.sprite--advisors--LrNgN6GB{ background-position: 54.545455% 50% !important; }
.sprite--advisors--P8oDfJNt{ background-position: 54.545455% 60% !important; }
.sprite--advisors--UqFCAvck{ background-position: 54.545455% 70% !important; }
.sprite--advisors--dNC2xMTy{ background-position: 54.545455% 80% !important; }
.sprite--advisors--none_1  { background-position: 54.545455% 90% !important; }
.sprite--advisors--v8EvM3sE{ background-position: 54.545455% 100% !important; }
.sprite--advisors--PN9Kcpf0{ background-position: 63.636364% 0 !important; }
.sprite--advisors--PsQExTMN{ background-position: 63.636364% 10% !important; }
.sprite--advisors--QSP71xsC{ background-position: 63.636364% 20% !important; }
.sprite--advisors--QXx97amT{ background-position: 63.636364% 30% !important; }
.sprite--advisors--QhokbFpw{ background-position: 63.636364% 40% !important; }
.sprite--advisors--QwbRecBS{ background-position: 63.636364% 50% !important; }
.sprite--advisors--RUq0McQI{ background-position: 63.636364% 60% !important; }
.sprite--advisors--VKFeBGvZ{ background-position: 63.636364% 70% !important; }
.sprite--advisors--hgXUUKdv{ background-position: 63.636364% 80% !important; }
.sprite--advisors--none_2  { background-position: 63.636364% 90% !important; }
.sprite--advisors--vF4IHd88{ background-position: 63.636364% 100% !important; }
.sprite--advisors--W5TLPN22{ background-position: 72.727273% 0 !important; }
.sprite--advisors--X2KATOdq{ background-position: 72.727273% 10% !important; }
.sprite--advisors--XVtF6Dae{ background-position: 72.727273% 20% !important; }
.sprite--advisors--XgFBtvto{ background-position: 72.727273% 30% !important; }
.sprite--advisors--YjzaGKJ5{ background-position: 72.727273% 40% !important; }
.sprite--advisors--ZgCUCzJg{ background-position: 72.727273% 50% !important; }
.sprite--advisors--ZwdNFiWI{ background-position: 72.727273% 60% !important; }
.sprite--advisors--aHO7Mgem{ background-position: 72.727273% 70% !important; }
.sprite--advisors--iOsXzZAJ{ background-position: 72.727273% 80% !important; }
.sprite--advisors--none_3  { background-position: 72.727273% 90% !important; }
.sprite--advisors--vLEIpVeU{ background-position: 72.727273% 100% !important; }
.sprite--advisors--iQdYoDJe{ background-position: 81.818182% 0 !important; }
.sprite--advisors--iuVaEodk{ background-position: 81.818182% 10% !important; }
.sprite--advisors--j3Q7Td2D{ background-position: 81.818182% 20% !important; }
.sprite--advisors--j7WDPvU5{ background-position: 81.818182% 30% !important; }
.sprite--advisors--kgBPuSYQ{ background-position: 81.818182% 40% !important; }
.sprite--advisors--kjCH9wRN{ background-position: 81.818182% 50% !important; }
.sprite--advisors--kjwQj32C{ background-position: 81.818182% 60% !important; }
.sprite--advisors--l5tbvP08{ background-position: 81.818182% 70% !important; }
.sprite--advisors--lJ4V2ghn{ background-position: 81.818182% 80% !important; }
.sprite--advisors--nxWJ3rg0{ background-position: 81.818182% 90% !important; }
.sprite--advisors--wEpOCkx1{ background-position: 81.818182% 100% !important; }
.sprite--advisors--o8gmD4YS{ background-position: 90.909091% 0 !important; }
.sprite--advisors--pXpLdIZI{ background-position: 90.909091% 10% !important; }
.sprite--advisors--pfDMiMAe{ background-position: 90.909091% 20% !important; }
.sprite--advisors--pnV85Hfj{ background-position: 90.909091% 30% !important; }
.sprite--advisors--qCR8kqde{ background-position: 90.909091% 40% !important; }
.sprite--advisors--qNHE6Rsq{ background-position: 90.909091% 50% !important; }
.sprite--advisors--qm2Ax2uh{ background-position: 90.909091% 60% !important; }
.sprite--advisors--qxpM3clU{ background-position: 90.909091% 70% !important; }
.sprite--advisors--rG7P6Nm8{ background-position: 90.909091% 80% !important; }
.sprite--advisors--rGHM6d9y{ background-position: 90.909091% 90% !important; }
.sprite--advisors--xB8vzs5T{ background-position: 90.909091% 100% !important; }
.sprite--advisors--xIRxtqUX{ background-position: 100% 0 !important; }
.sprite--advisors--xkatqYJz{ background-position: 100% 10% !important; }
.sprite--advisors--xpG18xBp{ background-position: 100% 20% !important; }
.sprite--advisors--ybIDI26N{ background-position: 100% 30% !important; }
.sprite--advisors--zEuBG3bJ{ background-position: 100% 40% !important; }
.sprite--advisors--zGl4baEB{ background-position: 100% 50% !important; }
.sprite--advisors--zOcckjvD{ background-position: 100% 60% !important; }
