.sprite--advisors {
  background-image: url("/assets/sprites/advisors.webp");
  width: 64px;
  height: 64px;
}
.sprite--advisors--0AWwmrv9{ background-position: 0 0 !important; }
.sprite--advisors--0NEHbukY{ background-position: 0 8.333333% !important; }
.sprite--advisors--1YC8PP1d{ background-position: 0 16.666667% !important; }
.sprite--advisors--3H2M4frq{ background-position: 0 25% !important; }
.sprite--advisors--6IuwXAz5{ background-position: 0 33.333333% !important; }
.sprite--advisors--AJmPEvNu{ background-position: 0 41.666667% !important; }
.sprite--advisors--Hf2rgqmw{ background-position: 0 50% !important; }
.sprite--advisors--NjlwKt02{ background-position: 0 58.333333% !important; }
.sprite--advisors--SDhZPLPe{ background-position: 0 66.666667% !important; }
.sprite--advisors--cKX54t6h{ background-position: 0 75% !important; }
.sprite--advisors--lJ4V2ghn{ background-position: 0 83.333333% !important; }
.sprite--advisors--rG7P6Nm8{ background-position: 0 91.666667% !important; }
.sprite--advisors--zEuBG3bJ{ background-position: 0 100% !important; }
.sprite--advisors--0IVD6cJO{ background-position: 8.333333% 0 !important; }
.sprite--advisors--0mrQWUAb{ background-position: 8.333333% 8.333333% !important; }
.sprite--advisors--1mILMpwG{ background-position: 8.333333% 16.666667% !important; }
.sprite--advisors--3If82WKK{ background-position: 8.333333% 25% !important; }
.sprite--advisors--6J0u4HKl{ background-position: 8.333333% 33.333333% !important; }
.sprite--advisors--AVgxkH7L{ background-position: 8.333333% 41.666667% !important; }
.sprite--advisors--Hrcy4Pzb{ background-position: 8.333333% 50% !important; }
.sprite--advisors--ORKwE4XF{ background-position: 8.333333% 58.333333% !important; }
.sprite--advisors--Tu3nUgdw{ background-position: 8.333333% 66.666667% !important; }
.sprite--advisors--cfUYNzqW{ background-position: 8.333333% 75% !important; }
.sprite--advisors--lUrPGCKm{ background-position: 8.333333% 83.333333% !important; }
.sprite--advisors--rGHM6d9y{ background-position: 8.333333% 91.666667% !important; }
.sprite--advisors--zGl4baEB{ background-position: 8.333333% 100% !important; }
.sprite--advisors--19rM4Tgy{ background-position: 16.666667% 0 !important; }
.sprite--advisors--1PMokKb8{ background-position: 16.666667% 8.333333% !important; }
.sprite--advisors--20U29Lg9{ background-position: 16.666667% 16.666667% !important; }
.sprite--advisors--3Qle938j{ background-position: 16.666667% 25% !important; }
.sprite--advisors--6hLy6V30{ background-position: 16.666667% 33.333333% !important; }
.sprite--advisors--D9X8jCk2{ background-position: 16.666667% 41.666667% !important; }
.sprite--advisors--IEV4Lb1c{ background-position: 16.666667% 50% !important; }
.sprite--advisors--P8bHr8rg{ background-position: 16.666667% 58.333333% !important; }
.sprite--advisors--UCG4VXDC{ background-position: 16.666667% 66.666667% !important; }
.sprite--advisors--ciqfVMFk{ background-position: 16.666667% 75% !important; }
.sprite--advisors--m0nRgzfY{ background-position: 16.666667% 83.333333% !important; }
.sprite--advisors--rQggHFA7{ background-position: 16.666667% 91.666667% !important; }
.sprite--advisors--zOcckjvD{ background-position: 16.666667% 100% !important; }
.sprite--advisors--2DDb5sXp{ background-position: 25% 0 !important; }
.sprite--advisors--2JKxw4mI{ background-position: 25% 8.333333% !important; }
.sprite--advisors--2r7HEHhI{ background-position: 25% 16.666667% !important; }
.sprite--advisors--3X4jWrK5{ background-position: 25% 25% !important; }
.sprite--advisors--80Isazjd{ background-position: 25% 33.333333% !important; }
.sprite--advisors--DX4GV7pt{ background-position: 25% 41.666667% !important; }
.sprite--advisors--IPwtQ7eq{ background-position: 25% 50% !important; }
.sprite--advisors--P8oDfJNt{ background-position: 25% 58.333333% !important; }
.sprite--advisors--UfqoMnER{ background-position: 25% 66.666667% !important; }
.sprite--advisors--cy50OhwJ{ background-position: 25% 75% !important; }
.sprite--advisors--mar3ApZf{ background-position: 25% 83.333333% !important; }
.sprite--advisors--ruSTvJHZ{ background-position: 25% 91.666667% !important; }
.sprite--advisors--3i99XOAe{ background-position: 33.333333% 0 !important; }
.sprite--advisors--43iAmds6{ background-position: 33.333333% 8.333333% !important; }
.sprite--advisors--4SPdSqS5{ background-position: 33.333333% 16.666667% !important; }
.sprite--advisors--6ICpz80h{ background-position: 33.333333% 25% !important; }
.sprite--advisors--8A02luPm{ background-position: 33.333333% 33.333333% !important; }
.sprite--advisors--E9uLLemy{ background-position: 33.333333% 41.666667% !important; }
.sprite--advisors--IZbanPxk{ background-position: 33.333333% 50% !important; }
.sprite--advisors--P9YhbrMI{ background-position: 33.333333% 58.333333% !important; }
.sprite--advisors--UqFCAvck{ background-position: 33.333333% 66.666667% !important; }
.sprite--advisors--dMUP5azM{ background-position: 33.333333% 75% !important; }
.sprite--advisors--n4BmCJMU{ background-position: 33.333333% 83.333333% !important; }
.sprite--advisors--s1ChobuH{ background-position: 33.333333% 91.666667% !important; }
.sprite--advisors--8HiNotWu{ background-position: 41.666667% 0 !important; }
.sprite--advisors--8fSpyRPM{ background-position: 41.666667% 8.333333% !important; }
.sprite--advisors--8isfATii{ background-position: 41.666667% 16.666667% !important; }
.sprite--advisors--9BjGk0gg{ background-position: 41.666667% 25% !important; }
.sprite--advisors--9wVlfOP2{ background-position: 41.666667% 33.333333% !important; }
.sprite--advisors--EYqnpHny{ background-position: 41.666667% 41.666667% !important; }
.sprite--advisors--JMDFChXe{ background-position: 41.666667% 50% !important; }
.sprite--advisors--PN9Kcpf0{ background-position: 41.666667% 58.333333% !important; }
.sprite--advisors--VKFeBGvZ{ background-position: 41.666667% 66.666667% !important; }
.sprite--advisors--dNC2xMTy{ background-position: 41.666667% 75% !important; }
.sprite--advisors--n8PqLc7Y{ background-position: 41.666667% 83.333333% !important; }
.sprite--advisors--sGNpwP5a{ background-position: 41.666667% 91.666667% !important; }
.sprite--advisors--EqS6LDnz{ background-position: 50% 0 !important; }
.sprite--advisors--FjvQy6Sp{ background-position: 50% 8.333333% !important; }
.sprite--advisors--Fl0JEEMY{ background-position: 50% 16.666667% !important; }
.sprite--advisors--GniA5fbj{ background-position: 50% 25% !important; }
.sprite--advisors--GqEGvxOS{ background-position: 50% 33.333333% !important; }
.sprite--advisors--HVqz240u{ background-position: 50% 41.666667% !important; }
.sprite--advisors--KKjn9hip{ background-position: 50% 50% !important; }
.sprite--advisors--PXmMJoZb{ background-position: 50% 58.333333% !important; }
.sprite--advisors--W5TLPN22{ background-position: 50% 66.666667% !important; }
.sprite--advisors--guPpzGKG{ background-position: 50% 75% !important; }
.sprite--advisors--none_0  { background-position: 50% 83.333333% !important; }
.sprite--advisors--tFHbPNae{ background-position: 50% 91.666667% !important; }
.sprite--advisors--L1VqHZvP{ background-position: 58.333333% 0 !important; }
.sprite--advisors--LNAk5Yho{ background-position: 58.333333% 8.333333% !important; }
.sprite--advisors--LrNgN6GB{ background-position: 58.333333% 16.666667% !important; }
.sprite--advisors--M5FHpfDh{ background-position: 58.333333% 25% !important; }
.sprite--advisors--MEFYgSMP{ background-position: 58.333333% 33.333333% !important; }
.sprite--advisors--MXWkgnej{ background-position: 58.333333% 41.666667% !important; }
.sprite--advisors--NcGvgkhM{ background-position: 58.333333% 50% !important; }
.sprite--advisors--PsQExTMN{ background-position: 58.333333% 58.333333% !important; }
.sprite--advisors--X2KATOdq{ background-position: 58.333333% 66.666667% !important; }
.sprite--advisors--hJ0GBcxl{ background-position: 58.333333% 75% !important; }
.sprite--advisors--none_1  { background-position: 58.333333% 83.333333% !important; }
.sprite--advisors--tMMX33SO{ background-position: 58.333333% 91.666667% !important; }
.sprite--advisors--QSP71xsC{ background-position: 66.666667% 0 !important; }
.sprite--advisors--QXx97amT{ background-position: 66.666667% 8.333333% !important; }
.sprite--advisors--QhokbFpw{ background-position: 66.666667% 16.666667% !important; }
.sprite--advisors--QwbRecBS{ background-position: 66.666667% 25% !important; }
.sprite--advisors--RUq0McQI{ background-position: 66.666667% 33.333333% !important; }
.sprite--advisors--RhDlmFE6{ background-position: 66.666667% 41.666667% !important; }
.sprite--advisors--S4m8E4tB{ background-position: 66.666667% 50% !important; }
.sprite--advisors--S7onDIf6{ background-position: 66.666667% 58.333333% !important; }
.sprite--advisors--XVtF6Dae{ background-position: 66.666667% 66.666667% !important; }
.sprite--advisors--hgXUUKdv{ background-position: 66.666667% 75% !important; }
.sprite--advisors--none_2  { background-position: 66.666667% 83.333333% !important; }
.sprite--advisors--tr3tA3G7{ background-position: 66.666667% 91.666667% !important; }
.sprite--advisors--XgFBtvto{ background-position: 75% 0 !important; }
.sprite--advisors--YWa5UJej{ background-position: 75% 8.333333% !important; }
.sprite--advisors--YjzaGKJ5{ background-position: 75% 16.666667% !important; }
.sprite--advisors--Yu6EU1oe{ background-position: 75% 25% !important; }
.sprite--advisors--ZgCUCzJg{ background-position: 75% 33.333333% !important; }
.sprite--advisors--ZwdNFiWI{ background-position: 75% 41.666667% !important; }
.sprite--advisors--aHO7Mgem{ background-position: 75% 50% !important; }
.sprite--advisors--bzJXhz5J{ background-position: 75% 58.333333% !important; }
.sprite--advisors--c7vwfltH{ background-position: 75% 66.666667% !important; }
.sprite--advisors--iOsXzZAJ{ background-position: 75% 75% !important; }
.sprite--advisors--none_3  { background-position: 75% 83.333333% !important; }
.sprite--advisors--uPasab0t{ background-position: 75% 91.666667% !important; }
.sprite--advisors--iQdYoDJe{ background-position: 83.333333% 0 !important; }
.sprite--advisors--iXXFjWz4{ background-position: 83.333333% 8.333333% !important; }
.sprite--advisors--iuVaEodk{ background-position: 83.333333% 16.666667% !important; }
.sprite--advisors--j3Q7Td2D{ background-position: 83.333333% 25% !important; }
.sprite--advisors--j7WDPvU5{ background-position: 83.333333% 33.333333% !important; }
.sprite--advisors--jXjGLD2i{ background-position: 83.333333% 41.666667% !important; }
.sprite--advisors--kgBPuSYQ{ background-position: 83.333333% 50% !important; }
.sprite--advisors--kjCH9wRN{ background-position: 83.333333% 58.333333% !important; }
.sprite--advisors--kjwQj32C{ background-position: 83.333333% 66.666667% !important; }
.sprite--advisors--l5tbvP08{ background-position: 83.333333% 75% !important; }
.sprite--advisors--nxWJ3rg0{ background-position: 83.333333% 83.333333% !important; }
.sprite--advisors--ubHd33HG{ background-position: 83.333333% 91.666667% !important; }
.sprite--advisors--o8gmD4YS{ background-position: 91.666667% 0 !important; }
.sprite--advisors--oq3xh5qm{ background-position: 91.666667% 8.333333% !important; }
.sprite--advisors--ovBiUAZg{ background-position: 91.666667% 16.666667% !important; }
.sprite--advisors--pXpLdIZI{ background-position: 91.666667% 25% !important; }
.sprite--advisors--pZLSvrCU{ background-position: 91.666667% 33.333333% !important; }
.sprite--advisors--pfDMiMAe{ background-position: 91.666667% 41.666667% !important; }
.sprite--advisors--pnV85Hfj{ background-position: 91.666667% 50% !important; }
.sprite--advisors--qCR8kqde{ background-position: 91.666667% 58.333333% !important; }
.sprite--advisors--qNHE6Rsq{ background-position: 91.666667% 66.666667% !important; }
.sprite--advisors--qm2Ax2uh{ background-position: 91.666667% 75% !important; }
.sprite--advisors--qxpM3clU{ background-position: 91.666667% 83.333333% !important; }
.sprite--advisors--v4z4L3Y0{ background-position: 91.666667% 91.666667% !important; }
.sprite--advisors--v8EvM3sE{ background-position: 100% 0 !important; }
.sprite--advisors--vF4IHd88{ background-position: 100% 8.333333% !important; }
.sprite--advisors--vLEIpVeU{ background-position: 100% 16.666667% !important; }
.sprite--advisors--wEpOCkx1{ background-position: 100% 25% !important; }
.sprite--advisors--wbwjZhYb{ background-position: 100% 33.333333% !important; }
.sprite--advisors--xB8vzs5T{ background-position: 100% 41.666667% !important; }
.sprite--advisors--xIRxtqUX{ background-position: 100% 50% !important; }
.sprite--advisors--xXmkzx6o{ background-position: 100% 58.333333% !important; }
.sprite--advisors--xkatqYJz{ background-position: 100% 66.666667% !important; }
.sprite--advisors--xpG18xBp{ background-position: 100% 75% !important; }
.sprite--advisors--y4bQu5CK{ background-position: 100% 83.333333% !important; }
.sprite--advisors--ybIDI26N{ background-position: 100% 91.666667% !important; }
