.sprite--gear {
  background-image: url("/assets/sprites/gear.webp");
  width: 64px;
  height: 64px;
}
.sprite--gear--01Yr2VXq      { background-position: 0 0 !important; }
.sprite--gear--0biOXqdU      { background-position: 0 4% !important; }
.sprite--gear--0RBpVNs4      { background-position: 0 8% !important; }
.sprite--gear--10FVqXGb      { background-position: 0 12% !important; }
.sprite--gear--1LFnNUvV      { background-position: 0 16% !important; }
.sprite--gear--2kF4DGlc      { background-position: 0 20% !important; }
.sprite--gear--3fhHs7gt      { background-position: 0 24% !important; }
.sprite--gear--4UZfKS0m      { background-position: 0 28% !important; }
.sprite--gear--627g1scJ      { background-position: 0 32% !important; }
.sprite--gear--7eutHQUS      { background-position: 0 36% !important; }
.sprite--gear--9hsh3eLY      { background-position: 0 40% !important; }
.sprite--gear--B4kKdvNc      { background-position: 0 44% !important; }
.sprite--gear--cksiBBKF      { background-position: 0 48% !important; }
.sprite--gear--eFB4eSHL      { background-position: 0 52% !important; }
.sprite--gear--FrLEDg0U      { background-position: 0 56% !important; }
.sprite--gear--hSr0QjHv      { background-position: 0 60% !important; }
.sprite--gear--jlRWdCsN      { background-position: 0 64% !important; }
.sprite--gear--KKJd228y      { background-position: 0 68% !important; }
.sprite--gear--MFQSmdV2      { background-position: 0 72% !important; }
.sprite--gear--NrPz7ty4      { background-position: 0 76% !important; }
.sprite--gear--pWYEOe3g      { background-position: 0 80% !important; }
.sprite--gear--s8UxaxaF      { background-position: 0 84% !important; }
.sprite--gear--udMOu6de      { background-position: 0 88% !important; }
.sprite--gear--WsJ4bdBl      { background-position: 0 92% !important; }
.sprite--gear--z53njxhy      { background-position: 0 96% !important; }
.sprite--gear--Spears1H      { background-position: 0 100% !important; }
.sprite--gear--0AaiFClx      { background-position: 4% 0 !important; }
.sprite--gear--0BsPERYD      { background-position: 4% 4% !important; }
.sprite--gear--0rjTogKN      { background-position: 4% 8% !important; }
.sprite--gear--13JTHZJz      { background-position: 4% 12% !important; }
.sprite--gear--1yextCG0      { background-position: 4% 16% !important; }
.sprite--gear--2MI4gtgT      { background-position: 4% 20% !important; }
.sprite--gear--3h7D6b4M      { background-position: 4% 24% !important; }
.sprite--gear--50CbHlUB      { background-position: 4% 28% !important; }
.sprite--gear--62S8NKbu      { background-position: 4% 32% !important; }
.sprite--gear--7J3b8ubk      { background-position: 4% 36% !important; }
.sprite--gear--9RLj2az7      { background-position: 4% 40% !important; }
.sprite--gear--b5A5BNro      { background-position: 4% 44% !important; }
.sprite--gear--cNDQsKa9      { background-position: 4% 48% !important; }
.sprite--gear--eFnY2hYL      { background-position: 4% 52% !important; }
.sprite--gear--FxyeVIJh      { background-position: 4% 56% !important; }
.sprite--gear--HTkB64zj      { background-position: 4% 60% !important; }
.sprite--gear--JnLkKgWx      { background-position: 4% 64% !important; }
.sprite--gear--klt6mvAj      { background-position: 4% 68% !important; }
.sprite--gear--mGBeeL6f      { background-position: 4% 72% !important; }
.sprite--gear--NVmrgbRj      { background-position: 4% 76% !important; }
.sprite--gear--pzgszSTq      { background-position: 4% 80% !important; }
.sprite--gear--s9mlGbsl      { background-position: 4% 84% !important; }
.sprite--gear--Udv2N7j5      { background-position: 4% 88% !important; }
.sprite--gear--wUUNko8k      { background-position: 4% 92% !important; }
.sprite--gear--z72mCw4K      { background-position: 4% 96% !important; }
.sprite--gear--Spears2H      { background-position: 4% 100% !important; }
.sprite--gear--0M65PdHG      { background-position: 8% 0 !important; }
.sprite--gear--0PKxDLNJ      { background-position: 8% 4% !important; }
.sprite--gear--0Sw18PIY      { background-position: 8% 8% !important; }
.sprite--gear--1ApDi5NN      { background-position: 8% 12% !important; }
.sprite--gear--21930GEc      { background-position: 8% 16% !important; }
.sprite--gear--2omvJmlq      { background-position: 8% 20% !important; }
.sprite--gear--3JBknIYl      { background-position: 8% 24% !important; }
.sprite--gear--58wQanJm      { background-position: 8% 28% !important; }
.sprite--gear--66d2k9Dy      { background-position: 8% 32% !important; }
.sprite--gear--7K5tsOKZ      { background-position: 8% 36% !important; }
.sprite--gear--a1RULgpb      { background-position: 8% 40% !important; }
.sprite--gear--bFRPLVqH      { background-position: 8% 44% !important; }
.sprite--gear--CqKM36FX      { background-position: 8% 48% !important; }
.sprite--gear--eGLccDYR      { background-position: 8% 52% !important; }
.sprite--gear--G7p2t1Mx      { background-position: 8% 56% !important; }
.sprite--gear--htRKQjSI      { background-position: 8% 60% !important; }
.sprite--gear--jP7DndV4      { background-position: 8% 64% !important; }
.sprite--gear--KM9Hi5DR      { background-position: 8% 68% !important; }
.sprite--gear--mgZpj3RG      { background-position: 8% 72% !important; }
.sprite--gear--nw7HYXyn      { background-position: 8% 76% !important; }
.sprite--gear--q23MrBGM      { background-position: 8% 80% !important; }
.sprite--gear--SBZlwOPC      { background-position: 8% 84% !important; }
.sprite--gear--uJnIMkZH      { background-position: 8% 88% !important; }
.sprite--gear--WXwZoNV6      { background-position: 8% 92% !important; }
.sprite--gear--z7vofgVa      { background-position: 8% 96% !important; }
.sprite--gear--Staffs2H      { background-position: 8% 100% !important; }
.sprite--gear--0swSj3if      { background-position: 12% 0 !important; }
.sprite--gear--0UkJGx5u      { background-position: 12% 4% !important; }
.sprite--gear--0Z5jvrPC      { background-position: 12% 8% !important; }
.sprite--gear--1BVLYmw0      { background-position: 12% 12% !important; }
.sprite--gear--22ccGWPF      { background-position: 12% 16% !important; }
.sprite--gear--2on0krzT      { background-position: 12% 20% !important; }
.sprite--gear--3UId3Uy2      { background-position: 12% 24% !important; }
.sprite--gear--5aAmeoMR      { background-position: 12% 28% !important; }
.sprite--gear--67hhQ3Hi      { background-position: 12% 32% !important; }
.sprite--gear--7KxtazKD      { background-position: 12% 36% !important; }
.sprite--gear--a6b3sdv3      { background-position: 12% 40% !important; }
.sprite--gear--BhvOqzXO      { background-position: 12% 44% !important; }
.sprite--gear--cQQpq02h      { background-position: 12% 48% !important; }
.sprite--gear--eGWpJvhS      { background-position: 12% 52% !important; }
.sprite--gear--gAgJtZNx      { background-position: 12% 56% !important; }
.sprite--gear--hvWWbCNC      { background-position: 12% 60% !important; }
.sprite--gear--jRqpxgot      { background-position: 12% 64% !important; }
.sprite--gear--kPmguy1S      { background-position: 12% 68% !important; }
.sprite--gear--mIdN9oBV      { background-position: 12% 72% !important; }
.sprite--gear--o3LWcSuf      { background-position: 12% 76% !important; }
.sprite--gear--Q3THydAq      { background-position: 12% 80% !important; }
.sprite--gear--sdLtadTw      { background-position: 12% 84% !important; }
.sprite--gear--uKkzUw6A      { background-position: 12% 88% !important; }
.sprite--gear--x0QQlbSk      { background-position: 12% 92% !important; }
.sprite--gear--Z8PHyjEW      { background-position: 12% 96% !important; }
.sprite--gear--Swords1H      { background-position: 12% 100% !important; }
.sprite--gear--1EwH0aVm      { background-position: 16% 0 !important; }
.sprite--gear--1g82A2dd      { background-position: 16% 4% !important; }
.sprite--gear--1GJJTaLm      { background-position: 16% 8% !important; }
.sprite--gear--1l53VoS0      { background-position: 16% 12% !important; }
.sprite--gear--22RjfsSm      { background-position: 16% 16% !important; }
.sprite--gear--2Ou7ymCl      { background-position: 16% 20% !important; }
.sprite--gear--3vr81hHJ      { background-position: 16% 24% !important; }
.sprite--gear--5aNzvNMo      { background-position: 16% 28% !important; }
.sprite--gear--6biU7PyE      { background-position: 16% 32% !important; }
.sprite--gear--7nWvk9G3      { background-position: 16% 36% !important; }
.sprite--gear--A9uG5Uwp      { background-position: 16% 40% !important; }
.sprite--gear--BIUnFaqQ      { background-position: 16% 44% !important; }
.sprite--gear--cQYX4U0G      { background-position: 16% 48% !important; }
.sprite--gear--eHaOsleq      { background-position: 16% 52% !important; }
.sprite--gear--GaL88Ww7      { background-position: 16% 56% !important; }
.sprite--gear--hzgD7Cd2      { background-position: 16% 60% !important; }
.sprite--gear--jT5fCHuJ      { background-position: 16% 64% !important; }
.sprite--gear--krBVIwak      { background-position: 16% 68% !important; }
.sprite--gear--MiXMRaHh      { background-position: 16% 72% !important; }
.sprite--gear--Obwb9Xja      { background-position: 16% 76% !important; }
.sprite--gear--Q3ZZ1rG0      { background-position: 16% 80% !important; }
.sprite--gear--seN2OHJG      { background-position: 16% 84% !important; }
.sprite--gear--UkWfEZ1P      { background-position: 16% 88% !important; }
.sprite--gear--x456DaAG      { background-position: 16% 92% !important; }
.sprite--gear--Zb09CAnT      { background-position: 16% 96% !important; }
.sprite--gear--Tools         { background-position: 16% 100% !important; }
.sprite--gear--23jOw3AR      { background-position: 20% 0 !important; }
.sprite--gear--27EtfYPp      { background-position: 20% 4% !important; }
.sprite--gear--2dGtTSKB      { background-position: 20% 8% !important; }
.sprite--gear--2dw5g2Hz      { background-position: 20% 12% !important; }
.sprite--gear--2FAuXUjt      { background-position: 20% 16% !important; }
.sprite--gear--2psvzPtT      { background-position: 20% 20% !important; }
.sprite--gear--3WBg6q95      { background-position: 20% 24% !important; }
.sprite--gear--5BIbIymL      { background-position: 20% 28% !important; }
.sprite--gear--6fDDRVuH      { background-position: 20% 32% !important; }
.sprite--gear--7R9fQwWo      { background-position: 20% 36% !important; }
.sprite--gear--AA3Ca1KG      { background-position: 20% 40% !important; }
.sprite--gear--BLoW3SZT      { background-position: 20% 44% !important; }
.sprite--gear--cRroYNSr      { background-position: 20% 48% !important; }
.sprite--gear--EiSIvIuq      { background-position: 20% 52% !important; }
.sprite--gear--GEoTQsXL      { background-position: 20% 56% !important; }
.sprite--gear--HZYvgxbd      { background-position: 20% 60% !important; }
.sprite--gear--JtfGwZbK      { background-position: 20% 64% !important; }
.sprite--gear--KwBvGbtV      { background-position: 20% 68% !important; }
.sprite--gear--MJA9V0is      { background-position: 20% 72% !important; }
.sprite--gear--oC8Agn60      { background-position: 20% 76% !important; }
.sprite--gear--q60XyJ5v      { background-position: 20% 80% !important; }
.sprite--gear--sglqm5Ti      { background-position: 20% 84% !important; }
.sprite--gear--UN3VfpfM      { background-position: 20% 88% !important; }
.sprite--gear--x7zBlPg1      { background-position: 20% 92% !important; }
.sprite--gear--zbOkcVsc      { background-position: 20% 96% !important; }
.sprite--gear--Torc          { background-position: 20% 100% !important; }
.sprite--gear--2xV61hK7      { background-position: 24% 0 !important; }
.sprite--gear--2YkM19si      { background-position: 24% 4% !important; }
.sprite--gear--37C3zYZj      { background-position: 24% 8% !important; }
.sprite--gear--3A7bqRfb      { background-position: 24% 12% !important; }
.sprite--gear--3bTvCR59      { background-position: 24% 16% !important; }
.sprite--gear--3C15304h      { background-position: 24% 20% !important; }
.sprite--gear--3yJAiAIv      { background-position: 24% 24% !important; }
.sprite--gear--5cjcEmDe      { background-position: 24% 28% !important; }
.sprite--gear--6KNBwbRG      { background-position: 24% 32% !important; }
.sprite--gear--7sb33YZ6      { background-position: 24% 36% !important; }
.sprite--gear--aaEqd8KK      { background-position: 24% 40% !important; }
.sprite--gear--bMcVKQLR      { background-position: 24% 44% !important; }
.sprite--gear--D4rS3w1E      { background-position: 24% 48% !important; }
.sprite--gear--eJ0gmaFa      { background-position: 24% 52% !important; }
.sprite--gear--GhykadHe      { background-position: 24% 56% !important; }
.sprite--gear--I43a1PwL      { background-position: 24% 60% !important; }
.sprite--gear--jtHkOvJS      { background-position: 24% 64% !important; }
.sprite--gear--KWVkxfzh      { background-position: 24% 68% !important; }
.sprite--gear--Mkp2WRBA      { background-position: 24% 72% !important; }
.sprite--gear--OcZU9VKX      { background-position: 24% 76% !important; }
.sprite--gear--qaSKirnk      { background-position: 24% 80% !important; }
.sprite--gear--SIhsmb3F      { background-position: 24% 84% !important; }
.sprite--gear--uN78tXrd      { background-position: 24% 88% !important; }
.sprite--gear--xbZQgYyR      { background-position: 24% 92% !important; }
.sprite--gear--zC9uViM1      { background-position: 24% 96% !important; }
.sprite--gear--War-Horn      { background-position: 24% 100% !important; }
.sprite--gear--45dHVN2t      { background-position: 28% 0 !important; }
.sprite--gear--4AoPkZqT      { background-position: 28% 4% !important; }
.sprite--gear--4ba8d3mB      { background-position: 28% 8% !important; }
.sprite--gear--4LSsFx41      { background-position: 28% 12% !important; }
.sprite--gear--4nUINtPT      { background-position: 28% 16% !important; }
.sprite--gear--4uxrhOYi      { background-position: 28% 20% !important; }
.sprite--gear--4Uy2JBeu      { background-position: 28% 24% !important; }
.sprite--gear--5EyMOvLj      { background-position: 28% 28% !important; }
.sprite--gear--6lwVDyjm      { background-position: 28% 32% !important; }
.sprite--gear--7sSL1BPQ      { background-position: 28% 36% !important; }
.sprite--gear--AcV7gmnG      { background-position: 28% 40% !important; }
.sprite--gear--bPraeaZ0      { background-position: 28% 44% !important; }
.sprite--gear--d5dVUOFO      { background-position: 28% 48% !important; }
.sprite--gear--EnHWjMb7      { background-position: 28% 52% !important; }
.sprite--gear--GlVeqpu4      { background-position: 28% 56% !important; }
.sprite--gear--i4cbfFMi      { background-position: 28% 60% !important; }
.sprite--gear--Jtlrd0kK      { background-position: 28% 64% !important; }
.sprite--gear--kWxIIVtn      { background-position: 28% 68% !important; }
.sprite--gear--mllRMKJm      { background-position: 28% 72% !important; }
.sprite--gear--od76BHLV      { background-position: 28% 76% !important; }
.sprite--gear--qaXm6nwA      { background-position: 28% 80% !important; }
.sprite--gear--SkaXmXND      { background-position: 28% 84% !important; }
.sprite--gear--uTXz2AbK      { background-position: 28% 88% !important; }
.sprite--gear--xe3RFdpQ      { background-position: 28% 92% !important; }
.sprite--gear--zdZ1VUHy      { background-position: 28% 96% !important; }
.sprite--gear--Warpaint      { background-position: 28% 100% !important; }
.sprite--gear--5IEClSqj      { background-position: 32% 0 !important; }
.sprite--gear--5LMQV1OM      { background-position: 32% 4% !important; }
.sprite--gear--5N9Dq2Mw      { background-position: 32% 8% !important; }
.sprite--gear--5ogBlmBw      { background-position: 32% 12% !important; }
.sprite--gear--5SeBTDgv      { background-position: 32% 16% !important; }
.sprite--gear--5V1E5k7a      { background-position: 32% 20% !important; }
.sprite--gear--5Wn9IKWK      { background-position: 32% 24% !important; }
.sprite--gear--5YFKwbqL      { background-position: 32% 28% !important; }
.sprite--gear--6O4PKmxx      { background-position: 32% 32% !important; }
.sprite--gear--82LSO4lO      { background-position: 32% 36% !important; }
.sprite--gear--aDzOSiih      { background-position: 32% 40% !important; }
.sprite--gear--bT955h15      { background-position: 32% 44% !important; }
.sprite--gear--DCsz5YGq      { background-position: 32% 48% !important; }
.sprite--gear--EnWLsEK6      { background-position: 32% 52% !important; }
.sprite--gear--GpoUUBVj      { background-position: 32% 56% !important; }
.sprite--gear--i5zyjMUO      { background-position: 32% 60% !important; }
.sprite--gear--Jtn9jBHl      { background-position: 32% 64% !important; }
.sprite--gear--kx2XJj2y      { background-position: 32% 68% !important; }
.sprite--gear--MMuWANQJ      { background-position: 32% 72% !important; }
.sprite--gear--OebxSISn      { background-position: 32% 76% !important; }
.sprite--gear--qdFt4k4h      { background-position: 32% 80% !important; }
.sprite--gear--spa9jjTl      { background-position: 32% 84% !important; }
.sprite--gear--uY2CKj2Y      { background-position: 32% 88% !important; }
.sprite--gear--XFnqHUmb      { background-position: 32% 92% !important; }
.sprite--gear--ZF2uj0Uw      { background-position: 32% 96% !important; }
.sprite--gear--6ufkA12R      { background-position: 36% 0 !important; }
.sprite--gear--6WI5vQjd      { background-position: 36% 4% !important; }
.sprite--gear--6wKBJIWY      { background-position: 36% 8% !important; }
.sprite--gear--72JvwLLY      { background-position: 36% 12% !important; }
.sprite--gear--72kMFeZf      { background-position: 36% 16% !important; }
.sprite--gear--75ml1Lc6      { background-position: 36% 20% !important; }
.sprite--gear--7b9Rr7Ve      { background-position: 36% 24% !important; }
.sprite--gear--7d2viBT0      { background-position: 36% 28% !important; }
.sprite--gear--7daSB4WR      { background-position: 36% 32% !important; }
.sprite--gear--83cGS1l4      { background-position: 36% 36% !important; }
.sprite--gear--AKMnoAla      { background-position: 36% 40% !important; }
.sprite--gear--C14IgCOm      { background-position: 36% 44% !important; }
.sprite--gear--de8xAoYp      { background-position: 36% 48% !important; }
.sprite--gear--eOOP35Kp      { background-position: 36% 52% !important; }
.sprite--gear--GptfKx7X      { background-position: 36% 56% !important; }
.sprite--gear--IdMK0zgG      { background-position: 36% 60% !important; }
.sprite--gear--JU0cVE8I      { background-position: 36% 64% !important; }
.sprite--gear--KXKN95hN      { background-position: 36% 68% !important; }
.sprite--gear--mMw4i7p3      { background-position: 36% 72% !important; }
.sprite--gear--oelavjaq      { background-position: 36% 76% !important; }
.sprite--gear--QEYDlVEE      { background-position: 36% 80% !important; }
.sprite--gear--spBKa6wE      { background-position: 36% 84% !important; }
.sprite--gear--V1NVcdk5      { background-position: 36% 88% !important; }
.sprite--gear--XgA2wODh      { background-position: 36% 92% !important; }
.sprite--gear--ZgQYjV4a      { background-position: 36% 96% !important; }
.sprite--gear--8bOfxbCk      { background-position: 40% 0 !important; }
.sprite--gear--8glJAau9      { background-position: 40% 4% !important; }
.sprite--gear--8jcgWeKn      { background-position: 40% 8% !important; }
.sprite--gear--8NltZgyY      { background-position: 40% 12% !important; }
.sprite--gear--8PIHar8j      { background-position: 40% 16% !important; }
.sprite--gear--8QrSPHRZ      { background-position: 40% 20% !important; }
.sprite--gear--92xFRHie      { background-position: 40% 24% !important; }
.sprite--gear--9cE9IMzX      { background-position: 40% 28% !important; }
.sprite--gear--9Ecdt1XV      { background-position: 40% 32% !important; }
.sprite--gear--9hqUkjjw      { background-position: 40% 36% !important; }
.sprite--gear--ALRHt8ce      { background-position: 40% 40% !important; }
.sprite--gear--C1vejvUW      { background-position: 40% 44% !important; }
.sprite--gear--Dfjmh43t      { background-position: 40% 48% !important; }
.sprite--gear--ex7h2mf9      { background-position: 40% 52% !important; }
.sprite--gear--gQCSQzjp      { background-position: 40% 56% !important; }
.sprite--gear--IfbxaWGD      { background-position: 40% 60% !important; }
.sprite--gear--JvFpsWp4      { background-position: 40% 64% !important; }
.sprite--gear--l03K6AX3      { background-position: 40% 68% !important; }
.sprite--gear--mrsPOtC5      { background-position: 40% 72% !important; }
.sprite--gear--ojtSHtEF      { background-position: 40% 76% !important; }
.sprite--gear--qlGk6rud      { background-position: 40% 80% !important; }
.sprite--gear--sQEHnHhs      { background-position: 40% 84% !important; }
.sprite--gear--v9WDTQEC      { background-position: 40% 88% !important; }
.sprite--gear--xGqXytvM      { background-position: 40% 92% !important; }
.sprite--gear--zhnvDjje      { background-position: 40% 96% !important; }
.sprite--gear--AMl47mXY      { background-position: 44% 0 !important; }
.sprite--gear--AOcdKdH0      { background-position: 44% 4% !important; }
.sprite--gear--AOT2vJdL      { background-position: 44% 8% !important; }
.sprite--gear--asas6mSt      { background-position: 44% 12% !important; }
.sprite--gear--AtaKpOw4      { background-position: 44% 16% !important; }
.sprite--gear--atyZ69Is      { background-position: 44% 20% !important; }
.sprite--gear--AwXr3pmA      { background-position: 44% 24% !important; }
.sprite--gear--axLN9Gmr      { background-position: 44% 28% !important; }
.sprite--gear--aYpKhxRK      { background-position: 44% 32% !important; }
.sprite--gear--aYydxh7E      { background-position: 44% 36% !important; }
.sprite--gear--B3BptoqW      { background-position: 44% 40% !important; }
.sprite--gear--c2F2LOnX      { background-position: 44% 44% !important; }
.sprite--gear--dgOZN7Ab      { background-position: 44% 48% !important; }
.sprite--gear--eXNE6aii      { background-position: 44% 52% !important; }
.sprite--gear--GR6pGmvi      { background-position: 44% 56% !important; }
.sprite--gear--IgkutQ9c      { background-position: 44% 60% !important; }
.sprite--gear--JVl8DGXX      { background-position: 44% 64% !important; }
.sprite--gear--L2zxifjx      { background-position: 44% 68% !important; }
.sprite--gear--MSHxF1oN      { background-position: 44% 72% !important; }
.sprite--gear--OlKoj6DF      { background-position: 44% 76% !important; }
.sprite--gear--Qryn2Ut8      { background-position: 44% 80% !important; }
.sprite--gear--sqs28ClC      { background-position: 44% 84% !important; }
.sprite--gear--vAplM7W6      { background-position: 44% 88% !important; }
.sprite--gear--xh49iSYp      { background-position: 44% 92% !important; }
.sprite--gear--zkTMnMk0      { background-position: 44% 96% !important; }
.sprite--gear--c6xNVllr      { background-position: 48% 0 !important; }
.sprite--gear--C8q9QSvu      { background-position: 48% 4% !important; }
.sprite--gear--cAdb3xVL      { background-position: 48% 8% !important; }
.sprite--gear--CaGenf1T      { background-position: 48% 12% !important; }
.sprite--gear--Cblyb5xg      { background-position: 48% 16% !important; }
.sprite--gear--CCh8JS8o      { background-position: 48% 20% !important; }
.sprite--gear--cEAx5Vny      { background-position: 48% 24% !important; }
.sprite--gear--cEPSFTsf      { background-position: 48% 28% !important; }
.sprite--gear--CGdgJlIa      { background-position: 48% 32% !important; }
.sprite--gear--CHpSnZI9      { background-position: 48% 36% !important; }
.sprite--gear--cJJspynU      { background-position: 48% 40% !important; }
.sprite--gear--cKQStwHa      { background-position: 48% 44% !important; }
.sprite--gear--DHbWen2M      { background-position: 48% 48% !important; }
.sprite--gear--EyL6Om5l      { background-position: 48% 52% !important; }
.sprite--gear--GrQJj4Hk      { background-position: 48% 56% !important; }
.sprite--gear--ih6VqB1p      { background-position: 48% 60% !important; }
.sprite--gear--JWaqXFzi      { background-position: 48% 64% !important; }
.sprite--gear--L5VvUdps      { background-position: 48% 68% !important; }
.sprite--gear--Mugl1Tmp      { background-position: 48% 72% !important; }
.sprite--gear--olksYcGO      { background-position: 48% 76% !important; }
.sprite--gear--QUUxFslP      { background-position: 48% 80% !important; }
.sprite--gear--sSrR2bKY      { background-position: 48% 84% !important; }
.sprite--gear--vBFrWF2q      { background-position: 48% 88% !important; }
.sprite--gear--xi5lwBA7      { background-position: 48% 92% !important; }
.sprite--gear--ZlDHyfhr      { background-position: 48% 96% !important; }
.sprite--gear--dItKP21o      { background-position: 52% 0 !important; }
.sprite--gear--DKvLnhvZ      { background-position: 52% 4% !important; }
.sprite--gear--DriGQHpn      { background-position: 52% 8% !important; }
.sprite--gear--DSGuqAKr      { background-position: 52% 12% !important; }
.sprite--gear--dtVZpVxu      { background-position: 52% 16% !important; }
.sprite--gear--DvOuL55C      { background-position: 52% 20% !important; }
.sprite--gear--DXq76hXx      { background-position: 52% 24% !important; }
.sprite--gear--DYas5e5D      { background-position: 52% 28% !important; }
.sprite--gear--E9E9f6EF      { background-position: 52% 32% !important; }
.sprite--gear--EAcs9T31      { background-position: 52% 36% !important; }
.sprite--gear--eCNgR01i      { background-position: 52% 40% !important; }
.sprite--gear--EDq8eR3a      { background-position: 52% 44% !important; }
.sprite--gear--edYFMPgw      { background-position: 52% 48% !important; }
.sprite--gear--EZiQfv1b      { background-position: 52% 52% !important; }
.sprite--gear--GRUvSD7u      { background-position: 52% 56% !important; }
.sprite--gear--IJUfw15F      { background-position: 52% 60% !important; }
.sprite--gear--JZ6DKM1N      { background-position: 52% 64% !important; }
.sprite--gear--lAJ7MXNm      { background-position: 52% 68% !important; }
.sprite--gear--MV1AuRrz      { background-position: 52% 72% !important; }
.sprite--gear--OmwTZsfa      { background-position: 52% 76% !important; }
.sprite--gear--qVajFyic      { background-position: 52% 80% !important; }
.sprite--gear--su35Nj3B      { background-position: 52% 84% !important; }
.sprite--gear--VBUIG7U4      { background-position: 52% 88% !important; }
.sprite--gear--XJ4HPl87      { background-position: 52% 92% !important; }
.sprite--gear--ZlG1mh6P      { background-position: 52% 96% !important; }
.sprite--gear--f0vgEEEm      { background-position: 56% 0 !important; }
.sprite--gear--F8Q4adU2      { background-position: 56% 4% !important; }
.sprite--gear--fabbUFk9      { background-position: 56% 8% !important; }
.sprite--gear--fcvtfbiT      { background-position: 56% 12% !important; }
.sprite--gear--FCzU10Ts      { background-position: 56% 16% !important; }
.sprite--gear--fDDTjUJk      { background-position: 56% 20% !important; }
.sprite--gear--FGgx04zB      { background-position: 56% 24% !important; }
.sprite--gear--fHKkGA4A      { background-position: 56% 28% !important; }
.sprite--gear--fI4R4Tn4      { background-position: 56% 32% !important; }
.sprite--gear--FIDYAZkW      { background-position: 56% 36% !important; }
.sprite--gear--FIxnClYE      { background-position: 56% 40% !important; }
.sprite--gear--FjAIKkOh      { background-position: 56% 44% !important; }
.sprite--gear--FMRLaROw      { background-position: 56% 48% !important; }
.sprite--gear--fPfCN7UP      { background-position: 56% 52% !important; }
.sprite--gear--GUf3Igsb      { background-position: 56% 56% !important; }
.sprite--gear--IkVYoKAa      { background-position: 56% 60% !important; }
.sprite--gear--JzmBxLoG      { background-position: 56% 64% !important; }
.sprite--gear--lCKzpgjC      { background-position: 56% 68% !important; }
.sprite--gear--mVNy7K3C      { background-position: 56% 72% !important; }
.sprite--gear--onvi9sQw      { background-position: 56% 76% !important; }
.sprite--gear--qxPoCcss      { background-position: 56% 80% !important; }
.sprite--gear--sVqpLXJs      { background-position: 56% 84% !important; }
.sprite--gear--vCkX1f7N      { background-position: 56% 88% !important; }
.sprite--gear--XM40wdaO      { background-position: 56% 92% !important; }
.sprite--gear--Zmm9mp3e      { background-position: 56% 96% !important; }
.sprite--gear--gWses6UG      { background-position: 60% 0 !important; }
.sprite--gear--gxFHbTSC      { background-position: 60% 4% !important; }
.sprite--gear--GxSVIZIP      { background-position: 60% 8% !important; }
.sprite--gear--GYFLAGje      { background-position: 60% 12% !important; }
.sprite--gear--GYOyPCyP      { background-position: 60% 16% !important; }
.sprite--gear--gZE4SdW0      { background-position: 60% 20% !important; }
.sprite--gear--H3Hpz0Ii      { background-position: 60% 24% !important; }
.sprite--gear--HfIFzvAk      { background-position: 60% 28% !important; }
.sprite--gear--HHEFhO0i      { background-position: 60% 32% !important; }
.sprite--gear--HiIgFBOj      { background-position: 60% 36% !important; }
.sprite--gear--HjKoI40F      { background-position: 60% 40% !important; }
.sprite--gear--hlUI47Ft      { background-position: 60% 44% !important; }
.sprite--gear--HooMquug      { background-position: 60% 48% !important; }
.sprite--gear--hQw5hwct      { background-position: 60% 52% !important; }
.sprite--gear--Hrd8AW0G      { background-position: 60% 56% !important; }
.sprite--gear--imEcMyuV      { background-position: 60% 60% !important; }
.sprite--gear--jzvdo6uV      { background-position: 60% 64% !important; }
.sprite--gear--lEKQPX8e      { background-position: 60% 68% !important; }
.sprite--gear--mwgLX6LW      { background-position: 60% 72% !important; }
.sprite--gear--OQBvfKsR      { background-position: 60% 76% !important; }
.sprite--gear--QYW1rzNv      { background-position: 60% 80% !important; }
.sprite--gear--sVRWg36t      { background-position: 60% 84% !important; }
.sprite--gear--vcNU9ceR      { background-position: 60% 88% !important; }
.sprite--gear--Xn01rfTi      { background-position: 60% 92% !important; }
.sprite--gear--znkhrcYS      { background-position: 60% 96% !important; }
.sprite--gear--IMhbIgSe      { background-position: 64% 0 !important; }
.sprite--gear--IqTWoQX3      { background-position: 64% 4% !important; }
.sprite--gear--ir0cktcb      { background-position: 64% 8% !important; }
.sprite--gear--irRje7Zt      { background-position: 64% 12% !important; }
.sprite--gear--iTgDkLRN      { background-position: 64% 16% !important; }
.sprite--gear--iTx8OkcB      { background-position: 64% 20% !important; }
.sprite--gear--IuhZFZg0      { background-position: 64% 24% !important; }
.sprite--gear--iW94LWvZ      { background-position: 64% 28% !important; }
.sprite--gear--IyQ2S5ii      { background-position: 64% 32% !important; }
.sprite--gear--J5CUm88j      { background-position: 64% 36% !important; }
.sprite--gear--j7W7JK94      { background-position: 64% 40% !important; }
.sprite--gear--JARANdba      { background-position: 64% 44% !important; }
.sprite--gear--jaUFyefO      { background-position: 64% 48% !important; }
.sprite--gear--jDgDCrtf      { background-position: 64% 52% !important; }
.sprite--gear--JFw4OfR5      { background-position: 64% 56% !important; }
.sprite--gear--JGDqQM5y      { background-position: 64% 60% !important; }
.sprite--gear--k18YNm74      { background-position: 64% 64% !important; }
.sprite--gear--lEr6Gaak      { background-position: 64% 68% !important; }
.sprite--gear--MXeVV17Q      { background-position: 64% 72% !important; }
.sprite--gear--oYi1iVJG      { background-position: 64% 76% !important; }
.sprite--gear--r0qJM0h8      { background-position: 64% 80% !important; }
.sprite--gear--sX7ljkg0      { background-position: 64% 84% !important; }
.sprite--gear--VEtlgsrY      { background-position: 64% 88% !important; }
.sprite--gear--xnEa0gbm      { background-position: 64% 92% !important; }
.sprite--gear--ZNRCU2DK      { background-position: 64% 96% !important; }
.sprite--gear--k1UKk37F      { background-position: 68% 0 !important; }
.sprite--gear--K4htoVDZ      { background-position: 68% 4% !important; }
.sprite--gear--k4NJBtrR      { background-position: 68% 8% !important; }
.sprite--gear--k60UZTUw      { background-position: 68% 12% !important; }
.sprite--gear--K7UeayA1      { background-position: 68% 16% !important; }
.sprite--gear--kAevzKay      { background-position: 68% 20% !important; }
.sprite--gear--kawnlEtW      { background-position: 68% 24% !important; }
.sprite--gear--KAyLm0Fw      { background-position: 68% 28% !important; }
.sprite--gear--kBrtCBpz      { background-position: 68% 32% !important; }
.sprite--gear--KcaMUKZR      { background-position: 68% 36% !important; }
.sprite--gear--kCpNITM9      { background-position: 68% 40% !important; }
.sprite--gear--kDevYoTV      { background-position: 68% 44% !important; }
.sprite--gear--KdP4UAYX      { background-position: 68% 48% !important; }
.sprite--gear--Ke3SjxxD      { background-position: 68% 52% !important; }
.sprite--gear--KeSGPK9H      { background-position: 68% 56% !important; }
.sprite--gear--kF0GbdFL      { background-position: 68% 60% !important; }
.sprite--gear--kFMfMVX5      { background-position: 68% 64% !important; }
.sprite--gear--lhgGG9pr      { background-position: 68% 68% !important; }
.sprite--gear--mxuLgAT4      { background-position: 68% 72% !important; }
.sprite--gear--OyoLIbnh      { background-position: 68% 76% !important; }
.sprite--gear--R4Gkm50O      { background-position: 68% 80% !important; }
.sprite--gear--t04DCw01      { background-position: 68% 84% !important; }
.sprite--gear--vf9qylMP      { background-position: 68% 88% !important; }
.sprite--gear--xQH9XqTh      { background-position: 68% 92% !important; }
.sprite--gear--ZPT7upIM      { background-position: 68% 96% !important; }
.sprite--gear--lkaW2dNZ      { background-position: 72% 0 !important; }
.sprite--gear--LlHkCZCe      { background-position: 72% 4% !important; }
.sprite--gear--Lm4aMlfE      { background-position: 72% 8% !important; }
.sprite--gear--LNZNu2Au      { background-position: 72% 12% !important; }
.sprite--gear--lOGqetPz      { background-position: 72% 16% !important; }
.sprite--gear--lqZE7Bjg      { background-position: 72% 20% !important; }
.sprite--gear--lS9bTurk      { background-position: 72% 24% !important; }
.sprite--gear--lveYmaFa      { background-position: 72% 28% !important; }
.sprite--gear--lVMfzoPQ      { background-position: 72% 32% !important; }
.sprite--gear--LwUt4cbg      { background-position: 72% 36% !important; }
.sprite--gear--lXCdYK1m      { background-position: 72% 40% !important; }
.sprite--gear--lxOOQxmT      { background-position: 72% 44% !important; }
.sprite--gear--Lzif2vIR      { background-position: 72% 48% !important; }
.sprite--gear--m1mmkU0j      { background-position: 72% 52% !important; }
.sprite--gear--M3glm0TN      { background-position: 72% 56% !important; }
.sprite--gear--M3wXkUNK      { background-position: 72% 60% !important; }
.sprite--gear--mBF3PZUn      { background-position: 72% 64% !important; }
.sprite--gear--mfLs8gS3      { background-position: 72% 68% !important; }
.sprite--gear--n1DgcHAG      { background-position: 72% 72% !important; }
.sprite--gear--ozDQ4RV6      { background-position: 72% 76% !important; }
.sprite--gear--r4TRcoQR      { background-position: 72% 80% !important; }
.sprite--gear--T0XPG4Qj      { background-position: 72% 84% !important; }
.sprite--gear--vgXDRcZ0      { background-position: 72% 88% !important; }
.sprite--gear--Xrut8QTb      { background-position: 72% 92% !important; }
.sprite--gear--zPv9auWQ      { background-position: 72% 96% !important; }
.sprite--gear--n1jlzZsU      { background-position: 76% 0 !important; }
.sprite--gear--N2LOsJ1a      { background-position: 76% 4% !important; }
.sprite--gear--n2s4efNP      { background-position: 76% 8% !important; }
.sprite--gear--N6blqUpQ      { background-position: 76% 12% !important; }
.sprite--gear--N9341flm      { background-position: 76% 16% !important; }
.sprite--gear--NbdMGfKc      { background-position: 76% 20% !important; }
.sprite--gear--nBxWKuoM      { background-position: 76% 24% !important; }
.sprite--gear--nchNH1s9      { background-position: 76% 28% !important; }
.sprite--gear--nDE5IJE3      { background-position: 76% 32% !important; }
.sprite--gear--NDxTY5RF      { background-position: 76% 36% !important; }
.sprite--gear--nGDDMPap      { background-position: 76% 40% !important; }
.sprite--gear--NHUteRdn      { background-position: 76% 44% !important; }
.sprite--gear--nidh2cC8      { background-position: 76% 48% !important; }
.sprite--gear--nJZmayay      { background-position: 76% 52% !important; }
.sprite--gear--NKdJcf1p      { background-position: 76% 56% !important; }
.sprite--gear--nMJBBpfj      { background-position: 76% 60% !important; }
.sprite--gear--nNnOmVfM      { background-position: 76% 64% !important; }
.sprite--gear--NOEX2vz9      { background-position: 76% 68% !important; }
.sprite--gear--Nr3vjuCr      { background-position: 76% 72% !important; }
.sprite--gear--p1APhlaJ      { background-position: 76% 76% !important; }
.sprite--gear--r81IfEQs      { background-position: 76% 80% !important; }
.sprite--gear--t1zgCTba      { background-position: 76% 84% !important; }
.sprite--gear--vjoZiD5C      { background-position: 76% 88% !important; }
.sprite--gear--XSvfSLB4      { background-position: 76% 92% !important; }
.sprite--gear--zqkhLCBb      { background-position: 76% 96% !important; }
.sprite--gear--P29bgsN0      { background-position: 80% 0 !important; }
.sprite--gear--p4zKgAu7      { background-position: 80% 4% !important; }
.sprite--gear--p8b4Ja2A      { background-position: 80% 8% !important; }
.sprite--gear--PaGL4bHw      { background-position: 80% 12% !important; }
.sprite--gear--pAnrYr7V      { background-position: 80% 16% !important; }
.sprite--gear--pE2oKL9d      { background-position: 80% 20% !important; }
.sprite--gear--pe4ijMcW      { background-position: 80% 24% !important; }
.sprite--gear--PEnUbgcz      { background-position: 80% 28% !important; }
.sprite--gear--pEYsmtn9      { background-position: 80% 32% !important; }
.sprite--gear--pGIyDU51      { background-position: 80% 36% !important; }
.sprite--gear--PIg0AcYG      { background-position: 80% 40% !important; }
.sprite--gear--PInDz54K      { background-position: 80% 44% !important; }
.sprite--gear--piZUcaR8      { background-position: 80% 48% !important; }
.sprite--gear--PjTpBLww      { background-position: 80% 52% !important; }
.sprite--gear--pJXo1euH      { background-position: 80% 56% !important; }
.sprite--gear--Pn3eg4LE      { background-position: 80% 60% !important; }
.sprite--gear--POIHrse1      { background-position: 80% 64% !important; }
.sprite--gear--PphTsozI      { background-position: 80% 68% !important; }
.sprite--gear--pRfo6yzJ      { background-position: 80% 72% !important; }
.sprite--gear--pV3YQaUR      { background-position: 80% 76% !important; }
.sprite--gear--rAAGu4eW      { background-position: 80% 80% !important; }
.sprite--gear--T386g36K      { background-position: 80% 84% !important; }
.sprite--gear--vK6pJiC0      { background-position: 80% 88% !important; }
.sprite--gear--XTLAz16M      { background-position: 80% 92% !important; }
.sprite--gear--ZSdwLX8m      { background-position: 80% 96% !important; }
.sprite--gear--rbMqHYxn      { background-position: 84% 0 !important; }
.sprite--gear--RCNz2glv      { background-position: 84% 4% !important; }
.sprite--gear--RDraFM8o      { background-position: 84% 8% !important; }
.sprite--gear--Revtgmpc      { background-position: 84% 12% !important; }
.sprite--gear--rEZdiBc1      { background-position: 84% 16% !important; }
.sprite--gear--rJSF6o8n      { background-position: 84% 20% !important; }
.sprite--gear--rLlHklmw      { background-position: 84% 24% !important; }
.sprite--gear--rLtlTG8P      { background-position: 84% 28% !important; }
.sprite--gear--rM7hiQZG      { background-position: 84% 32% !important; }
.sprite--gear--RPHVlHjx      { background-position: 84% 36% !important; }
.sprite--gear--rqtQubWn      { background-position: 84% 40% !important; }
.sprite--gear--rsO64XEs      { background-position: 84% 44% !important; }
.sprite--gear--RwnxNkm6      { background-position: 84% 48% !important; }
.sprite--gear--RwVoOlEN      { background-position: 84% 52% !important; }
.sprite--gear--RyaOTpY8      { background-position: 84% 56% !important; }
.sprite--gear--RyJTARj0      { background-position: 84% 60% !important; }
.sprite--gear--rzBj3TkY      { background-position: 84% 64% !important; }
.sprite--gear--rziWROT5      { background-position: 84% 68% !important; }
.sprite--gear--s2WzRhRe      { background-position: 84% 72% !important; }
.sprite--gear--S3MJOTf4      { background-position: 84% 76% !important; }
.sprite--gear--S7HBPc26      { background-position: 84% 80% !important; }
.sprite--gear--t9HrqodS      { background-position: 84% 84% !important; }
.sprite--gear--Vl88wKKn      { background-position: 84% 88% !important; }
.sprite--gear--xUyoDP5i      { background-position: 84% 92% !important; }
.sprite--gear--ZSotCYqy      { background-position: 84% 96% !important; }
.sprite--gear--TaS1KxBo      { background-position: 88% 0 !important; }
.sprite--gear--tasXnb49      { background-position: 88% 4% !important; }
.sprite--gear--teDWMvSk      { background-position: 88% 8% !important; }
.sprite--gear--TeeUogr8      { background-position: 88% 12% !important; }
.sprite--gear--tf4Wlsg9      { background-position: 88% 16% !important; }
.sprite--gear--TFRorjm2      { background-position: 88% 20% !important; }
.sprite--gear--TfwqrQUx      { background-position: 88% 24% !important; }
.sprite--gear--tgOnx8GY      { background-position: 88% 28% !important; }
.sprite--gear--tjkNeKIw      { background-position: 88% 32% !important; }
.sprite--gear--TKyDaYCr      { background-position: 88% 36% !important; }
.sprite--gear--TLiSIa2v      { background-position: 88% 40% !important; }
.sprite--gear--tmx2ciVo      { background-position: 88% 44% !important; }
.sprite--gear--tncXgO7d      { background-position: 88% 48% !important; }
.sprite--gear--tp2UEzc2      { background-position: 88% 52% !important; }
.sprite--gear--tQ9GLD5t      { background-position: 88% 56% !important; }
.sprite--gear--trinubKe      { background-position: 88% 60% !important; }
.sprite--gear--tU1qvETB      { background-position: 88% 64% !important; }
.sprite--gear--TWFhysIW      { background-position: 88% 68% !important; }
.sprite--gear--u7G8k6le      { background-position: 88% 72% !important; }
.sprite--gear--U9yUYYsv      { background-position: 88% 76% !important; }
.sprite--gear--UbUGa4pO      { background-position: 88% 80% !important; }
.sprite--gear--UDbTaSyq      { background-position: 88% 84% !important; }
.sprite--gear--VLSW8Ye4      { background-position: 88% 88% !important; }
.sprite--gear--XVdFENQY      { background-position: 88% 92% !important; }
.sprite--gear--ArmorBuilding { background-position: 88% 96% !important; }
.sprite--gear--VnYWa9AY      { background-position: 92% 0 !important; }
.sprite--gear--vNzEDaIC      { background-position: 92% 4% !important; }
.sprite--gear--vPe0pZ8j      { background-position: 92% 8% !important; }
.sprite--gear--VRUcpFZj      { background-position: 92% 12% !important; }
.sprite--gear--VskSzXlh      { background-position: 92% 16% !important; }
.sprite--gear--VtPEFsNc      { background-position: 92% 20% !important; }
.sprite--gear--vTVABUIa      { background-position: 92% 24% !important; }
.sprite--gear--VtWncdi1      { background-position: 92% 28% !important; }
.sprite--gear--VuO99N8y      { background-position: 92% 32% !important; }
.sprite--gear--VWMJT50y      { background-position: 92% 36% !important; }
.sprite--gear--VykaoYhD      { background-position: 92% 40% !important; }
.sprite--gear--W1SIQXQE      { background-position: 92% 44% !important; }
.sprite--gear--w3qfKRtv      { background-position: 92% 48% !important; }
.sprite--gear--W5SGO8G7      { background-position: 92% 52% !important; }
.sprite--gear--WC06xqZQ      { background-position: 92% 56% !important; }
.sprite--gear--wCpiwGOK      { background-position: 92% 60% !important; }
.sprite--gear--WDfB2aW1      { background-position: 92% 64% !important; }
.sprite--gear--WDLUDks3      { background-position: 92% 68% !important; }
.sprite--gear--wiJbvA4n      { background-position: 92% 72% !important; }
.sprite--gear--WjLTzRY6      { background-position: 92% 76% !important; }
.sprite--gear--wmNfAAEC      { background-position: 92% 80% !important; }
.sprite--gear--WNBIzBS0      { background-position: 92% 84% !important; }
.sprite--gear--wnHVmRI2      { background-position: 92% 88% !important; }
.sprite--gear--XwvZIGmv      { background-position: 92% 92% !important; }
.sprite--gear--ArmorCloth    { background-position: 92% 96% !important; }
.sprite--gear--xXrh5gPZ      { background-position: 96% 0 !important; }
.sprite--gear--xYG4X44P      { background-position: 96% 4% !important; }
.sprite--gear--y5ePdRo4      { background-position: 96% 8% !important; }
.sprite--gear--y8Nmazeg      { background-position: 96% 12% !important; }
.sprite--gear--YaUTZAUa      { background-position: 96% 16% !important; }
.sprite--gear--yCbbbQFl      { background-position: 96% 20% !important; }
.sprite--gear--Ye3zXoIN      { background-position: 96% 24% !important; }
.sprite--gear--yEe7kPJz      { background-position: 96% 28% !important; }
.sprite--gear--YHjT7nZA      { background-position: 96% 32% !important; }
.sprite--gear--yIIJu8wA      { background-position: 96% 36% !important; }
.sprite--gear--ylJFWGeE      { background-position: 96% 40% !important; }
.sprite--gear--YmCLdXss      { background-position: 96% 44% !important; }
.sprite--gear--ymRzphb1      { background-position: 96% 48% !important; }
.sprite--gear--YO9gbBgA      { background-position: 96% 52% !important; }
.sprite--gear--yOAgiP5s      { background-position: 96% 56% !important; }
.sprite--gear--yoaTkVDV      { background-position: 96% 60% !important; }
.sprite--gear--Ypx0T5tb      { background-position: 96% 64% !important; }
.sprite--gear--YQGrAOKZ      { background-position: 96% 68% !important; }
.sprite--gear--ySyKHemp      { background-position: 96% 72% !important; }
.sprite--gear--yWm7y41p      { background-position: 96% 76% !important; }
.sprite--gear--YYLNLfly      { background-position: 96% 80% !important; }
.sprite--gear--Z1jw7X5w      { background-position: 96% 84% !important; }
.sprite--gear--Z3sNTKzg      { background-position: 96% 88% !important; }
.sprite--gear--Z4PQyBrn      { background-position: 96% 92% !important; }
.sprite--gear--ArmorLgt      { background-position: 96% 96% !important; }
.sprite--gear--ArmorMed      { background-position: 100% 0 !important; }
.sprite--gear--ArmorPlt      { background-position: 100% 4% !important; }
.sprite--gear--Arrows        { background-position: 100% 8% !important; }
.sprite--gear--BallistaArms  { background-position: 100% 12% !important; }
.sprite--gear--Banner        { background-position: 100% 16% !important; }
.sprite--gear--BellyBows     { background-position: 100% 20% !important; }
.sprite--gear--Bows          { background-position: 100% 24% !important; }
.sprite--gear--Clubs2H       { background-position: 100% 28% !important; }
.sprite--gear--FireThrowers  { background-position: 100% 32% !important; }
.sprite--gear--FishingNet    { background-position: 100% 36% !important; }
.sprite--gear--Gear          { background-position: 100% 40% !important; }
.sprite--gear--GearBldg      { background-position: 100% 44% !important; }
.sprite--gear--GearBoat      { background-position: 100% 48% !important; }
.sprite--gear--GearPriest    { background-position: 100% 52% !important; }
.sprite--gear--GearSiege     { background-position: 100% 56% !important; }
.sprite--gear--GearVill      { background-position: 100% 60% !important; }
.sprite--gear--Generic       { background-position: 100% 64% !important; }
.sprite--gear--GreatAxe      { background-position: 100% 68% !important; }
.sprite--gear--Javalins      { background-position: 100% 72% !important; }
.sprite--gear--Merchant      { background-position: 100% 76% !important; }
.sprite--gear--RamHeads      { background-position: 100% 80% !important; }
.sprite--gear--Scepter       { background-position: 100% 84% !important; }
.sprite--gear--ScoutSpecial1H{ background-position: 100% 88% !important; }
.sprite--gear--Shields       { background-position: 100% 92% !important; }
.sprite--gear--Sling         { background-position: 100% 96% !important; }
