.sprite--gear {
  background-image: url("/assets/sprites/gear.webp");
  width: 64px;
  height: 64px;
}
.sprite--gear--05OmQj2w      { background-position: 0 0 !important; }
.sprite--gear--0GsKSkBI      { background-position: 0 4.545455% !important; }
.sprite--gear--1DMUkE0w      { background-position: 0 9.090909% !important; }
.sprite--gear--1sTU8Dmt      { background-position: 0 13.636364% !important; }
.sprite--gear--2kjN3wmP      { background-position: 0 18.181818% !important; }
.sprite--gear--4AUM9rPO      { background-position: 0 22.727273% !important; }
.sprite--gear--5C1VYvlK      { background-position: 0 27.272727% !important; }
.sprite--gear--6w9rwdyC      { background-position: 0 31.818182% !important; }
.sprite--gear--95BEmdNF      { background-position: 0 36.363636% !important; }
.sprite--gear--BQxwLvtA      { background-position: 0 40.909091% !important; }
.sprite--gear--DrIgDyBa      { background-position: 0 45.454545% !important; }
.sprite--gear--H1fUCyiz      { background-position: 0 50% !important; }
.sprite--gear--JQuWG55z      { background-position: 0 54.545455% !important; }
.sprite--gear--M26RLQdd      { background-position: 0 59.090909% !important; }
.sprite--gear--PqyHfK6O      { background-position: 0 63.636364% !important; }
.sprite--gear--SD4bcSJ4      { background-position: 0 68.181818% !important; }
.sprite--gear--X8mQlqGo      { background-position: 0 72.727273% !important; }
.sprite--gear--b3vw1zPe      { background-position: 0 77.272727% !important; }
.sprite--gear--fRO2Zg19      { background-position: 0 81.818182% !important; }
.sprite--gear--jQpo2sgB      { background-position: 0 86.363636% !important; }
.sprite--gear--oBnBi27K      { background-position: 0 90.909091% !important; }
.sprite--gear--u1ww4pO5      { background-position: 0 95.454545% !important; }
.sprite--gear--zJkAoWa3      { background-position: 0 100% !important; }
.sprite--gear--0955LCad      { background-position: 4.347826% 0 !important; }
.sprite--gear--0L3afaYc      { background-position: 4.347826% 4.545455% !important; }
.sprite--gear--1UUN2EbQ      { background-position: 4.347826% 9.090909% !important; }
.sprite--gear--1wre9t8y      { background-position: 4.347826% 13.636364% !important; }
.sprite--gear--2y1e9So1      { background-position: 4.347826% 18.181818% !important; }
.sprite--gear--4D5P2Mpb      { background-position: 4.347826% 22.727273% !important; }
.sprite--gear--5DYNjoug      { background-position: 4.347826% 27.272727% !important; }
.sprite--gear--6wP0ayjU      { background-position: 4.347826% 31.818182% !important; }
.sprite--gear--97loic2b      { background-position: 4.347826% 36.363636% !important; }
.sprite--gear--Bhl2DbKt      { background-position: 4.347826% 40.909091% !important; }
.sprite--gear--E0H11d2s      { background-position: 4.347826% 45.454545% !important; }
.sprite--gear--H5shTvNA      { background-position: 4.347826% 50% !important; }
.sprite--gear--JRDliX7p      { background-position: 4.347826% 54.545455% !important; }
.sprite--gear--ML4ThjkA      { background-position: 4.347826% 59.090909% !important; }
.sprite--gear--PutmjTnQ      { background-position: 4.347826% 63.636364% !important; }
.sprite--gear--SL4wDYGX      { background-position: 4.347826% 68.181818% !important; }
.sprite--gear--XEAczOwQ      { background-position: 4.347826% 72.727273% !important; }
.sprite--gear--bBmsZY1J      { background-position: 4.347826% 77.272727% !important; }
.sprite--gear--fRVKUV7g      { background-position: 4.347826% 81.818182% !important; }
.sprite--gear--jir36FX9      { background-position: 4.347826% 86.363636% !important; }
.sprite--gear--oMiH6i24      { background-position: 4.347826% 90.909091% !important; }
.sprite--gear--uCwV6Pij      { background-position: 4.347826% 95.454545% !important; }
.sprite--gear--zKqyTIX4      { background-position: 4.347826% 100% !important; }
.sprite--gear--0QVmNh08      { background-position: 8.695652% 0 !important; }
.sprite--gear--18d9NPbl      { background-position: 8.695652% 4.545455% !important; }
.sprite--gear--1Vyql6nx      { background-position: 8.695652% 9.090909% !important; }
.sprite--gear--23vVzb6O      { background-position: 8.695652% 13.636364% !important; }
.sprite--gear--2zb619Ly      { background-position: 8.695652% 18.181818% !important; }
.sprite--gear--4Kr0l0Mi      { background-position: 8.695652% 22.727273% !important; }
.sprite--gear--5IRBO2AG      { background-position: 8.695652% 27.272727% !important; }
.sprite--gear--73w1Tn3H      { background-position: 8.695652% 31.818182% !important; }
.sprite--gear--9BHqsxEY      { background-position: 8.695652% 36.363636% !important; }
.sprite--gear--BixpF4ad      { background-position: 8.695652% 40.909091% !important; }
.sprite--gear--E43mACFq      { background-position: 8.695652% 45.454545% !important; }
.sprite--gear--H7cHwDkb      { background-position: 8.695652% 50% !important; }
.sprite--gear--JVSlQXMT      { background-position: 8.695652% 54.545455% !important; }
.sprite--gear--MhncO8PY      { background-position: 8.695652% 59.090909% !important; }
.sprite--gear--Q0Y5IQmX      { background-position: 8.695652% 63.636364% !important; }
.sprite--gear--STOtf3Ea      { background-position: 8.695652% 68.181818% !important; }
.sprite--gear--XMjNUWEj      { background-position: 8.695652% 72.727273% !important; }
.sprite--gear--bLa7gsYm      { background-position: 8.695652% 77.272727% !important; }
.sprite--gear--fTokua34      { background-position: 8.695652% 81.818182% !important; }
.sprite--gear--jlWdJ7Ns      { background-position: 8.695652% 86.363636% !important; }
.sprite--gear--oPWnR6fe      { background-position: 8.695652% 90.909091% !important; }
.sprite--gear--uFlaOa41      { background-position: 8.695652% 95.454545% !important; }
.sprite--gear--zUmwnJiv      { background-position: 8.695652% 100% !important; }
.sprite--gear--1iMfzbaY      { background-position: 13.043478% 0 !important; }
.sprite--gear--1jvindWO      { background-position: 13.043478% 4.545455% !important; }
.sprite--gear--1p5dDD7i      { background-position: 13.043478% 9.090909% !important; }
.sprite--gear--24xE6KPR      { background-position: 13.043478% 13.636364% !important; }
.sprite--gear--3CgWt93F      { background-position: 13.043478% 18.181818% !important; }
.sprite--gear--4OQ8IR9X      { background-position: 13.043478% 22.727273% !important; }
.sprite--gear--5WTn6jq1      { background-position: 13.043478% 27.272727% !important; }
.sprite--gear--762vfm8Q      { background-position: 13.043478% 31.818182% !important; }
.sprite--gear--9QXt3NdW      { background-position: 13.043478% 36.363636% !important; }
.sprite--gear--BnLZSSBJ      { background-position: 13.043478% 40.909091% !important; }
.sprite--gear--ESKIWa0F      { background-position: 13.043478% 45.454545% !important; }
.sprite--gear--HDR9rzjA      { background-position: 13.043478% 50% !important; }
.sprite--gear--JatXXoge      { background-position: 13.043478% 54.545455% !important; }
.sprite--gear--Mx2D1cWV      { background-position: 13.043478% 59.090909% !important; }
.sprite--gear--Q8GGu5Wv      { background-position: 13.043478% 63.636364% !important; }
.sprite--gear--SU4we5pp      { background-position: 13.043478% 68.181818% !important; }
.sprite--gear--XQhs8IWG      { background-position: 13.043478% 72.727273% !important; }
.sprite--gear--bOK4moBM      { background-position: 13.043478% 77.272727% !important; }
.sprite--gear--fYt7l4Wf      { background-position: 13.043478% 81.818182% !important; }
.sprite--gear--jwGET0Is      { background-position: 13.043478% 86.363636% !important; }
.sprite--gear--oaRvp5dZ      { background-position: 13.043478% 90.909091% !important; }
.sprite--gear--uKZXubtm      { background-position: 13.043478% 95.454545% !important; }
.sprite--gear--zagifGLe      { background-position: 13.043478% 100% !important; }
.sprite--gear--2CO8kFDu      { background-position: 17.391304% 0 !important; }
.sprite--gear--2VRvo55x      { background-position: 17.391304% 4.545455% !important; }
.sprite--gear--2VvgNoYe      { background-position: 17.391304% 9.090909% !important; }
.sprite--gear--2fZB53mk      { background-position: 17.391304% 13.636364% !important; }
.sprite--gear--3ENvyDLB      { background-position: 17.391304% 18.181818% !important; }
.sprite--gear--4Pih2MrW      { background-position: 17.391304% 22.727273% !important; }
.sprite--gear--5skiukyr      { background-position: 17.391304% 27.272727% !important; }
.sprite--gear--7DofaL6W      { background-position: 17.391304% 31.818182% !important; }
.sprite--gear--9YWbDAmn      { background-position: 17.391304% 36.363636% !important; }
.sprite--gear--BsQIcSUL      { background-position: 17.391304% 40.909091% !important; }
.sprite--gear--EV7UIoyv      { background-position: 17.391304% 45.454545% !important; }
.sprite--gear--HDh3RX9E      { background-position: 17.391304% 50% !important; }
.sprite--gear--JjTagr6k      { background-position: 17.391304% 54.545455% !important; }
.sprite--gear--N0zIyr4o      { background-position: 17.391304% 59.090909% !important; }
.sprite--gear--Q95qPnza      { background-position: 17.391304% 63.636364% !important; }
.sprite--gear--Spsy0len      { background-position: 17.391304% 68.181818% !important; }
.sprite--gear--XR7x2qpx      { background-position: 17.391304% 72.727273% !important; }
.sprite--gear--bYWJQIlL      { background-position: 17.391304% 77.272727% !important; }
.sprite--gear--fb1R8d9a      { background-position: 17.391304% 81.818182% !important; }
.sprite--gear--k1SpybBZ      { background-position: 17.391304% 86.363636% !important; }
.sprite--gear--omNiLyNP      { background-position: 17.391304% 90.909091% !important; }
.sprite--gear--uObjECLc      { background-position: 17.391304% 95.454545% !important; }
.sprite--gear--zcOs6veM      { background-position: 17.391304% 100% !important; }
.sprite--gear--3HCX3Ypz      { background-position: 21.73913% 0 !important; }
.sprite--gear--3OuXDPRR      { background-position: 21.73913% 4.545455% !important; }
.sprite--gear--3XpzZEn4      { background-position: 21.73913% 9.090909% !important; }
.sprite--gear--3ZxtbXnE      { background-position: 21.73913% 13.636364% !important; }
.sprite--gear--3pJ6Tto3      { background-position: 21.73913% 18.181818% !important; }
.sprite--gear--4Y3SwsbU      { background-position: 21.73913% 22.727273% !important; }
.sprite--gear--6AE3kZy1      { background-position: 21.73913% 27.272727% !important; }
.sprite--gear--7Qd7ztUm      { background-position: 21.73913% 31.818182% !important; }
.sprite--gear--9oeqsO4Q      { background-position: 21.73913% 36.363636% !important; }
.sprite--gear--C2S9ekZp      { background-position: 21.73913% 40.909091% !important; }
.sprite--gear--EYAxDQaz      { background-position: 21.73913% 45.454545% !important; }
.sprite--gear--HNddXqMk      { background-position: 21.73913% 50% !important; }
.sprite--gear--JpKsUe0j      { background-position: 21.73913% 54.545455% !important; }
.sprite--gear--N3c1UyZv      { background-position: 21.73913% 59.090909% !important; }
.sprite--gear--Q9yv9Jx3      { background-position: 21.73913% 63.636364% !important; }
.sprite--gear--T774oJTM      { background-position: 21.73913% 68.181818% !important; }
.sprite--gear--XRbO2yEE      { background-position: 21.73913% 72.727273% !important; }
.sprite--gear--blqKTbEk      { background-position: 21.73913% 77.272727% !important; }
.sprite--gear--fhGGIZ2X      { background-position: 21.73913% 81.818182% !important; }
.sprite--gear--k4Ix1SLJ      { background-position: 21.73913% 86.363636% !important; }
.sprite--gear--ovi73xPq      { background-position: 21.73913% 90.909091% !important; }
.sprite--gear--ubrsdAkI      { background-position: 21.73913% 95.454545% !important; }
.sprite--gear--ziI6pk6y      { background-position: 21.73913% 100% !important; }
.sprite--gear--4gSEobWy      { background-position: 26.086957% 0 !important; }
.sprite--gear--4jI1e2Nu      { background-position: 26.086957% 4.545455% !important; }
.sprite--gear--4qWN08ee      { background-position: 26.086957% 9.090909% !important; }
.sprite--gear--4qlJZcHh      { background-position: 26.086957% 13.636364% !important; }
.sprite--gear--4uIoINPC      { background-position: 26.086957% 18.181818% !important; }
.sprite--gear--5An2c8eJ      { background-position: 26.086957% 22.727273% !important; }
.sprite--gear--6AJfKl4r      { background-position: 26.086957% 27.272727% !important; }
.sprite--gear--82uYTJBm      { background-position: 26.086957% 31.818182% !important; }
.sprite--gear--A4Z4hhnI      { background-position: 26.086957% 36.363636% !important; }
.sprite--gear--C4bLIUjG      { background-position: 26.086957% 40.909091% !important; }
.sprite--gear--EaSlxWBl      { background-position: 26.086957% 45.454545% !important; }
.sprite--gear--HSQJGg5b      { background-position: 26.086957% 50% !important; }
.sprite--gear--JqHZS6vT      { background-position: 26.086957% 54.545455% !important; }
.sprite--gear--N4GABF2d      { background-position: 26.086957% 59.090909% !important; }
.sprite--gear--QM51axxn      { background-position: 26.086957% 63.636364% !important; }
.sprite--gear--T7k567by      { background-position: 26.086957% 68.181818% !important; }
.sprite--gear--XZ7wy2Fq      { background-position: 26.086957% 72.727273% !important; }
.sprite--gear--c9DsIPR5      { background-position: 26.086957% 77.272727% !important; }
.sprite--gear--fkJplFRO      { background-position: 26.086957% 81.818182% !important; }
.sprite--gear--k6Yxe57z      { background-position: 26.086957% 86.363636% !important; }
.sprite--gear--pF16yLRi      { background-position: 26.086957% 90.909091% !important; }
.sprite--gear--ufo5660G      { background-position: 26.086957% 95.454545% !important; }
.sprite--gear--ArmorBuilding { background-position: 26.086957% 100% !important; }
.sprite--gear--6LCTAZp8      { background-position: 30.434783% 0 !important; }
.sprite--gear--6TDdW0En      { background-position: 30.434783% 4.545455% !important; }
.sprite--gear--6VbFs1iO      { background-position: 30.434783% 9.090909% !important; }
.sprite--gear--6Y9vQFcR      { background-position: 30.434783% 13.636364% !important; }
.sprite--gear--6cZcxs6W      { background-position: 30.434783% 18.181818% !important; }
.sprite--gear--6cyMXStL      { background-position: 30.434783% 22.727273% !important; }
.sprite--gear--6o7RThfM      { background-position: 30.434783% 27.272727% !important; }
.sprite--gear--8AfEItVI      { background-position: 30.434783% 31.818182% !important; }
.sprite--gear--A8kTjejl      { background-position: 30.434783% 36.363636% !important; }
.sprite--gear--C85ONChZ      { background-position: 30.434783% 40.909091% !important; }
.sprite--gear--Ek8jNQDN      { background-position: 30.434783% 45.454545% !important; }
.sprite--gear--HUzlBxw4      { background-position: 30.434783% 50% !important; }
.sprite--gear--Jz3DRouw      { background-position: 30.434783% 54.545455% !important; }
.sprite--gear--N9xtnDfL      { background-position: 30.434783% 59.090909% !important; }
.sprite--gear--QQC0Oe7X      { background-position: 30.434783% 63.636364% !important; }
.sprite--gear--T8hdvFYI      { background-position: 30.434783% 68.181818% !important; }
.sprite--gear--XeNQ2Fmi      { background-position: 30.434783% 72.727273% !important; }
.sprite--gear--cJQDIODX      { background-position: 30.434783% 77.272727% !important; }
.sprite--gear--frSkf8vl      { background-position: 30.434783% 81.818182% !important; }
.sprite--gear--k7JoZ8ej      { background-position: 30.434783% 86.363636% !important; }
.sprite--gear--pFmeisyH      { background-position: 30.434783% 90.909091% !important; }
.sprite--gear--upxDlTAd      { background-position: 30.434783% 95.454545% !important; }
.sprite--gear--ArmorCloth    { background-position: 30.434783% 100% !important; }
.sprite--gear--8BzO6lSW      { background-position: 34.782609% 0 !important; }
.sprite--gear--8FPNoPH2      { background-position: 34.782609% 4.545455% !important; }
.sprite--gear--8TdNiUtK      { background-position: 34.782609% 9.090909% !important; }
.sprite--gear--8g1OwBQr      { background-position: 34.782609% 13.636364% !important; }
.sprite--gear--8ojCVHr1      { background-position: 34.782609% 18.181818% !important; }
.sprite--gear--8xDulKTA      { background-position: 34.782609% 22.727273% !important; }
.sprite--gear--92tk5nYm      { background-position: 34.782609% 27.272727% !important; }
.sprite--gear--94v8lqgP      { background-position: 34.782609% 31.818182% !important; }
.sprite--gear--AImVuNX3      { background-position: 34.782609% 36.363636% !important; }
.sprite--gear--CdUM55O0      { background-position: 34.782609% 40.909091% !important; }
.sprite--gear--EoiBOh2s      { background-position: 34.782609% 45.454545% !important; }
.sprite--gear--HdZ0jq4m      { background-position: 34.782609% 50% !important; }
.sprite--gear--K3Asga2w      { background-position: 34.782609% 54.545455% !important; }
.sprite--gear--NB3ACw3g      { background-position: 34.782609% 59.090909% !important; }
.sprite--gear--QT30BbZA      { background-position: 34.782609% 63.636364% !important; }
.sprite--gear--TFtMOdfF      { background-position: 34.782609% 68.181818% !important; }
.sprite--gear--XkNAJnMz      { background-position: 34.782609% 72.727273% !important; }
.sprite--gear--cSVUak8l      { background-position: 34.782609% 77.272727% !important; }
.sprite--gear--fxgBSutf      { background-position: 34.782609% 81.818182% !important; }
.sprite--gear--k7nMfDmJ      { background-position: 34.782609% 86.363636% !important; }
.sprite--gear--pNYMFy0d      { background-position: 34.782609% 90.909091% !important; }
.sprite--gear--v1b6mLMK      { background-position: 34.782609% 95.454545% !important; }
.sprite--gear--ArmorLgt      { background-position: 34.782609% 100% !important; }
.sprite--gear--AUNTLRQh      { background-position: 39.130435% 0 !important; }
.sprite--gear--Ad7JJC3a      { background-position: 39.130435% 4.545455% !important; }
.sprite--gear--AhFnbOpH      { background-position: 39.130435% 9.090909% !important; }
.sprite--gear--AvaOsrgK      { background-position: 39.130435% 13.636364% !important; }
.sprite--gear--BDrb2Iig      { background-position: 39.130435% 18.181818% !important; }
.sprite--gear--BEMQwNGL      { background-position: 39.130435% 22.727273% !important; }
.sprite--gear--BGzXDmQL      { background-position: 39.130435% 27.272727% !important; }
.sprite--gear--BLMx86wa      { background-position: 39.130435% 31.818182% !important; }
.sprite--gear--BMWAnD44      { background-position: 39.130435% 36.363636% !important; }
.sprite--gear--ClRFM52c      { background-position: 39.130435% 40.909091% !important; }
.sprite--gear--ErmV0v30      { background-position: 39.130435% 45.454545% !important; }
.sprite--gear--Hf69pj3l      { background-position: 39.130435% 50% !important; }
.sprite--gear--K69kuAhj      { background-position: 39.130435% 54.545455% !important; }
.sprite--gear--Nc6E3hmB      { background-position: 39.130435% 59.090909% !important; }
.sprite--gear--QgVb31rr      { background-position: 39.130435% 63.636364% !important; }
.sprite--gear--TUyyBYHX      { background-position: 39.130435% 68.181818% !important; }
.sprite--gear--Xl8oB3Ku      { background-position: 39.130435% 72.727273% !important; }
.sprite--gear--cV0fwa4R      { background-position: 39.130435% 77.272727% !important; }
.sprite--gear--fzqQJcTa      { background-position: 39.130435% 81.818182% !important; }
.sprite--gear--k8WLkoEC      { background-position: 39.130435% 86.363636% !important; }
.sprite--gear--pRYRdHAU      { background-position: 39.130435% 90.909091% !important; }
.sprite--gear--vB2qisTP      { background-position: 39.130435% 95.454545% !important; }
.sprite--gear--ArmorMed      { background-position: 39.130435% 100% !important; }
.sprite--gear--Cqmxx4XY      { background-position: 43.478261% 0 !important; }
.sprite--gear--CycAoYMU      { background-position: 43.478261% 4.545455% !important; }
.sprite--gear--CymXgyfj      { background-position: 43.478261% 9.090909% !important; }
.sprite--gear--CzeDKXG6      { background-position: 43.478261% 13.636364% !important; }
.sprite--gear--Czobriil      { background-position: 43.478261% 18.181818% !important; }
.sprite--gear--D4Hvg6bW      { background-position: 43.478261% 22.727273% !important; }
.sprite--gear--DJXilExp      { background-position: 43.478261% 27.272727% !important; }
.sprite--gear--DME1w4MY      { background-position: 43.478261% 31.818182% !important; }
.sprite--gear--DWT8JDK9      { background-position: 43.478261% 36.363636% !important; }
.sprite--gear--DebkcmQi      { background-position: 43.478261% 40.909091% !important; }
.sprite--gear--F5kcVCiV      { background-position: 43.478261% 45.454545% !important; }
.sprite--gear--HiVyg5dl      { background-position: 43.478261% 50% !important; }
.sprite--gear--K7YoYaQd      { background-position: 43.478261% 54.545455% !important; }
.sprite--gear--NiBKe1kT      { background-position: 43.478261% 59.090909% !important; }
.sprite--gear--QnzUdoDW      { background-position: 43.478261% 63.636364% !important; }
.sprite--gear--TWT3ljZR      { background-position: 43.478261% 68.181818% !important; }
.sprite--gear--XswDeYdV      { background-position: 43.478261% 72.727273% !important; }
.sprite--gear--cqroF3cX      { background-position: 43.478261% 77.272727% !important; }
.sprite--gear--g5PrGerZ      { background-position: 43.478261% 81.818182% !important; }
.sprite--gear--kNJlmAEt      { background-position: 43.478261% 86.363636% !important; }
.sprite--gear--pXPFY2b4      { background-position: 43.478261% 90.909091% !important; }
.sprite--gear--vCPFk7YO      { background-position: 43.478261% 95.454545% !important; }
.sprite--gear--ArmorPlt      { background-position: 43.478261% 100% !important; }
.sprite--gear--FAXcexCe      { background-position: 47.826087% 0 !important; }
.sprite--gear--FBKO2XXz      { background-position: 47.826087% 4.545455% !important; }
.sprite--gear--FVX9MFIH      { background-position: 47.826087% 9.090909% !important; }
.sprite--gear--Fwbmnkcn      { background-position: 47.826087% 13.636364% !important; }
.sprite--gear--FySh8FC0      { background-position: 47.826087% 18.181818% !important; }
.sprite--gear--G2j96Z8m      { background-position: 47.826087% 22.727273% !important; }
.sprite--gear--G8zqMGtO      { background-position: 47.826087% 27.272727% !important; }
.sprite--gear--GD2RUFqH      { background-position: 47.826087% 31.818182% !important; }
.sprite--gear--GN2EUnNa      { background-position: 47.826087% 36.363636% !important; }
.sprite--gear--GXtNXUmW      { background-position: 47.826087% 40.909091% !important; }
.sprite--gear--GwUhBQEU      { background-position: 47.826087% 45.454545% !important; }
.sprite--gear--HkgslwnO      { background-position: 47.826087% 50% !important; }
.sprite--gear--KhBYoZ6V      { background-position: 47.826087% 54.545455% !important; }
.sprite--gear--NrNY2Ejk      { background-position: 47.826087% 59.090909% !important; }
.sprite--gear--QprCNVNV      { background-position: 47.826087% 63.636364% !important; }
.sprite--gear--TfI0yeEt      { background-position: 47.826087% 68.181818% !important; }
.sprite--gear--Y4GX4Z3q      { background-position: 47.826087% 72.727273% !important; }
.sprite--gear--csNQEpC7      { background-position: 47.826087% 77.272727% !important; }
.sprite--gear--gD272bqa      { background-position: 47.826087% 81.818182% !important; }
.sprite--gear--kX7NRAdc      { background-position: 47.826087% 86.363636% !important; }
.sprite--gear--pdc5Ng5t      { background-position: 47.826087% 90.909091% !important; }
.sprite--gear--vEZxhKcB      { background-position: 47.826087% 95.454545% !important; }
.sprite--gear--Arrows        { background-position: 47.826087% 100% !important; }
.sprite--gear--HvjLJwSd      { background-position: 52.173913% 0 !important; }
.sprite--gear--I2SB5mVQ      { background-position: 52.173913% 4.545455% !important; }
.sprite--gear--IBMtIwvx      { background-position: 52.173913% 9.090909% !important; }
.sprite--gear--IGn041lq      { background-position: 52.173913% 13.636364% !important; }
.sprite--gear--IMFvpmJE      { background-position: 52.173913% 18.181818% !important; }
.sprite--gear--IZgFVsQH      { background-position: 52.173913% 22.727273% !important; }
.sprite--gear--IhQMLPfl      { background-position: 52.173913% 27.272727% !important; }
.sprite--gear--Iod3Qxv9      { background-position: 52.173913% 31.818182% !important; }
.sprite--gear--IwbAf4C2      { background-position: 52.173913% 36.363636% !important; }
.sprite--gear--JBt411oo      { background-position: 52.173913% 40.909091% !important; }
.sprite--gear--JHf933bw      { background-position: 52.173913% 45.454545% !important; }
.sprite--gear--JKNgQ1nA      { background-position: 52.173913% 50% !important; }
.sprite--gear--KlrPa1vB      { background-position: 52.173913% 54.545455% !important; }
.sprite--gear--NugqqKHS      { background-position: 52.173913% 59.090909% !important; }
.sprite--gear--Qw3Kb4dT      { background-position: 52.173913% 63.636364% !important; }
.sprite--gear--Tvo1E3yA      { background-position: 52.173913% 68.181818% !important; }
.sprite--gear--YFriLt4T      { background-position: 52.173913% 72.727273% !important; }
.sprite--gear--csYMMAyr      { background-position: 52.173913% 77.272727% !important; }
.sprite--gear--gJ76z2zb      { background-position: 52.173913% 81.818182% !important; }
.sprite--gear--kdaKMnEA      { background-position: 52.173913% 86.363636% !important; }
.sprite--gear--pn8IEQzB      { background-position: 52.173913% 90.909091% !important; }
.sprite--gear--vmTjhRFp      { background-position: 52.173913% 95.454545% !important; }
.sprite--gear--BallistaArms  { background-position: 52.173913% 100% !important; }
.sprite--gear--KnRzZFPD      { background-position: 56.521739% 0 !important; }
.sprite--gear--KslnEBt4      { background-position: 56.521739% 4.545455% !important; }
.sprite--gear--KvvIBdtr      { background-position: 56.521739% 9.090909% !important; }
.sprite--gear--L3bnnV2S      { background-position: 56.521739% 13.636364% !important; }
.sprite--gear--LB0bhDSE      { background-position: 56.521739% 18.181818% !important; }
.sprite--gear--LK0xUK6t      { background-position: 56.521739% 22.727273% !important; }
.sprite--gear--LRwSp5MH      { background-position: 56.521739% 27.272727% !important; }
.sprite--gear--LVNTidap      { background-position: 56.521739% 31.818182% !important; }
.sprite--gear--Lfex8AhC      { background-position: 56.521739% 36.363636% !important; }
.sprite--gear--LftiDtep      { background-position: 56.521739% 40.909091% !important; }
.sprite--gear--Lx8EJ8jp      { background-position: 56.521739% 45.454545% !important; }
.sprite--gear--M0MfJ4rD      { background-position: 56.521739% 50% !important; }
.sprite--gear--M1ScYetq      { background-position: 56.521739% 54.545455% !important; }
.sprite--gear--Nw82TM7L      { background-position: 56.521739% 59.090909% !important; }
.sprite--gear--QwL8cBZf      { background-position: 56.521739% 63.636364% !important; }
.sprite--gear--U81ipLkC      { background-position: 56.521739% 68.181818% !important; }
.sprite--gear--YJ1ofoeA      { background-position: 56.521739% 72.727273% !important; }
.sprite--gear--cwfsuAaE      { background-position: 56.521739% 77.272727% !important; }
.sprite--gear--gU5S9YfL      { background-position: 56.521739% 81.818182% !important; }
.sprite--gear--kflIHcpO      { background-position: 56.521739% 86.363636% !important; }
.sprite--gear--pz61qhKA      { background-position: 56.521739% 90.909091% !important; }
.sprite--gear--vniqBODg      { background-position: 56.521739% 95.454545% !important; }
.sprite--gear--BellyBows     { background-position: 56.521739% 100% !important; }
.sprite--gear--NwOBfAbP      { background-position: 60.869565% 0 !important; }
.sprite--gear--O2lrGODF      { background-position: 60.869565% 4.545455% !important; }
.sprite--gear--OKoVOlCX      { background-position: 60.869565% 9.090909% !important; }
.sprite--gear--ORDu3lgh      { background-position: 60.869565% 13.636364% !important; }
.sprite--gear--OSQm3tMg      { background-position: 60.869565% 18.181818% !important; }
.sprite--gear--OZf7wc1x      { background-position: 60.869565% 22.727273% !important; }
.sprite--gear--OwQWIAem      { background-position: 60.869565% 27.272727% !important; }
.sprite--gear--P9etRvkZ      { background-position: 60.869565% 31.818182% !important; }
.sprite--gear--PCodzn83      { background-position: 60.869565% 36.363636% !important; }
.sprite--gear--PLwyegdt      { background-position: 60.869565% 40.909091% !important; }
.sprite--gear--PNQKh91G      { background-position: 60.869565% 45.454545% !important; }
.sprite--gear--Ph4OZwj5      { background-position: 60.869565% 50% !important; }
.sprite--gear--PiaIyd3w      { background-position: 60.869565% 54.545455% !important; }
.sprite--gear--Pp8fTgR1      { background-position: 60.869565% 59.090909% !important; }
.sprite--gear--Qyjupero      { background-position: 60.869565% 63.636364% !important; }
.sprite--gear--U9WUFjft      { background-position: 60.869565% 68.181818% !important; }
.sprite--gear--YJYOaPYG      { background-position: 60.869565% 72.727273% !important; }
.sprite--gear--d1YLQ4HM      { background-position: 60.869565% 77.272727% !important; }
.sprite--gear--gUtJeMw9      { background-position: 60.869565% 81.818182% !important; }
.sprite--gear--kwQK40bN      { background-position: 60.869565% 86.363636% !important; }
.sprite--gear--pzBbt9Nq      { background-position: 60.869565% 90.909091% !important; }
.sprite--gear--voPy8aTN      { background-position: 60.869565% 95.454545% !important; }
.sprite--gear--Bows          { background-position: 60.869565% 100% !important; }
.sprite--gear--R04xn701      { background-position: 65.217391% 0 !important; }
.sprite--gear--R0CaAKkI      { background-position: 65.217391% 4.545455% !important; }
.sprite--gear--R2tqpYKC      { background-position: 65.217391% 9.090909% !important; }
.sprite--gear--R4KllriM      { background-position: 65.217391% 13.636364% !important; }
.sprite--gear--R7P8t0Vc      { background-position: 65.217391% 18.181818% !important; }
.sprite--gear--RB4zwyPn      { background-position: 65.217391% 22.727273% !important; }
.sprite--gear--RBYCXsfa      { background-position: 65.217391% 27.272727% !important; }
.sprite--gear--RDkK6B4h      { background-position: 65.217391% 31.818182% !important; }
.sprite--gear--RH1aFoqY      { background-position: 65.217391% 36.363636% !important; }
.sprite--gear--RHEMYswR      { background-position: 65.217391% 40.909091% !important; }
.sprite--gear--RO8FtSQV      { background-position: 65.217391% 45.454545% !important; }
.sprite--gear--RQ0M54J9      { background-position: 65.217391% 50% !important; }
.sprite--gear--RoRMveZM      { background-position: 65.217391% 54.545455% !important; }
.sprite--gear--RokLqMxg      { background-position: 65.217391% 59.090909% !important; }
.sprite--gear--SB5JYjsi      { background-position: 65.217391% 63.636364% !important; }
.sprite--gear--UBZjUN00      { background-position: 65.217391% 68.181818% !important; }
.sprite--gear--YOlaPK2X      { background-position: 65.217391% 72.727273% !important; }
.sprite--gear--d3ccfO2Y      { background-position: 65.217391% 77.272727% !important; }
.sprite--gear--gUvJWXd4      { background-position: 65.217391% 81.818182% !important; }
.sprite--gear--l428lnOP      { background-position: 65.217391% 86.363636% !important; }
.sprite--gear--q7t4o0SC      { background-position: 65.217391% 90.909091% !important; }
.sprite--gear--vslC3mKH      { background-position: 65.217391% 95.454545% !important; }
.sprite--gear--Clubs2H       { background-position: 65.217391% 100% !important; }
.sprite--gear--UQQoKoLq      { background-position: 69.565217% 0 !important; }
.sprite--gear--UYMOYIz8      { background-position: 69.565217% 4.545455% !important; }
.sprite--gear--UbT3Ydtx      { background-position: 69.565217% 9.090909% !important; }
.sprite--gear--UeycZunL      { background-position: 69.565217% 13.636364% !important; }
.sprite--gear--V2djtNbs      { background-position: 69.565217% 18.181818% !important; }
.sprite--gear--V3pY4YSF      { background-position: 69.565217% 22.727273% !important; }
.sprite--gear--VDeC96xw      { background-position: 69.565217% 27.272727% !important; }
.sprite--gear--VQckXFeP      { background-position: 69.565217% 31.818182% !important; }
.sprite--gear--VhPmtaWB      { background-position: 69.565217% 36.363636% !important; }
.sprite--gear--VvlciyX4      { background-position: 69.565217% 40.909091% !important; }
.sprite--gear--VwUnAU0S      { background-position: 69.565217% 45.454545% !important; }
.sprite--gear--WAPIea5F      { background-position: 69.565217% 50% !important; }
.sprite--gear--WAmhf5Zq      { background-position: 69.565217% 54.545455% !important; }
.sprite--gear--WJe963s8      { background-position: 69.565217% 59.090909% !important; }
.sprite--gear--WrS4Zz76      { background-position: 69.565217% 63.636364% !important; }
.sprite--gear--X5wwjWC3      { background-position: 69.565217% 68.181818% !important; }
.sprite--gear--YYDGOwBV      { background-position: 69.565217% 72.727273% !important; }
.sprite--gear--dJ01WzR1      { background-position: 69.565217% 77.272727% !important; }
.sprite--gear--gmpMBPIO      { background-position: 69.565217% 81.818182% !important; }
.sprite--gear--lNBqsOK0      { background-position: 69.565217% 86.363636% !important; }
.sprite--gear--qKcIG372      { background-position: 69.565217% 90.909091% !important; }
.sprite--gear--vtHfXlJZ      { background-position: 69.565217% 95.454545% !important; }
.sprite--gear--FireThrowers  { background-position: 69.565217% 100% !important; }
.sprite--gear--YgDpMWwg      { background-position: 73.913043% 0 !important; }
.sprite--gear--YoH9Kbui      { background-position: 73.913043% 4.545455% !important; }
.sprite--gear--Z9Jz0Vc3      { background-position: 73.913043% 9.090909% !important; }
.sprite--gear--ZR1CMQju      { background-position: 73.913043% 13.636364% !important; }
.sprite--gear--ZVb92O0r      { background-position: 73.913043% 18.181818% !important; }
.sprite--gear--ZgoTSNVm      { background-position: 73.913043% 22.727273% !important; }
.sprite--gear--ZhCP6mwJ      { background-position: 73.913043% 27.272727% !important; }
.sprite--gear--ZjHFZH7a      { background-position: 73.913043% 31.818182% !important; }
.sprite--gear--ZjN3tXsU      { background-position: 73.913043% 36.363636% !important; }
.sprite--gear--ZkqlHA5C      { background-position: 73.913043% 40.909091% !important; }
.sprite--gear--Zq5QYm3U      { background-position: 73.913043% 45.454545% !important; }
.sprite--gear--a1E5oXI2      { background-position: 73.913043% 50% !important; }
.sprite--gear--a93PGbTh      { background-position: 73.913043% 54.545455% !important; }
.sprite--gear--aBmB3ffM      { background-position: 73.913043% 59.090909% !important; }
.sprite--gear--aQsb2R7E      { background-position: 73.913043% 63.636364% !important; }
.sprite--gear--afKb6dP0      { background-position: 73.913043% 68.181818% !important; }
.sprite--gear--ajtv9sI7      { background-position: 73.913043% 72.727273% !important; }
.sprite--gear--dK9uVUc7      { background-position: 73.913043% 77.272727% !important; }
.sprite--gear--hCAl4zMr      { background-position: 73.913043% 81.818182% !important; }
.sprite--gear--lR7wCpng      { background-position: 73.913043% 86.363636% !important; }
.sprite--gear--qn5gOS8U      { background-position: 73.913043% 90.909091% !important; }
.sprite--gear--vuZXxqVi      { background-position: 73.913043% 95.454545% !important; }
.sprite--gear--FishingNet    { background-position: 73.913043% 100% !important; }
.sprite--gear--dMjaLSfV      { background-position: 78.26087% 0 !important; }
.sprite--gear--dpQq8o49      { background-position: 78.26087% 4.545455% !important; }
.sprite--gear--dut0lS6G      { background-position: 78.26087% 9.090909% !important; }
.sprite--gear--dxyrfaov      { background-position: 78.26087% 13.636364% !important; }
.sprite--gear--e1EBb4f2      { background-position: 78.26087% 18.181818% !important; }
.sprite--gear--e5UIUrqx      { background-position: 78.26087% 22.727273% !important; }
.sprite--gear--eEN4cKns      { background-position: 78.26087% 27.272727% !important; }
.sprite--gear--eN1Mf9gG      { background-position: 78.26087% 31.818182% !important; }
.sprite--gear--eSM3RxdG      { background-position: 78.26087% 36.363636% !important; }
.sprite--gear--eSZTUpk7      { background-position: 78.26087% 40.909091% !important; }
.sprite--gear--em4mW3Za      { background-position: 78.26087% 45.454545% !important; }
.sprite--gear--ewoSZ2SX      { background-position: 78.26087% 50% !important; }
.sprite--gear--exEKJVLl      { background-position: 78.26087% 54.545455% !important; }
.sprite--gear--f2qDnqMT      { background-position: 78.26087% 59.090909% !important; }
.sprite--gear--f6ZMQw2Q      { background-position: 78.26087% 63.636364% !important; }
.sprite--gear--fBANUXvd      { background-position: 78.26087% 68.181818% !important; }
.sprite--gear--fGDhDZIX      { background-position: 78.26087% 72.727273% !important; }
.sprite--gear--fQTkY2LT      { background-position: 78.26087% 77.272727% !important; }
.sprite--gear--hCCHFohW      { background-position: 78.26087% 81.818182% !important; }
.sprite--gear--leEFVfnk      { background-position: 78.26087% 86.363636% !important; }
.sprite--gear--r2ic1ihg      { background-position: 78.26087% 90.909091% !important; }
.sprite--gear--vyiuAnuN      { background-position: 78.26087% 95.454545% !important; }
.sprite--gear--Gear          { background-position: 78.26087% 100% !important; }
.sprite--gear--hF71QMuX      { background-position: 82.608696% 0 !important; }
.sprite--gear--hG090eSm      { background-position: 82.608696% 4.545455% !important; }
.sprite--gear--hSCoL5wG      { background-position: 82.608696% 9.090909% !important; }
.sprite--gear--hpkTNh6J      { background-position: 82.608696% 13.636364% !important; }
.sprite--gear--hqma3TTg      { background-position: 82.608696% 18.181818% !important; }
.sprite--gear--hx7hOOSI      { background-position: 82.608696% 22.727273% !important; }
.sprite--gear--hxbWlLI5      { background-position: 82.608696% 27.272727% !important; }
.sprite--gear--i9dwGsba      { background-position: 82.608696% 31.818182% !important; }
.sprite--gear--iD1bND8n      { background-position: 82.608696% 36.363636% !important; }
.sprite--gear--iEdAuf2C      { background-position: 82.608696% 40.909091% !important; }
.sprite--gear--iIpIqm1W      { background-position: 82.608696% 45.454545% !important; }
.sprite--gear--iJU99okB      { background-position: 82.608696% 50% !important; }
.sprite--gear--iVhWrtzg      { background-position: 82.608696% 54.545455% !important; }
.sprite--gear--igHB8uYp      { background-position: 82.608696% 59.090909% !important; }
.sprite--gear--j1lyV1nu      { background-position: 82.608696% 63.636364% !important; }
.sprite--gear--j38nidKA      { background-position: 82.608696% 68.181818% !important; }
.sprite--gear--j9XGMZZd      { background-position: 82.608696% 72.727273% !important; }
.sprite--gear--jCrzRMf3      { background-position: 82.608696% 77.272727% !important; }
.sprite--gear--jKNRAZrW      { background-position: 82.608696% 81.818182% !important; }
.sprite--gear--llOmKFYt      { background-position: 82.608696% 86.363636% !important; }
.sprite--gear--r9kuqf4F      { background-position: 82.608696% 90.909091% !important; }
.sprite--gear--wIrnA47C      { background-position: 82.608696% 95.454545% !important; }
.sprite--gear--GearBldg      { background-position: 82.608696% 100% !important; }
.sprite--gear--lmX70i8a      { background-position: 86.956522% 0 !important; }
.sprite--gear--mIYkpgT4      { background-position: 86.956522% 4.545455% !important; }
.sprite--gear--mRviWy2N      { background-position: 86.956522% 9.090909% !important; }
.sprite--gear--mWd67RLk      { background-position: 86.956522% 13.636364% !important; }
.sprite--gear--mcfsXKmP      { background-position: 86.956522% 18.181818% !important; }
.sprite--gear--mdA4hh6w      { background-position: 86.956522% 22.727273% !important; }
.sprite--gear--mhsAMgky      { background-position: 86.956522% 27.272727% !important; }
.sprite--gear--mqfvh8Ui      { background-position: 86.956522% 31.818182% !important; }
.sprite--gear--mwzWdWfN      { background-position: 86.956522% 36.363636% !important; }
.sprite--gear--nMZfDC2X      { background-position: 86.956522% 40.909091% !important; }
.sprite--gear--nQHmK5gg      { background-position: 86.956522% 45.454545% !important; }
.sprite--gear--nU8CcAU7      { background-position: 86.956522% 50% !important; }
.sprite--gear--nVo57pK8      { background-position: 86.956522% 54.545455% !important; }
.sprite--gear--nWcR2mun      { background-position: 86.956522% 59.090909% !important; }
.sprite--gear--nf9NF72k      { background-position: 86.956522% 63.636364% !important; }
.sprite--gear--niNcJSPY      { background-position: 86.956522% 68.181818% !important; }
.sprite--gear--nkeTlY0r      { background-position: 86.956522% 72.727273% !important; }
.sprite--gear--nmLSdQCn      { background-position: 86.956522% 77.272727% !important; }
.sprite--gear--nnzz9njz      { background-position: 86.956522% 81.818182% !important; }
.sprite--gear--o2QA53jk      { background-position: 86.956522% 86.363636% !important; }
.sprite--gear--rD6Lmt1U      { background-position: 86.956522% 90.909091% !important; }
.sprite--gear--wOPl1BtB      { background-position: 86.956522% 95.454545% !important; }
.sprite--gear--GearBoat      { background-position: 86.956522% 100% !important; }
.sprite--gear--rIo2XlzL      { background-position: 91.304348% 0 !important; }
.sprite--gear--rJkIM9Xz      { background-position: 91.304348% 4.545455% !important; }
.sprite--gear--rY6IFhnw      { background-position: 91.304348% 9.090909% !important; }
.sprite--gear--rj4rRDov      { background-position: 91.304348% 13.636364% !important; }
.sprite--gear--rnWc78y2      { background-position: 91.304348% 18.181818% !important; }
.sprite--gear--rqclphCI      { background-position: 91.304348% 22.727273% !important; }
.sprite--gear--rspAwAoq      { background-position: 91.304348% 27.272727% !important; }
.sprite--gear--ruaafCsN      { background-position: 91.304348% 31.818182% !important; }
.sprite--gear--rvTJcOoL      { background-position: 91.304348% 36.363636% !important; }
.sprite--gear--ryl50v5R      { background-position: 91.304348% 40.909091% !important; }
.sprite--gear--sGKZtrDG      { background-position: 91.304348% 45.454545% !important; }
.sprite--gear--sc1KeLUO      { background-position: 91.304348% 50% !important; }
.sprite--gear--srNmqln4      { background-position: 91.304348% 54.545455% !important; }
.sprite--gear--suYIzFgY      { background-position: 91.304348% 59.090909% !important; }
.sprite--gear--tF0k4kA3      { background-position: 91.304348% 63.636364% !important; }
.sprite--gear--tPDPy406      { background-position: 91.304348% 68.181818% !important; }
.sprite--gear--tRCMOcKf      { background-position: 91.304348% 72.727273% !important; }
.sprite--gear--tRN1tZqy      { background-position: 91.304348% 77.272727% !important; }
.sprite--gear--tUnNce2w      { background-position: 91.304348% 81.818182% !important; }
.sprite--gear--tlhZz2KS      { background-position: 91.304348% 86.363636% !important; }
.sprite--gear--txg6yb6V      { background-position: 91.304348% 90.909091% !important; }
.sprite--gear--wPMrYGgC      { background-position: 91.304348% 95.454545% !important; }
.sprite--gear--GearPriest    { background-position: 91.304348% 100% !important; }
.sprite--gear--wQbOiEqj      { background-position: 95.652174% 0 !important; }
.sprite--gear--wS5QLhHz      { background-position: 95.652174% 4.545455% !important; }
.sprite--gear--wab8c1YG      { background-position: 95.652174% 9.090909% !important; }
.sprite--gear--wmCAwmg9      { background-position: 95.652174% 13.636364% !important; }
.sprite--gear--woXE0ByG      { background-position: 95.652174% 18.181818% !important; }
.sprite--gear--wtkA4Q9i      { background-position: 95.652174% 22.727273% !important; }
.sprite--gear--wzJjhsEJ      { background-position: 95.652174% 27.272727% !important; }
.sprite--gear--xQsLi7Go      { background-position: 95.652174% 31.818182% !important; }
.sprite--gear--xfpXSLjq      { background-position: 95.652174% 36.363636% !important; }
.sprite--gear--xlypptJZ      { background-position: 95.652174% 40.909091% !important; }
.sprite--gear--xnB72eCn      { background-position: 95.652174% 45.454545% !important; }
.sprite--gear--xrmo0niT      { background-position: 95.652174% 50% !important; }
.sprite--gear--y04bolCp      { background-position: 95.652174% 54.545455% !important; }
.sprite--gear--yXfIA7V6      { background-position: 95.652174% 59.090909% !important; }
.sprite--gear--yYJ3NS10      { background-position: 95.652174% 63.636364% !important; }
.sprite--gear--yYiEt6oD      { background-position: 95.652174% 68.181818% !important; }
.sprite--gear--yaszumOe      { background-position: 95.652174% 72.727273% !important; }
.sprite--gear--ybskpQ9p      { background-position: 95.652174% 77.272727% !important; }
.sprite--gear--yiwMuHCO      { background-position: 95.652174% 81.818182% !important; }
.sprite--gear--zAKFtP7I      { background-position: 95.652174% 86.363636% !important; }
.sprite--gear--zEozYACK      { background-position: 95.652174% 90.909091% !important; }
.sprite--gear--zHQT8SdN      { background-position: 95.652174% 95.454545% !important; }
.sprite--gear--GearSiege     { background-position: 95.652174% 100% !important; }
.sprite--gear--GearVill      { background-position: 100% 0 !important; }
.sprite--gear--Generic       { background-position: 100% 4.545455% !important; }
.sprite--gear--GreatAxe      { background-position: 100% 9.090909% !important; }
.sprite--gear--Javalins      { background-position: 100% 13.636364% !important; }
.sprite--gear--Merchant      { background-position: 100% 18.181818% !important; }
.sprite--gear--RamHeads      { background-position: 100% 22.727273% !important; }
.sprite--gear--Scepter       { background-position: 100% 27.272727% !important; }
.sprite--gear--ScoutSpecial1H{ background-position: 100% 31.818182% !important; }
.sprite--gear--Shields       { background-position: 100% 36.363636% !important; }
.sprite--gear--Sling         { background-position: 100% 40.909091% !important; }
.sprite--gear--Spears1H      { background-position: 100% 45.454545% !important; }
.sprite--gear--Spears2H      { background-position: 100% 50% !important; }
.sprite--gear--Staffs2H      { background-position: 100% 54.545455% !important; }
.sprite--gear--Swords1H      { background-position: 100% 59.090909% !important; }
.sprite--gear--Tools         { background-position: 100% 63.636364% !important; }
.sprite--gear--Torc          { background-position: 100% 68.181818% !important; }
.sprite--gear--War-Horn      { background-position: 100% 72.727273% !important; }
.sprite--gear--Warpaint      { background-position: 100% 77.272727% !important; }
