.sprite--gear {
  background-image: url("/assets/sprites/gear.webp");
  width: 64px;
  height: 64px;
}
.sprite--gear--01Yr2VXq      { background-position: 0 0 !important; }
.sprite--gear--0BsPERYD      { background-position: 0 4.166667% !important; }
.sprite--gear--0rjTogKN      { background-position: 0 8.333333% !important; }
.sprite--gear--1ApDi5NN      { background-position: 0 12.5% !important; }
.sprite--gear--22ccGWPF      { background-position: 0 16.666667% !important; }
.sprite--gear--2on0krzT      { background-position: 0 20.833333% !important; }
.sprite--gear--3UId3Uy2      { background-position: 0 25% !important; }
.sprite--gear--5aAmeoMR      { background-position: 0 29.166667% !important; }
.sprite--gear--67hhQ3Hi      { background-position: 0 33.333333% !important; }
.sprite--gear--7K5tsOKZ      { background-position: 0 37.5% !important; }
.sprite--gear--a6b3sdv3      { background-position: 0 41.666667% !important; }
.sprite--gear--BIUnFaqQ      { background-position: 0 45.833333% !important; }
.sprite--gear--cQYX4U0G      { background-position: 0 50% !important; }
.sprite--gear--EiSIvIuq      { background-position: 0 54.166667% !important; }
.sprite--gear--GEoTQsXL      { background-position: 0 58.333333% !important; }
.sprite--gear--i4cbfFMi      { background-position: 0 62.5% !important; }
.sprite--gear--Jtlrd0kK      { background-position: 0 66.666667% !important; }
.sprite--gear--KXKN95hN      { background-position: 0 70.833333% !important; }
.sprite--gear--mrsPOtC5      { background-position: 0 75% !important; }
.sprite--gear--OlKoj6DF      { background-position: 0 79.166667% !important; }
.sprite--gear--qVajFyic      { background-position: 0 83.333333% !important; }
.sprite--gear--su35Nj3B      { background-position: 0 87.5% !important; }
.sprite--gear--VEtlgsrY      { background-position: 0 91.666667% !important; }
.sprite--gear--Xrut8QTb      { background-position: 0 95.833333% !important; }
.sprite--gear--zqkhLCBb      { background-position: 0 100% !important; }
.sprite--gear--0biOXqdU      { background-position: 4% 0 !important; }
.sprite--gear--0M65PdHG      { background-position: 4% 4.166667% !important; }
.sprite--gear--0Sw18PIY      { background-position: 4% 8.333333% !important; }
.sprite--gear--1BVLYmw0      { background-position: 4% 12.5% !important; }
.sprite--gear--22RjfsSm      { background-position: 4% 16.666667% !important; }
.sprite--gear--2Ou7ymCl      { background-position: 4% 20.833333% !important; }
.sprite--gear--3vr81hHJ      { background-position: 4% 25% !important; }
.sprite--gear--5aNzvNMo      { background-position: 4% 29.166667% !important; }
.sprite--gear--6biU7PyE      { background-position: 4% 33.333333% !important; }
.sprite--gear--7KxtazKD      { background-position: 4% 37.5% !important; }
.sprite--gear--A9uG5Uwp      { background-position: 4% 41.666667% !important; }
.sprite--gear--BLoW3SZT      { background-position: 4% 45.833333% !important; }
.sprite--gear--cRroYNSr      { background-position: 4% 50% !important; }
.sprite--gear--eJ0gmaFa      { background-position: 4% 54.166667% !important; }
.sprite--gear--GhykadHe      { background-position: 4% 58.333333% !important; }
.sprite--gear--i5zyjMUO      { background-position: 4% 62.5% !important; }
.sprite--gear--Jtn9jBHl      { background-position: 4% 66.666667% !important; }
.sprite--gear--l03K6AX3      { background-position: 4% 70.833333% !important; }
.sprite--gear--MSHxF1oN      { background-position: 4% 75% !important; }
.sprite--gear--olksYcGO      { background-position: 4% 79.166667% !important; }
.sprite--gear--qxPoCcss      { background-position: 4% 83.333333% !important; }
.sprite--gear--sVqpLXJs      { background-position: 4% 87.5% !important; }
.sprite--gear--vf9qylMP      { background-position: 4% 91.666667% !important; }
.sprite--gear--XSvfSLB4      { background-position: 4% 95.833333% !important; }
.sprite--gear--ZSdwLX8m      { background-position: 4% 100% !important; }
.sprite--gear--0PKxDLNJ      { background-position: 8% 0 !important; }
.sprite--gear--0RBpVNs4      { background-position: 8% 4.166667% !important; }
.sprite--gear--0swSj3if      { background-position: 8% 8.333333% !important; }
.sprite--gear--1EwH0aVm      { background-position: 8% 12.5% !important; }
.sprite--gear--23jOw3AR      { background-position: 8% 16.666667% !important; }
.sprite--gear--2psvzPtT      { background-position: 8% 20.833333% !important; }
.sprite--gear--3WBg6q95      { background-position: 8% 25% !important; }
.sprite--gear--5BIbIymL      { background-position: 8% 29.166667% !important; }
.sprite--gear--6fDDRVuH      { background-position: 8% 33.333333% !important; }
.sprite--gear--7nWvk9G3      { background-position: 8% 37.5% !important; }
.sprite--gear--AA3Ca1KG      { background-position: 8% 41.666667% !important; }
.sprite--gear--bMcVKQLR      { background-position: 8% 45.833333% !important; }
.sprite--gear--D4rS3w1E      { background-position: 8% 50% !important; }
.sprite--gear--EnHWjMb7      { background-position: 8% 54.166667% !important; }
.sprite--gear--GlVeqpu4      { background-position: 8% 58.333333% !important; }
.sprite--gear--IdMK0zgG      { background-position: 8% 62.5% !important; }
.sprite--gear--JU0cVE8I      { background-position: 8% 66.666667% !important; }
.sprite--gear--L2zxifjx      { background-position: 8% 70.833333% !important; }
.sprite--gear--Mugl1Tmp      { background-position: 8% 75% !important; }
.sprite--gear--onvi9sQw      { background-position: 8% 79.166667% !important; }
.sprite--gear--QYW1rzNv      { background-position: 8% 83.333333% !important; }
.sprite--gear--sVRWg36t      { background-position: 8% 87.5% !important; }
.sprite--gear--vgXDRcZ0      { background-position: 8% 91.666667% !important; }
.sprite--gear--XTLAz16M      { background-position: 8% 95.833333% !important; }
.sprite--gear--ZSotCYqy      { background-position: 8% 100% !important; }
.sprite--gear--0UkJGx5u      { background-position: 12% 0 !important; }
.sprite--gear--10FVqXGb      { background-position: 12% 4.166667% !important; }
.sprite--gear--13JTHZJz      { background-position: 12% 8.333333% !important; }
.sprite--gear--1g82A2dd      { background-position: 12% 12.5% !important; }
.sprite--gear--27EtfYPp      { background-position: 12% 16.666667% !important; }
.sprite--gear--2xV61hK7      { background-position: 12% 20.833333% !important; }
.sprite--gear--3yJAiAIv      { background-position: 12% 25% !important; }
.sprite--gear--5cjcEmDe      { background-position: 12% 29.166667% !important; }
.sprite--gear--6KNBwbRG      { background-position: 12% 33.333333% !important; }
.sprite--gear--7R9fQwWo      { background-position: 12% 37.5% !important; }
.sprite--gear--aaEqd8KK      { background-position: 12% 41.666667% !important; }
.sprite--gear--bPraeaZ0      { background-position: 12% 45.833333% !important; }
.sprite--gear--d5dVUOFO      { background-position: 12% 50% !important; }
.sprite--gear--EnWLsEK6      { background-position: 12% 54.166667% !important; }
.sprite--gear--GpoUUBVj      { background-position: 12% 58.333333% !important; }
.sprite--gear--IfbxaWGD      { background-position: 12% 62.5% !important; }
.sprite--gear--JvFpsWp4      { background-position: 12% 66.666667% !important; }
.sprite--gear--L5VvUdps      { background-position: 12% 70.833333% !important; }
.sprite--gear--MV1AuRrz      { background-position: 12% 75% !important; }
.sprite--gear--OQBvfKsR      { background-position: 12% 79.166667% !important; }
.sprite--gear--r0qJM0h8      { background-position: 12% 83.333333% !important; }
.sprite--gear--sX7ljkg0      { background-position: 12% 87.5% !important; }
.sprite--gear--vjoZiD5C      { background-position: 12% 91.666667% !important; }
.sprite--gear--xUyoDP5i      { background-position: 12% 95.833333% !important; }
.sprite--gear--ArmorBuilding { background-position: 12% 100% !important; }
.sprite--gear--1l53VoS0      { background-position: 16% 0 !important; }
.sprite--gear--1LFnNUvV      { background-position: 16% 4.166667% !important; }
.sprite--gear--1yextCG0      { background-position: 16% 8.333333% !important; }
.sprite--gear--21930GEc      { background-position: 16% 12.5% !important; }
.sprite--gear--2dGtTSKB      { background-position: 16% 16.666667% !important; }
.sprite--gear--2YkM19si      { background-position: 16% 20.833333% !important; }
.sprite--gear--45dHVN2t      { background-position: 16% 25% !important; }
.sprite--gear--5EyMOvLj      { background-position: 16% 29.166667% !important; }
.sprite--gear--6lwVDyjm      { background-position: 16% 33.333333% !important; }
.sprite--gear--7sb33YZ6      { background-position: 16% 37.5% !important; }
.sprite--gear--AcV7gmnG      { background-position: 16% 41.666667% !important; }
.sprite--gear--bT955h15      { background-position: 16% 45.833333% !important; }
.sprite--gear--DCsz5YGq      { background-position: 16% 50% !important; }
.sprite--gear--eOOP35Kp      { background-position: 16% 54.166667% !important; }
.sprite--gear--GptfKx7X      { background-position: 16% 58.333333% !important; }
.sprite--gear--IgkutQ9c      { background-position: 16% 62.5% !important; }
.sprite--gear--JVl8DGXX      { background-position: 16% 66.666667% !important; }
.sprite--gear--lAJ7MXNm      { background-position: 16% 70.833333% !important; }
.sprite--gear--mVNy7K3C      { background-position: 16% 75% !important; }
.sprite--gear--oYi1iVJG      { background-position: 16% 79.166667% !important; }
.sprite--gear--R4Gkm50O      { background-position: 16% 83.333333% !important; }
.sprite--gear--t04DCw01      { background-position: 16% 87.5% !important; }
.sprite--gear--vK6pJiC0      { background-position: 16% 91.666667% !important; }
.sprite--gear--XVdFENQY      { background-position: 16% 95.833333% !important; }
.sprite--gear--ArmorCloth    { background-position: 16% 100% !important; }
.sprite--gear--2dw5g2Hz      { background-position: 20% 0 !important; }
.sprite--gear--2FAuXUjt      { background-position: 20% 4.166667% !important; }
.sprite--gear--2kF4DGlc      { background-position: 20% 8.333333% !important; }
.sprite--gear--2MI4gtgT      { background-position: 20% 12.5% !important; }
.sprite--gear--2omvJmlq      { background-position: 20% 16.666667% !important; }
.sprite--gear--37C3zYZj      { background-position: 20% 20.833333% !important; }
.sprite--gear--4AoPkZqT      { background-position: 20% 25% !important; }
.sprite--gear--5IEClSqj      { background-position: 20% 29.166667% !important; }
.sprite--gear--6O4PKmxx      { background-position: 20% 33.333333% !important; }
.sprite--gear--7sSL1BPQ      { background-position: 20% 37.5% !important; }
.sprite--gear--aDzOSiih      { background-position: 20% 41.666667% !important; }
.sprite--gear--C14IgCOm      { background-position: 20% 45.833333% !important; }
.sprite--gear--Dfjmh43t      { background-position: 20% 50% !important; }
.sprite--gear--ex7h2mf9      { background-position: 20% 54.166667% !important; }
.sprite--gear--gQCSQzjp      { background-position: 20% 58.333333% !important; }
.sprite--gear--ih6VqB1p      { background-position: 20% 62.5% !important; }
.sprite--gear--JWaqXFzi      { background-position: 20% 66.666667% !important; }
.sprite--gear--lCKzpgjC      { background-position: 20% 70.833333% !important; }
.sprite--gear--mwgLX6LW      { background-position: 20% 75% !important; }
.sprite--gear--OyoLIbnh      { background-position: 20% 79.166667% !important; }
.sprite--gear--r4TRcoQR      { background-position: 20% 83.333333% !important; }
.sprite--gear--T0XPG4Qj      { background-position: 20% 87.5% !important; }
.sprite--gear--Vl88wKKn      { background-position: 20% 91.666667% !important; }
.sprite--gear--XwvZIGmv      { background-position: 20% 95.833333% !important; }
.sprite--gear--ArmorLgt      { background-position: 20% 100% !important; }
.sprite--gear--3A7bqRfb      { background-position: 24% 0 !important; }
.sprite--gear--3bTvCR59      { background-position: 24% 4.166667% !important; }
.sprite--gear--3C15304h      { background-position: 24% 8.333333% !important; }
.sprite--gear--3fhHs7gt      { background-position: 24% 12.5% !important; }
.sprite--gear--3h7D6b4M      { background-position: 24% 16.666667% !important; }
.sprite--gear--3JBknIYl      { background-position: 24% 20.833333% !important; }
.sprite--gear--4ba8d3mB      { background-position: 24% 25% !important; }
.sprite--gear--5LMQV1OM      { background-position: 24% 29.166667% !important; }
.sprite--gear--6ufkA12R      { background-position: 24% 33.333333% !important; }
.sprite--gear--82LSO4lO      { background-position: 24% 37.5% !important; }
.sprite--gear--AKMnoAla      { background-position: 24% 41.666667% !important; }
.sprite--gear--C1vejvUW      { background-position: 24% 45.833333% !important; }
.sprite--gear--dgOZN7Ab      { background-position: 24% 50% !important; }
.sprite--gear--eXNE6aii      { background-position: 24% 54.166667% !important; }
.sprite--gear--GR6pGmvi      { background-position: 24% 58.333333% !important; }
.sprite--gear--IJUfw15F      { background-position: 24% 62.5% !important; }
.sprite--gear--JZ6DKM1N      { background-position: 24% 66.666667% !important; }
.sprite--gear--lEKQPX8e      { background-position: 24% 70.833333% !important; }
.sprite--gear--MXeVV17Q      { background-position: 24% 75% !important; }
.sprite--gear--ozDQ4RV6      { background-position: 24% 79.166667% !important; }
.sprite--gear--r81IfEQs      { background-position: 24% 83.333333% !important; }
.sprite--gear--t1zgCTba      { background-position: 24% 87.5% !important; }
.sprite--gear--VLSW8Ye4      { background-position: 24% 91.666667% !important; }
.sprite--gear--xXrh5gPZ      { background-position: 24% 95.833333% !important; }
.sprite--gear--ArmorMed      { background-position: 24% 100% !important; }
.sprite--gear--4LSsFx41      { background-position: 28% 0 !important; }
.sprite--gear--4nUINtPT      { background-position: 28% 4.166667% !important; }
.sprite--gear--4uxrhOYi      { background-position: 28% 8.333333% !important; }
.sprite--gear--4Uy2JBeu      { background-position: 28% 12.5% !important; }
.sprite--gear--4UZfKS0m      { background-position: 28% 16.666667% !important; }
.sprite--gear--50CbHlUB      { background-position: 28% 20.833333% !important; }
.sprite--gear--58wQanJm      { background-position: 28% 25% !important; }
.sprite--gear--5N9Dq2Mw      { background-position: 28% 29.166667% !important; }
.sprite--gear--6WI5vQjd      { background-position: 28% 33.333333% !important; }
.sprite--gear--83cGS1l4      { background-position: 28% 37.5% !important; }
.sprite--gear--ALRHt8ce      { background-position: 28% 41.666667% !important; }
.sprite--gear--c2F2LOnX      { background-position: 28% 45.833333% !important; }
.sprite--gear--DHbWen2M      { background-position: 28% 50% !important; }
.sprite--gear--EyL6Om5l      { background-position: 28% 54.166667% !important; }
.sprite--gear--GrQJj4Hk      { background-position: 28% 58.333333% !important; }
.sprite--gear--IkVYoKAa      { background-position: 28% 62.5% !important; }
.sprite--gear--JzmBxLoG      { background-position: 28% 66.666667% !important; }
.sprite--gear--lEr6Gaak      { background-position: 28% 70.833333% !important; }
.sprite--gear--mxuLgAT4      { background-position: 28% 75% !important; }
.sprite--gear--p1APhlaJ      { background-position: 28% 79.166667% !important; }
.sprite--gear--rAAGu4eW      { background-position: 28% 83.333333% !important; }
.sprite--gear--T386g36K      { background-position: 28% 87.5% !important; }
.sprite--gear--VnYWa9AY      { background-position: 28% 91.666667% !important; }
.sprite--gear--xYG4X44P      { background-position: 28% 95.833333% !important; }
.sprite--gear--ArmorPlt      { background-position: 28% 100% !important; }
.sprite--gear--5ogBlmBw      { background-position: 32% 0 !important; }
.sprite--gear--5SeBTDgv      { background-position: 32% 4.166667% !important; }
.sprite--gear--5V1E5k7a      { background-position: 32% 8.333333% !important; }
.sprite--gear--5Wn9IKWK      { background-position: 32% 12.5% !important; }
.sprite--gear--5YFKwbqL      { background-position: 32% 16.666667% !important; }
.sprite--gear--627g1scJ      { background-position: 32% 20.833333% !important; }
.sprite--gear--62S8NKbu      { background-position: 32% 25% !important; }
.sprite--gear--66d2k9Dy      { background-position: 32% 29.166667% !important; }
.sprite--gear--6wKBJIWY      { background-position: 32% 33.333333% !important; }
.sprite--gear--8bOfxbCk      { background-position: 32% 37.5% !important; }
.sprite--gear--AMl47mXY      { background-position: 32% 41.666667% !important; }
.sprite--gear--c6xNVllr      { background-position: 32% 45.833333% !important; }
.sprite--gear--dItKP21o      { background-position: 32% 50% !important; }
.sprite--gear--EZiQfv1b      { background-position: 32% 54.166667% !important; }
.sprite--gear--GUf3Igsb      { background-position: 32% 58.333333% !important; }
.sprite--gear--imEcMyuV      { background-position: 32% 62.5% !important; }
.sprite--gear--jzvdo6uV      { background-position: 32% 66.666667% !important; }
.sprite--gear--lhgGG9pr      { background-position: 32% 70.833333% !important; }
.sprite--gear--n1DgcHAG      { background-position: 32% 75% !important; }
.sprite--gear--P29bgsN0      { background-position: 32% 79.166667% !important; }
.sprite--gear--rbMqHYxn      { background-position: 32% 83.333333% !important; }
.sprite--gear--t9HrqodS      { background-position: 32% 87.5% !important; }
.sprite--gear--vNzEDaIC      { background-position: 32% 91.666667% !important; }
.sprite--gear--y5ePdRo4      { background-position: 32% 95.833333% !important; }
.sprite--gear--Arrows        { background-position: 32% 100% !important; }
.sprite--gear--72JvwLLY      { background-position: 36% 0 !important; }
.sprite--gear--72kMFeZf      { background-position: 36% 4.166667% !important; }
.sprite--gear--75ml1Lc6      { background-position: 36% 8.333333% !important; }
.sprite--gear--7b9Rr7Ve      { background-position: 36% 12.5% !important; }
.sprite--gear--7d2viBT0      { background-position: 36% 16.666667% !important; }
.sprite--gear--7daSB4WR      { background-position: 36% 20.833333% !important; }
.sprite--gear--7eutHQUS      { background-position: 36% 25% !important; }
.sprite--gear--7gLZhQgS      { background-position: 36% 29.166667% !important; }
.sprite--gear--7J3b8ubk      { background-position: 36% 33.333333% !important; }
.sprite--gear--8glJAau9      { background-position: 36% 37.5% !important; }
.sprite--gear--AOcdKdH0      { background-position: 36% 41.666667% !important; }
.sprite--gear--C8q9QSvu      { background-position: 36% 45.833333% !important; }
.sprite--gear--DKvLnhvZ      { background-position: 36% 50% !important; }
.sprite--gear--f0vgEEEm      { background-position: 36% 54.166667% !important; }
.sprite--gear--gWses6UG      { background-position: 36% 58.333333% !important; }
.sprite--gear--IMhbIgSe      { background-position: 36% 62.5% !important; }
.sprite--gear--k18YNm74      { background-position: 36% 66.666667% !important; }
.sprite--gear--lkaW2dNZ      { background-position: 36% 70.833333% !important; }
.sprite--gear--n1jlzZsU      { background-position: 36% 75% !important; }
.sprite--gear--p4zKgAu7      { background-position: 36% 79.166667% !important; }
.sprite--gear--RCNz2glv      { background-position: 36% 83.333333% !important; }
.sprite--gear--TaS1KxBo      { background-position: 36% 87.5% !important; }
.sprite--gear--vPe0pZ8j      { background-position: 36% 91.666667% !important; }
.sprite--gear--y8Nmazeg      { background-position: 36% 95.833333% !important; }
.sprite--gear--BallistaArms  { background-position: 36% 100% !important; }
.sprite--gear--8jcgWeKn      { background-position: 40% 0 !important; }
.sprite--gear--8NltZgyY      { background-position: 40% 4.166667% !important; }
.sprite--gear--8PIHar8j      { background-position: 40% 8.333333% !important; }
.sprite--gear--8QrSPHRZ      { background-position: 40% 12.5% !important; }
.sprite--gear--92xFRHie      { background-position: 40% 16.666667% !important; }
.sprite--gear--9cE9IMzX      { background-position: 40% 20.833333% !important; }
.sprite--gear--9Ecdt1XV      { background-position: 40% 25% !important; }
.sprite--gear--9hsh3eLY      { background-position: 40% 29.166667% !important; }
.sprite--gear--9RLj2az7      { background-position: 40% 33.333333% !important; }
.sprite--gear--a1RULgpb      { background-position: 40% 37.5% !important; }
.sprite--gear--AOT2vJdL      { background-position: 40% 41.666667% !important; }
.sprite--gear--cAdb3xVL      { background-position: 40% 45.833333% !important; }
.sprite--gear--DriGQHpn      { background-position: 40% 50% !important; }
.sprite--gear--F8Q4adU2      { background-position: 40% 54.166667% !important; }
.sprite--gear--gxFHbTSC      { background-position: 40% 58.333333% !important; }
.sprite--gear--IqTWoQX3      { background-position: 40% 62.5% !important; }
.sprite--gear--k1UKk37F      { background-position: 40% 66.666667% !important; }
.sprite--gear--LlHkCZCe      { background-position: 40% 70.833333% !important; }
.sprite--gear--N2LOsJ1a      { background-position: 40% 75% !important; }
.sprite--gear--p8b4Ja2A      { background-position: 40% 79.166667% !important; }
.sprite--gear--RDraFM8o      { background-position: 40% 83.333333% !important; }
.sprite--gear--tasXnb49      { background-position: 40% 87.5% !important; }
.sprite--gear--VRUcpFZj      { background-position: 40% 91.666667% !important; }
.sprite--gear--YaUTZAUa      { background-position: 40% 95.833333% !important; }
.sprite--gear--Banner        { background-position: 40% 100% !important; }
.sprite--gear--asas6mSt      { background-position: 44% 0 !important; }
.sprite--gear--AtaKpOw4      { background-position: 44% 4.166667% !important; }
.sprite--gear--atyZ69Is      { background-position: 44% 8.333333% !important; }
.sprite--gear--AwXr3pmA      { background-position: 44% 12.5% !important; }
.sprite--gear--axLN9Gmr      { background-position: 44% 16.666667% !important; }
.sprite--gear--aYpKhxRK      { background-position: 44% 20.833333% !important; }
.sprite--gear--aYydxh7E      { background-position: 44% 25% !important; }
.sprite--gear--B3BptoqW      { background-position: 44% 29.166667% !important; }
.sprite--gear--B4kKdvNc      { background-position: 44% 33.333333% !important; }
.sprite--gear--bFRPLVqH      { background-position: 44% 37.5% !important; }
.sprite--gear--BhvOqzXO      { background-position: 44% 41.666667% !important; }
.sprite--gear--CaGenf1T      { background-position: 44% 45.833333% !important; }
.sprite--gear--DSGuqAKr      { background-position: 44% 50% !important; }
.sprite--gear--fabbUFk9      { background-position: 44% 54.166667% !important; }
.sprite--gear--GxSVIZIP      { background-position: 44% 58.333333% !important; }
.sprite--gear--ir0cktcb      { background-position: 44% 62.5% !important; }
.sprite--gear--K4htoVDZ      { background-position: 44% 66.666667% !important; }
.sprite--gear--Lm4aMlfE      { background-position: 44% 70.833333% !important; }
.sprite--gear--n2s4efNP      { background-position: 44% 75% !important; }
.sprite--gear--PaGL4bHw      { background-position: 44% 79.166667% !important; }
.sprite--gear--Revtgmpc      { background-position: 44% 83.333333% !important; }
.sprite--gear--teDWMvSk      { background-position: 44% 87.5% !important; }
.sprite--gear--VtPEFsNc      { background-position: 44% 91.666667% !important; }
.sprite--gear--yCbbbQFl      { background-position: 44% 95.833333% !important; }
.sprite--gear--BellyBows     { background-position: 44% 100% !important; }
.sprite--gear--Cblyb5xg      { background-position: 48% 0 !important; }
.sprite--gear--CCh8JS8o      { background-position: 48% 4.166667% !important; }
.sprite--gear--cEAx5Vny      { background-position: 48% 8.333333% !important; }
.sprite--gear--cEPSFTsf      { background-position: 48% 12.5% !important; }
.sprite--gear--CGdgJlIa      { background-position: 48% 16.666667% !important; }
.sprite--gear--CHpSnZI9      { background-position: 48% 20.833333% !important; }
.sprite--gear--cJJspynU      { background-position: 48% 25% !important; }
.sprite--gear--cKQStwHa      { background-position: 48% 29.166667% !important; }
.sprite--gear--cksiBBKF      { background-position: 48% 33.333333% !important; }
.sprite--gear--cNDQsKa9      { background-position: 48% 37.5% !important; }
.sprite--gear--CqKM36FX      { background-position: 48% 41.666667% !important; }
.sprite--gear--cQQpq02h      { background-position: 48% 45.833333% !important; }
.sprite--gear--dtVZpVxu      { background-position: 48% 50% !important; }
.sprite--gear--fcvtfbiT      { background-position: 48% 54.166667% !important; }
.sprite--gear--GYFLAGje      { background-position: 48% 58.333333% !important; }
.sprite--gear--irRje7Zt      { background-position: 48% 62.5% !important; }
.sprite--gear--k4NJBtrR      { background-position: 48% 66.666667% !important; }
.sprite--gear--LNZNu2Au      { background-position: 48% 70.833333% !important; }
.sprite--gear--N6blqUpQ      { background-position: 48% 75% !important; }
.sprite--gear--pAnrYr7V      { background-position: 48% 79.166667% !important; }
.sprite--gear--rEZdiBc1      { background-position: 48% 83.333333% !important; }
.sprite--gear--TeeUogr8      { background-position: 48% 87.5% !important; }
.sprite--gear--vTVABUIa      { background-position: 48% 91.666667% !important; }
.sprite--gear--Ye3zXoIN      { background-position: 48% 95.833333% !important; }
.sprite--gear--Bows          { background-position: 48% 100% !important; }
.sprite--gear--DvOuL55C      { background-position: 52% 0 !important; }
.sprite--gear--DXq76hXx      { background-position: 52% 4.166667% !important; }
.sprite--gear--DYas5e5D      { background-position: 52% 8.333333% !important; }
.sprite--gear--E9E9f6EF      { background-position: 52% 12.5% !important; }
.sprite--gear--EAcs9T31      { background-position: 52% 16.666667% !important; }
.sprite--gear--eCNgR01i      { background-position: 52% 20.833333% !important; }
.sprite--gear--EDq8eR3a      { background-position: 52% 25% !important; }
.sprite--gear--edYFMPgw      { background-position: 52% 29.166667% !important; }
.sprite--gear--eFB4eSHL      { background-position: 52% 33.333333% !important; }
.sprite--gear--eFnY2hYL      { background-position: 52% 37.5% !important; }
.sprite--gear--eGLccDYR      { background-position: 52% 41.666667% !important; }
.sprite--gear--eGWpJvhS      { background-position: 52% 45.833333% !important; }
.sprite--gear--eHaOsleq      { background-position: 52% 50% !important; }
.sprite--gear--FCzU10Ts      { background-position: 52% 54.166667% !important; }
.sprite--gear--GYOyPCyP      { background-position: 52% 58.333333% !important; }
.sprite--gear--iTgDkLRN      { background-position: 52% 62.5% !important; }
.sprite--gear--k60UZTUw      { background-position: 52% 66.666667% !important; }
.sprite--gear--lOGqetPz      { background-position: 52% 70.833333% !important; }
.sprite--gear--N9341flm      { background-position: 52% 75% !important; }
.sprite--gear--pE2oKL9d      { background-position: 52% 79.166667% !important; }
.sprite--gear--rJSF6o8n      { background-position: 52% 83.333333% !important; }
.sprite--gear--tf4Wlsg9      { background-position: 52% 87.5% !important; }
.sprite--gear--VtWncdi1      { background-position: 52% 91.666667% !important; }
.sprite--gear--yEe7kPJz      { background-position: 52% 95.833333% !important; }
.sprite--gear--Clubs2H       { background-position: 52% 100% !important; }
.sprite--gear--fDDTjUJk      { background-position: 56% 0 !important; }
.sprite--gear--FGgx04zB      { background-position: 56% 4.166667% !important; }
.sprite--gear--fHKkGA4A      { background-position: 56% 8.333333% !important; }
.sprite--gear--fI4R4Tn4      { background-position: 56% 12.5% !important; }
.sprite--gear--FIDYAZkW      { background-position: 56% 16.666667% !important; }
.sprite--gear--FIxnClYE      { background-position: 56% 20.833333% !important; }
.sprite--gear--FjAIKkOh      { background-position: 56% 25% !important; }
.sprite--gear--FMRLaROw      { background-position: 56% 29.166667% !important; }
.sprite--gear--fPfCN7UP      { background-position: 56% 33.333333% !important; }
.sprite--gear--FrLEDg0U      { background-position: 56% 37.5% !important; }
.sprite--gear--FxyeVIJh      { background-position: 56% 41.666667% !important; }
.sprite--gear--G7p2t1Mx      { background-position: 56% 45.833333% !important; }
.sprite--gear--gAgJtZNx      { background-position: 56% 50% !important; }
.sprite--gear--GaL88Ww7      { background-position: 56% 54.166667% !important; }
.sprite--gear--gZE4SdW0      { background-position: 56% 58.333333% !important; }
.sprite--gear--iTx8OkcB      { background-position: 56% 62.5% !important; }
.sprite--gear--K7UeayA1      { background-position: 56% 66.666667% !important; }
.sprite--gear--lqZE7Bjg      { background-position: 56% 70.833333% !important; }
.sprite--gear--NbdMGfKc      { background-position: 56% 75% !important; }
.sprite--gear--pe4ijMcW      { background-position: 56% 79.166667% !important; }
.sprite--gear--rLlHklmw      { background-position: 56% 83.333333% !important; }
.sprite--gear--TFRorjm2      { background-position: 56% 87.5% !important; }
.sprite--gear--VuO99N8y      { background-position: 56% 91.666667% !important; }
.sprite--gear--YHjT7nZA      { background-position: 56% 95.833333% !important; }
.sprite--gear--FireThrowers  { background-position: 56% 100% !important; }
.sprite--gear--H3Hpz0Ii      { background-position: 60% 0 !important; }
.sprite--gear--HfIFzvAk      { background-position: 60% 4.166667% !important; }
.sprite--gear--HHEFhO0i      { background-position: 60% 8.333333% !important; }
.sprite--gear--HiIgFBOj      { background-position: 60% 12.5% !important; }
.sprite--gear--HjKoI40F      { background-position: 60% 16.666667% !important; }
.sprite--gear--hlUI47Ft      { background-position: 60% 20.833333% !important; }
.sprite--gear--HooMquug      { background-position: 60% 25% !important; }
.sprite--gear--Hrd8AW0G      { background-position: 60% 29.166667% !important; }
.sprite--gear--hSr0QjHv      { background-position: 60% 33.333333% !important; }
.sprite--gear--HTkB64zj      { background-position: 60% 37.5% !important; }
.sprite--gear--htRKQjSI      { background-position: 60% 41.666667% !important; }
.sprite--gear--hvWWbCNC      { background-position: 60% 45.833333% !important; }
.sprite--gear--hzgD7Cd2      { background-position: 60% 50% !important; }
.sprite--gear--HZYvgxbd      { background-position: 60% 54.166667% !important; }
.sprite--gear--I43a1PwL      { background-position: 60% 58.333333% !important; }
.sprite--gear--IuhZFZg0      { background-position: 60% 62.5% !important; }
.sprite--gear--kAevzKay      { background-position: 60% 66.666667% !important; }
.sprite--gear--lS9bTurk      { background-position: 60% 70.833333% !important; }
.sprite--gear--nBxWKuoM      { background-position: 60% 75% !important; }
.sprite--gear--PEnUbgcz      { background-position: 60% 79.166667% !important; }
.sprite--gear--rLtlTG8P      { background-position: 60% 83.333333% !important; }
.sprite--gear--tgOnx8GY      { background-position: 60% 87.5% !important; }
.sprite--gear--VWMJT50y      { background-position: 60% 91.666667% !important; }
.sprite--gear--ylJFWGeE      { background-position: 60% 95.833333% !important; }
.sprite--gear--FishingNet    { background-position: 60% 100% !important; }
.sprite--gear--iW94LWvZ      { background-position: 64% 0 !important; }
.sprite--gear--IyQ2S5ii      { background-position: 64% 4.166667% !important; }
.sprite--gear--J5CUm88j      { background-position: 64% 8.333333% !important; }
.sprite--gear--j7W7JK94      { background-position: 64% 12.5% !important; }
.sprite--gear--JARANdba      { background-position: 64% 16.666667% !important; }
.sprite--gear--jaUFyefO      { background-position: 64% 20.833333% !important; }
.sprite--gear--jDgDCrtf      { background-position: 64% 25% !important; }
.sprite--gear--JFw4OfR5      { background-position: 64% 29.166667% !important; }
.sprite--gear--JGDqQM5y      { background-position: 64% 33.333333% !important; }
.sprite--gear--jlRWdCsN      { background-position: 64% 37.5% !important; }
.sprite--gear--JnLkKgWx      { background-position: 64% 41.666667% !important; }
.sprite--gear--jP7DndV4      { background-position: 64% 45.833333% !important; }
.sprite--gear--jRqpxgot      { background-position: 64% 50% !important; }
.sprite--gear--jT5fCHuJ      { background-position: 64% 54.166667% !important; }
.sprite--gear--JtfGwZbK      { background-position: 64% 58.333333% !important; }
.sprite--gear--jtHkOvJS      { background-position: 64% 62.5% !important; }
.sprite--gear--kawnlEtW      { background-position: 64% 66.666667% !important; }
.sprite--gear--lveYmaFa      { background-position: 64% 70.833333% !important; }
.sprite--gear--nchNH1s9      { background-position: 64% 75% !important; }
.sprite--gear--pEYsmtn9      { background-position: 64% 79.166667% !important; }
.sprite--gear--rM7hiQZG      { background-position: 64% 83.333333% !important; }
.sprite--gear--tjkNeKIw      { background-position: 64% 87.5% !important; }
.sprite--gear--VykaoYhD      { background-position: 64% 91.666667% !important; }
.sprite--gear--YmCLdXss      { background-position: 64% 95.833333% !important; }
.sprite--gear--Gear          { background-position: 64% 100% !important; }
.sprite--gear--kBrtCBpz      { background-position: 68% 0 !important; }
.sprite--gear--KcaMUKZR      { background-position: 68% 4.166667% !important; }
.sprite--gear--kCpNITM9      { background-position: 68% 8.333333% !important; }
.sprite--gear--kDevYoTV      { background-position: 68% 12.5% !important; }
.sprite--gear--KdP4UAYX      { background-position: 68% 16.666667% !important; }
.sprite--gear--Ke3SjxxD      { background-position: 68% 20.833333% !important; }
.sprite--gear--KeSGPK9H      { background-position: 68% 25% !important; }
.sprite--gear--kF0GbdFL      { background-position: 68% 29.166667% !important; }
.sprite--gear--kFMfMVX5      { background-position: 68% 33.333333% !important; }
.sprite--gear--klt6mvAj      { background-position: 68% 37.5% !important; }
.sprite--gear--KM9Hi5DR      { background-position: 68% 41.666667% !important; }
.sprite--gear--kPmguy1S      { background-position: 68% 45.833333% !important; }
.sprite--gear--krBVIwak      { background-position: 68% 50% !important; }
.sprite--gear--KwBvGbtV      { background-position: 68% 54.166667% !important; }
.sprite--gear--KWVkxfzh      { background-position: 68% 58.333333% !important; }
.sprite--gear--kWxIIVtn      { background-position: 68% 62.5% !important; }
.sprite--gear--kx2XJj2y      { background-position: 68% 66.666667% !important; }
.sprite--gear--lVMfzoPQ      { background-position: 68% 70.833333% !important; }
.sprite--gear--nDE5IJE3      { background-position: 68% 75% !important; }
.sprite--gear--pGIyDU51      { background-position: 68% 79.166667% !important; }
.sprite--gear--RPHVlHjx      { background-position: 68% 83.333333% !important; }
.sprite--gear--TKyDaYCr      { background-position: 68% 87.5% !important; }
.sprite--gear--W1SIQXQE      { background-position: 68% 91.666667% !important; }
.sprite--gear--ymRzphb1      { background-position: 68% 95.833333% !important; }
.sprite--gear--GearBldg      { background-position: 68% 100% !important; }
.sprite--gear--LwUt4cbg      { background-position: 72% 0 !important; }
.sprite--gear--lXCdYK1m      { background-position: 72% 4.166667% !important; }
.sprite--gear--lxOOQxmT      { background-position: 72% 8.333333% !important; }
.sprite--gear--m1mmkU0j      { background-position: 72% 12.5% !important; }
.sprite--gear--M3glm0TN      { background-position: 72% 16.666667% !important; }
.sprite--gear--M3wXkUNK      { background-position: 72% 20.833333% !important; }
.sprite--gear--mBF3PZUn      { background-position: 72% 25% !important; }
.sprite--gear--mfLs8gS3      { background-position: 72% 29.166667% !important; }
.sprite--gear--MFQSmdV2      { background-position: 72% 33.333333% !important; }
.sprite--gear--mGBeeL6f      { background-position: 72% 37.5% !important; }
.sprite--gear--mgZpj3RG      { background-position: 72% 41.666667% !important; }
.sprite--gear--mIdN9oBV      { background-position: 72% 45.833333% !important; }
.sprite--gear--MiXMRaHh      { background-position: 72% 50% !important; }
.sprite--gear--MJA9V0is      { background-position: 72% 54.166667% !important; }
.sprite--gear--Mkp2WRBA      { background-position: 72% 58.333333% !important; }
.sprite--gear--mllRMKJm      { background-position: 72% 62.5% !important; }
.sprite--gear--MMuWANQJ      { background-position: 72% 66.666667% !important; }
.sprite--gear--mMw4i7p3      { background-position: 72% 70.833333% !important; }
.sprite--gear--NDxTY5RF      { background-position: 72% 75% !important; }
.sprite--gear--PIg0AcYG      { background-position: 72% 79.166667% !important; }
.sprite--gear--rqtQubWn      { background-position: 72% 83.333333% !important; }
.sprite--gear--TLiSIa2v      { background-position: 72% 87.5% !important; }
.sprite--gear--w3qfKRtv      { background-position: 72% 91.666667% !important; }
.sprite--gear--YO9gbBgA      { background-position: 72% 95.833333% !important; }
.sprite--gear--GearBoat      { background-position: 72% 100% !important; }
.sprite--gear--nGDDMPap      { background-position: 76% 0 !important; }
.sprite--gear--NHUteRdn      { background-position: 76% 4.166667% !important; }
.sprite--gear--nidh2cC8      { background-position: 76% 8.333333% !important; }
.sprite--gear--nJZmayay      { background-position: 76% 12.5% !important; }
.sprite--gear--NKdJcf1p      { background-position: 76% 16.666667% !important; }
.sprite--gear--nMJBBpfj      { background-position: 76% 20.833333% !important; }
.sprite--gear--nNnOmVfM      { background-position: 76% 25% !important; }
.sprite--gear--NOEX2vz9      { background-position: 76% 29.166667% !important; }
.sprite--gear--Nr3vjuCr      { background-position: 76% 33.333333% !important; }
.sprite--gear--NVmrgbRj      { background-position: 76% 37.5% !important; }
.sprite--gear--nw7HYXyn      { background-position: 76% 41.666667% !important; }
.sprite--gear--o3LWcSuf      { background-position: 76% 45.833333% !important; }
.sprite--gear--Obwb9Xja      { background-position: 76% 50% !important; }
.sprite--gear--oC8Agn60      { background-position: 76% 54.166667% !important; }
.sprite--gear--OcZU9VKX      { background-position: 76% 58.333333% !important; }
.sprite--gear--od76BHLV      { background-position: 76% 62.5% !important; }
.sprite--gear--OebxSISn      { background-position: 76% 66.666667% !important; }
.sprite--gear--oelavjaq      { background-position: 76% 70.833333% !important; }
.sprite--gear--ojtSHtEF      { background-position: 76% 75% !important; }
.sprite--gear--piZUcaR8      { background-position: 76% 79.166667% !important; }
.sprite--gear--rsO64XEs      { background-position: 76% 83.333333% !important; }
.sprite--gear--tmx2ciVo      { background-position: 76% 87.5% !important; }
.sprite--gear--W5SGO8G7      { background-position: 76% 91.666667% !important; }
.sprite--gear--yOAgiP5s      { background-position: 76% 95.833333% !important; }
.sprite--gear--GearPriest    { background-position: 76% 100% !important; }
.sprite--gear--PjTpBLww      { background-position: 80% 0 !important; }
.sprite--gear--pJXo1euH      { background-position: 80% 4.166667% !important; }
.sprite--gear--Pn3eg4LE      { background-position: 80% 8.333333% !important; }
.sprite--gear--POIHrse1      { background-position: 80% 12.5% !important; }
.sprite--gear--PphTsozI      { background-position: 80% 16.666667% !important; }
.sprite--gear--pRfo6yzJ      { background-position: 80% 20.833333% !important; }
.sprite--gear--pV3YQaUR      { background-position: 80% 25% !important; }
.sprite--gear--pWYEOe3g      { background-position: 80% 29.166667% !important; }
.sprite--gear--pzgszSTq      { background-position: 80% 33.333333% !important; }
.sprite--gear--q23MrBGM      { background-position: 80% 37.5% !important; }
.sprite--gear--Q3THydAq      { background-position: 80% 41.666667% !important; }
.sprite--gear--Q3ZZ1rG0      { background-position: 80% 45.833333% !important; }
.sprite--gear--q60XyJ5v      { background-position: 80% 50% !important; }
.sprite--gear--qaSKirnk      { background-position: 80% 54.166667% !important; }
.sprite--gear--qaXm6nwA      { background-position: 80% 58.333333% !important; }
.sprite--gear--qdFt4k4h      { background-position: 80% 62.5% !important; }
.sprite--gear--QEYDlVEE      { background-position: 80% 66.666667% !important; }
.sprite--gear--qlGk6rud      { background-position: 80% 70.833333% !important; }
.sprite--gear--Qryn2Ut8      { background-position: 80% 75% !important; }
.sprite--gear--QUUxFslP      { background-position: 80% 79.166667% !important; }
.sprite--gear--RwnxNkm6      { background-position: 80% 83.333333% !important; }
.sprite--gear--tncXgO7d      { background-position: 80% 87.5% !important; }
.sprite--gear--WC06xqZQ      { background-position: 80% 91.666667% !important; }
.sprite--gear--yoaTkVDV      { background-position: 80% 95.833333% !important; }
.sprite--gear--GearSiege     { background-position: 80% 100% !important; }
.sprite--gear--RwVoOlEN      { background-position: 84% 0 !important; }
.sprite--gear--RyaOTpY8      { background-position: 84% 4.166667% !important; }
.sprite--gear--RyJTARj0      { background-position: 84% 8.333333% !important; }
.sprite--gear--rzBj3TkY      { background-position: 84% 12.5% !important; }
.sprite--gear--rziWROT5      { background-position: 84% 16.666667% !important; }
.sprite--gear--s2WzRhRe      { background-position: 84% 20.833333% !important; }
.sprite--gear--S3MJOTf4      { background-position: 84% 25% !important; }
.sprite--gear--S7HBPc26      { background-position: 84% 29.166667% !important; }
.sprite--gear--s8UxaxaF      { background-position: 84% 33.333333% !important; }
.sprite--gear--s9mlGbsl      { background-position: 84% 37.5% !important; }
.sprite--gear--SBZlwOPC      { background-position: 84% 41.666667% !important; }
.sprite--gear--sdLtadTw      { background-position: 84% 45.833333% !important; }
.sprite--gear--seN2OHJG      { background-position: 84% 50% !important; }
.sprite--gear--sglqm5Ti      { background-position: 84% 54.166667% !important; }
.sprite--gear--SIhsmb3F      { background-position: 84% 58.333333% !important; }
.sprite--gear--SkaXmXND      { background-position: 84% 62.5% !important; }
.sprite--gear--spa9jjTl      { background-position: 84% 66.666667% !important; }
.sprite--gear--spBKa6wE      { background-position: 84% 70.833333% !important; }
.sprite--gear--sQEHnHhs      { background-position: 84% 75% !important; }
.sprite--gear--sqs28ClC      { background-position: 84% 79.166667% !important; }
.sprite--gear--sSrR2bKY      { background-position: 84% 83.333333% !important; }
.sprite--gear--tp2UEzc2      { background-position: 84% 87.5% !important; }
.sprite--gear--wCpiwGOK      { background-position: 84% 91.666667% !important; }
.sprite--gear--Ypx0T5tb      { background-position: 84% 95.833333% !important; }
.sprite--gear--GearVill      { background-position: 84% 100% !important; }
.sprite--gear--tQ9GLD5t      { background-position: 88% 0 !important; }
.sprite--gear--trinubKe      { background-position: 88% 4.166667% !important; }
.sprite--gear--tU1qvETB      { background-position: 88% 8.333333% !important; }
.sprite--gear--TWFhysIW      { background-position: 88% 12.5% !important; }
.sprite--gear--u7G8k6le      { background-position: 88% 16.666667% !important; }
.sprite--gear--U9yUYYsv      { background-position: 88% 20.833333% !important; }
.sprite--gear--UbUGa4pO      { background-position: 88% 25% !important; }
.sprite--gear--UDbTaSyq      { background-position: 88% 29.166667% !important; }
.sprite--gear--udMOu6de      { background-position: 88% 33.333333% !important; }
.sprite--gear--uJnIMkZH      { background-position: 88% 37.5% !important; }
.sprite--gear--uKkzUw6A      { background-position: 88% 41.666667% !important; }
.sprite--gear--UkWfEZ1P      { background-position: 88% 45.833333% !important; }
.sprite--gear--UN3VfpfM      { background-position: 88% 50% !important; }
.sprite--gear--uN78tXrd      { background-position: 88% 54.166667% !important; }
.sprite--gear--uTXz2AbK      { background-position: 88% 58.333333% !important; }
.sprite--gear--uY2CKj2Y      { background-position: 88% 62.5% !important; }
.sprite--gear--V1NVcdk5      { background-position: 88% 66.666667% !important; }
.sprite--gear--v9WDTQEC      { background-position: 88% 70.833333% !important; }
.sprite--gear--vBFrWF2q      { background-position: 88% 75% !important; }
.sprite--gear--VBUIG7U4      { background-position: 88% 79.166667% !important; }
.sprite--gear--vCkX1f7N      { background-position: 88% 83.333333% !important; }
.sprite--gear--vcNU9ceR      { background-position: 88% 87.5% !important; }
.sprite--gear--WDfB2aW1      { background-position: 88% 91.666667% !important; }
.sprite--gear--YQGrAOKZ      { background-position: 88% 95.833333% !important; }
.sprite--gear--Generic       { background-position: 88% 100% !important; }
.sprite--gear--WDLUDks3      { background-position: 92% 0 !important; }
.sprite--gear--wiJbvA4n      { background-position: 92% 4.166667% !important; }
.sprite--gear--WjLTzRY6      { background-position: 92% 8.333333% !important; }
.sprite--gear--wmNfAAEC      { background-position: 92% 12.5% !important; }
.sprite--gear--WNBIzBS0      { background-position: 92% 16.666667% !important; }
.sprite--gear--wnHVmRI2      { background-position: 92% 20.833333% !important; }
.sprite--gear--WsJ4bdBl      { background-position: 92% 25% !important; }
.sprite--gear--wUUNko8k      { background-position: 92% 29.166667% !important; }
.sprite--gear--WXwZoNV6      { background-position: 92% 33.333333% !important; }
.sprite--gear--x0QQlbSk      { background-position: 92% 37.5% !important; }
.sprite--gear--x456DaAG      { background-position: 92% 41.666667% !important; }
.sprite--gear--x7zBlPg1      { background-position: 92% 45.833333% !important; }
.sprite--gear--xbZQgYyR      { background-position: 92% 50% !important; }
.sprite--gear--xe3RFdpQ      { background-position: 92% 54.166667% !important; }
.sprite--gear--XFnqHUmb      { background-position: 92% 58.333333% !important; }
.sprite--gear--XgA2wODh      { background-position: 92% 62.5% !important; }
.sprite--gear--xh49iSYp      { background-position: 92% 66.666667% !important; }
.sprite--gear--xi5lwBA7      { background-position: 92% 70.833333% !important; }
.sprite--gear--XJ4HPl87      { background-position: 92% 75% !important; }
.sprite--gear--XM40wdaO      { background-position: 92% 79.166667% !important; }
.sprite--gear--Xn01rfTi      { background-position: 92% 83.333333% !important; }
.sprite--gear--xnEa0gbm      { background-position: 92% 87.5% !important; }
.sprite--gear--xQH9XqTh      { background-position: 92% 91.666667% !important; }
.sprite--gear--ySyKHemp      { background-position: 92% 95.833333% !important; }
.sprite--gear--GreatAxe      { background-position: 92% 100% !important; }
.sprite--gear--yWm7y41p      { background-position: 96% 0 !important; }
.sprite--gear--YYLNLfly      { background-position: 96% 4.166667% !important; }
.sprite--gear--Z1jw7X5w      { background-position: 96% 8.333333% !important; }
.sprite--gear--Z3sNTKzg      { background-position: 96% 12.5% !important; }
.sprite--gear--Z4PQyBrn      { background-position: 96% 16.666667% !important; }
.sprite--gear--z53njxhy      { background-position: 96% 20.833333% !important; }
.sprite--gear--z72mCw4K      { background-position: 96% 25% !important; }
.sprite--gear--z7vofgVa      { background-position: 96% 29.166667% !important; }
.sprite--gear--Z8PHyjEW      { background-position: 96% 33.333333% !important; }
.sprite--gear--Zb09CAnT      { background-position: 96% 37.5% !important; }
.sprite--gear--zbOkcVsc      { background-position: 96% 41.666667% !important; }
.sprite--gear--zC9uViM1      { background-position: 96% 45.833333% !important; }
.sprite--gear--zdZ1VUHy      { background-position: 96% 50% !important; }
.sprite--gear--ZF2uj0Uw      { background-position: 96% 54.166667% !important; }
.sprite--gear--ZgQYjV4a      { background-position: 96% 58.333333% !important; }
.sprite--gear--zhnvDjje      { background-position: 96% 62.5% !important; }
.sprite--gear--zkTMnMk0      { background-position: 96% 66.666667% !important; }
.sprite--gear--ZlDHyfhr      { background-position: 96% 70.833333% !important; }
.sprite--gear--ZlG1mh6P      { background-position: 96% 75% !important; }
.sprite--gear--Zmm9mp3e      { background-position: 96% 79.166667% !important; }
.sprite--gear--znkhrcYS      { background-position: 96% 83.333333% !important; }
.sprite--gear--ZNRCU2DK      { background-position: 96% 87.5% !important; }
.sprite--gear--ZPT7upIM      { background-position: 96% 91.666667% !important; }
.sprite--gear--zPv9auWQ      { background-position: 96% 95.833333% !important; }
.sprite--gear--Javalins      { background-position: 96% 100% !important; }
.sprite--gear--Merchant      { background-position: 100% 0 !important; }
.sprite--gear--RamHeads      { background-position: 100% 4.166667% !important; }
.sprite--gear--Scepter       { background-position: 100% 8.333333% !important; }
.sprite--gear--ScoutSpecial1H{ background-position: 100% 12.5% !important; }
.sprite--gear--Shields       { background-position: 100% 16.666667% !important; }
.sprite--gear--Sling         { background-position: 100% 20.833333% !important; }
.sprite--gear--Spears1H      { background-position: 100% 25% !important; }
.sprite--gear--Spears2H      { background-position: 100% 29.166667% !important; }
.sprite--gear--Staffs2H      { background-position: 100% 33.333333% !important; }
.sprite--gear--Swords1H      { background-position: 100% 37.5% !important; }
.sprite--gear--Tools         { background-position: 100% 41.666667% !important; }
.sprite--gear--Torc          { background-position: 100% 45.833333% !important; }
.sprite--gear--War-Horn      { background-position: 100% 50% !important; }
.sprite--gear--Warpaint      { background-position: 100% 54.166667% !important; }
