.sprite--icons {
  background-image: url("/assets/sprites/icons.webp");
  width: 32px;
  height: 32px;
}
.sprite--icons--AreaDamageReduction         { background-position: 0 0 !important; }
.sprite--icons--ArmorHand                   { background-position: 0 12.5% !important; }
.sprite--icons--Berry                       { background-position: 0 25% !important; }
.sprite--icons--CarryCapacityWood           { background-position: 0 37.5% !important; }
.sprite--icons--CostStone                   { background-position: 0 50% !important; }
.sprite--icons--DamageBonusHuntable         { background-position: 0 62.5% !important; }
.sprite--icons--Fish                        { background-position: 0 75% !important; }
.sprite--icons--WatchPostConstruction       { background-position: 0 87.5% !important; }
.sprite--icons--roman                       { background-position: 0 100% !important; }
.sprite--icons--ArmorCavalry                { background-position: 12.5% 0 !important; }
.sprite--icons--ArmorRanged                 { background-position: 12.5% 12.5% !important; }
.sprite--icons--BuildLimit                  { background-position: 12.5% 25% !important; }
.sprite--icons--Chaos                       { background-position: 12.5% 37.5% !important; }
.sprite--icons--CostWood                    { background-position: 12.5% 50% !important; }
.sprite--icons--DamageBonusReduction        { background-position: 12.5% 62.5% !important; }
.sprite--icons--GatherFood                  { background-position: 12.5% 75% !important; }
.sprite--icons--WorkRateSelfHeal            { background-position: 12.5% 87.5% !important; }
.sprite--icons--share                       { background-position: 12.5% 100% !important; }
.sprite--icons--ArmorSiege                  { background-position: 25% 0 !important; }
.sprite--icons--ArmorVulnerability          { background-position: 25% 12.5% !important; }
.sprite--icons--BuildPoints                 { background-position: 25% 25% !important; }
.sprite--icons--ConstructionSpeed           { background-position: 25% 37.5% !important; }
.sprite--icons--CriticalHit                 { background-position: 25% 50% !important; }
.sprite--icons--DamageBonusShip             { background-position: 25% 62.5% !important; }
.sprite--icons--GatherGold                  { background-position: 25% 75% !important; }
.sprite--icons--YieldAbstractFish           { background-position: 25% 87.5% !important; }
.sprite--icons--CarryCapacityFood           { background-position: 37.5% 0 !important; }
.sprite--icons--CarryCapacityGold           { background-position: 37.5% 12.5% !important; }
.sprite--icons--CarryCapacityStone          { background-position: 37.5% 25% !important; }
.sprite--icons--ConvertResist               { background-position: 37.5% 37.5% !important; }
.sprite--icons--DamageArea                  { background-position: 37.5% 50% !important; }
.sprite--icons--DamageBonusUnitTypeVillager1{ background-position: 37.5% 62.5% !important; }
.sprite--icons--GatherStone                 { background-position: 37.5% 75% !important; }
.sprite--icons--YieldAbstractFruit          { background-position: 37.5% 87.5% !important; }
.sprite--icons--ConvertStandardConvertable  { background-position: 50% 0 !important; }
.sprite--icons--Cost                        { background-position: 50% 12.5% !important; }
.sprite--icons--CostFood                    { background-position: 50% 25% !important; }
.sprite--icons--CostGold                    { background-position: 50% 37.5% !important; }
.sprite--icons--DamageBonusAbstractArcher   { background-position: 50% 50% !important; }
.sprite--icons--DamageCavalry               { background-position: 50% 62.5% !important; }
.sprite--icons--GatherTree                  { background-position: 50% 75% !important; }
.sprite--icons--YieldGold                   { background-position: 50% 87.5% !important; }
.sprite--icons--DamageBonusAbstractArtillery{ background-position: 62.5% 0 !important; }
.sprite--icons--DamageBonusAbstractCavalry  { background-position: 62.5% 12.5% !important; }
.sprite--icons--DamageBonusAbstractInfantry { background-position: 62.5% 25% !important; }
.sprite--icons--DamageBonusAbstractPriest   { background-position: 62.5% 37.5% !important; }
.sprite--icons--DamageBonusBuilding         { background-position: 62.5% 50% !important; }
.sprite--icons--DamageHand                  { background-position: 62.5% 62.5% !important; }
.sprite--icons--Hitpoints                   { background-position: 62.5% 75% !important; }
.sprite--icons--YieldStone                  { background-position: 62.5% 87.5% !important; }
.sprite--icons--DamageOverTime              { background-position: 75% 0 !important; }
.sprite--icons--DamageRanged                { background-position: 75% 12.5% !important; }
.sprite--icons--DamageSiege                 { background-position: 75% 25% !important; }
.sprite--icons--EmpowerActionBuild          { background-position: 75% 37.5% !important; }
.sprite--icons--EmpowerActionTrain          { background-position: 75% 50% !important; }
.sprite--icons--EmpowerDropsite             { background-position: 75% 62.5% !important; }
.sprite--icons--LOS                         { background-position: 75% 75% !important; }
.sprite--icons--YieldTree                   { background-position: 75% 87.5% !important; }
.sprite--icons--Map                         { background-position: 87.5% 0 !important; }
.sprite--icons--MaximumRange                { background-position: 87.5% 12.5% !important; }
.sprite--icons--MaximumVelocity             { background-position: 87.5% 25% !important; }
.sprite--icons--PopulationCount             { background-position: 87.5% 37.5% !important; }
.sprite--icons--RateHeal                    { background-position: 87.5% 50% !important; }
.sprite--icons--SnareResist                 { background-position: 87.5% 62.5% !important; }
.sprite--icons--TargetSpeedBoost            { background-position: 87.5% 75% !important; }
.sprite--icons--babylonian                  { background-position: 87.5% 87.5% !important; }
.sprite--icons--celtic                      { background-position: 100% 0 !important; }
.sprite--icons--close                       { background-position: 100% 12.5% !important; }
.sprite--icons--cog                         { background-position: 100% 25% !important; }
.sprite--icons--egyptian                    { background-position: 100% 37.5% !important; }
.sprite--icons--greek                       { background-position: 100% 50% !important; }
.sprite--icons--norse                       { background-position: 100% 62.5% !important; }
.sprite--icons--persian                     { background-position: 100% 75% !important; }
.sprite--icons--plus                        { background-position: 100% 87.5% !important; }
