.sprite--icons {
  background-image: url("/assets/sprites/icons.webp");
  width: 32px;
  height: 32px;
}
.sprite--icons--AreaDamageReduction         { background-position: 0 0 !important; }
.sprite--icons--ArmorHand                   { background-position: 0 12.5% !important; }
.sprite--icons--arrow-right                 { background-position: 0 25% !important; }
.sprite--icons--CarryCapacityGold           { background-position: 0 37.5% !important; }
.sprite--icons--ConvertResist               { background-position: 0 50% !important; }
.sprite--icons--DamageArea                  { background-position: 0 62.5% !important; }
.sprite--icons--DamageHand                  { background-position: 0 75% !important; }
.sprite--icons--HealArea                    { background-position: 0 87.5% !important; }
.sprite--icons--update                      { background-position: 0 100% !important; }
.sprite--icons--ArmorCavalry                { background-position: 11.111111% 0 !important; }
.sprite--icons--ArmorRanged                 { background-position: 11.111111% 12.5% !important; }
.sprite--icons--babylonian                  { background-position: 11.111111% 25% !important; }
.sprite--icons--CarryCapacityStone          { background-position: 11.111111% 37.5% !important; }
.sprite--icons--ConvertStandardConvertable  { background-position: 11.111111% 50% !important; }
.sprite--icons--DamageBonusAbstractArcher   { background-position: 11.111111% 62.5% !important; }
.sprite--icons--DamageOverTime              { background-position: 11.111111% 75% !important; }
.sprite--icons--Hitpoints                   { background-position: 11.111111% 87.5% !important; }
.sprite--icons--WatchPostConstruction       { background-position: 11.111111% 100% !important; }
.sprite--icons--ArmorSiege                  { background-position: 22.222222% 0 !important; }
.sprite--icons--ArmorVulnerability          { background-position: 22.222222% 12.5% !important; }
.sprite--icons--Berry                       { background-position: 22.222222% 25% !important; }
.sprite--icons--CarryCapacityWood           { background-position: 22.222222% 37.5% !important; }
.sprite--icons--Cost                        { background-position: 22.222222% 50% !important; }
.sprite--icons--DamageBonusAbstractArtillery{ background-position: 22.222222% 62.5% !important; }
.sprite--icons--DamageRanged                { background-position: 22.222222% 75% !important; }
.sprite--icons--indian                      { background-position: 22.222222% 87.5% !important; }
.sprite--icons--WorkRateSelfHeal            { background-position: 22.222222% 100% !important; }
.sprite--icons--BuildLimit                  { background-position: 33.333333% 0 !important; }
.sprite--icons--BuildPoints                 { background-position: 33.333333% 12.5% !important; }
.sprite--icons--CarryCapacityFood           { background-position: 33.333333% 25% !important; }
.sprite--icons--celtic                      { background-position: 33.333333% 37.5% !important; }
.sprite--icons--CostFood                    { background-position: 33.333333% 50% !important; }
.sprite--icons--DamageBonusAbstractCavalry  { background-position: 33.333333% 62.5% !important; }
.sprite--icons--DamageSiege                 { background-position: 33.333333% 75% !important; }
.sprite--icons--LOS                         { background-position: 33.333333% 87.5% !important; }
.sprite--icons--YieldAbstractFish           { background-position: 33.333333% 100% !important; }
.sprite--icons--Chaos                       { background-position: 44.444444% 0 !important; }
.sprite--icons--close                       { background-position: 44.444444% 12.5% !important; }
.sprite--icons--cog                         { background-position: 44.444444% 25% !important; }
.sprite--icons--ConstructionSpeed           { background-position: 44.444444% 37.5% !important; }
.sprite--icons--CostGold                    { background-position: 44.444444% 50% !important; }
.sprite--icons--DamageBonusAbstractInfantry { background-position: 44.444444% 62.5% !important; }
.sprite--icons--egyptian                    { background-position: 44.444444% 75% !important; }
.sprite--icons--Map                         { background-position: 44.444444% 87.5% !important; }
.sprite--icons--YieldAbstractFruit          { background-position: 44.444444% 100% !important; }
.sprite--icons--CostStone                   { background-position: 55.555556% 0 !important; }
.sprite--icons--CostWood                    { background-position: 55.555556% 12.5% !important; }
.sprite--icons--CriticalDamage              { background-position: 55.555556% 25% !important; }
.sprite--icons--CriticalHit                 { background-position: 55.555556% 37.5% !important; }
.sprite--icons--CriticalHit_old             { background-position: 55.555556% 50% !important; }
.sprite--icons--DamageBonusAbstractPriest   { background-position: 55.555556% 62.5% !important; }
.sprite--icons--EmpowerActionBuild          { background-position: 55.555556% 75% !important; }
.sprite--icons--MaximumRange                { background-position: 55.555556% 87.5% !important; }
.sprite--icons--YieldGold                   { background-position: 55.555556% 100% !important; }
.sprite--icons--DamageBonusBuilding         { background-position: 66.666667% 0 !important; }
.sprite--icons--DamageBonusHuntable         { background-position: 66.666667% 12.5% !important; }
.sprite--icons--DamageBonusReduction        { background-position: 66.666667% 25% !important; }
.sprite--icons--DamageBonusShip             { background-position: 66.666667% 37.5% !important; }
.sprite--icons--DamageBonusUnitTypeVillager1{ background-position: 66.666667% 50% !important; }
.sprite--icons--DamageCavalry               { background-position: 66.666667% 62.5% !important; }
.sprite--icons--EmpowerActionTrain          { background-position: 66.666667% 75% !important; }
.sprite--icons--MaximumVelocity             { background-position: 66.666667% 87.5% !important; }
.sprite--icons--YieldHerdable               { background-position: 66.666667% 100% !important; }
.sprite--icons--EmpowerDropsite             { background-position: 77.777778% 0 !important; }
.sprite--icons--Fish                        { background-position: 77.777778% 12.5% !important; }
.sprite--icons--GatherFood                  { background-position: 77.777778% 25% !important; }
.sprite--icons--GatherGold                  { background-position: 77.777778% 37.5% !important; }
.sprite--icons--GatherStone                 { background-position: 77.777778% 50% !important; }
.sprite--icons--GatherTree                  { background-position: 77.777778% 62.5% !important; }
.sprite--icons--greek                       { background-position: 77.777778% 75% !important; }
.sprite--icons--norse                       { background-position: 77.777778% 87.5% !important; }
.sprite--icons--YieldHuntable               { background-position: 77.777778% 100% !important; }
.sprite--icons--persian                     { background-position: 88.888889% 0 !important; }
.sprite--icons--plus                        { background-position: 88.888889% 12.5% !important; }
.sprite--icons--PopulationCount             { background-position: 88.888889% 25% !important; }
.sprite--icons--RateHeal                    { background-position: 88.888889% 37.5% !important; }
.sprite--icons--roman                       { background-position: 88.888889% 50% !important; }
.sprite--icons--share                       { background-position: 88.888889% 62.5% !important; }
.sprite--icons--SnareResist                 { background-position: 88.888889% 75% !important; }
.sprite--icons--TargetSpeedBoost            { background-position: 88.888889% 87.5% !important; }
.sprite--icons--YieldStone                  { background-position: 88.888889% 100% !important; }
.sprite--icons--YieldTree                   { background-position: 100% 0 !important; }
