.sprite--milestones {
  background-image: url("/assets/sprites/milestones.webp");
  width: 64px;
  height: 64px;
}
.sprite--milestones--02Vqyhxf{ background-position: 0 0 !important; }
.sprite--milestones--1HdoM4uM{ background-position: 0 14.285714% !important; }
.sprite--milestones--3x4wTKXX{ background-position: 0 28.571429% !important; }
.sprite--milestones--FhabhmvJ{ background-position: 0 42.857143% !important; }
.sprite--milestones--LqbF5ROw{ background-position: 0 57.142857% !important; }
.sprite--milestones--Teji2sHy{ background-position: 0 71.428571% !important; }
.sprite--milestones--h68NDPKz{ background-position: 0 85.714286% !important; }
.sprite--milestones--oOxi21uV{ background-position: 0 100% !important; }
.sprite--milestones--16bmy6iD{ background-position: 12.5% 0 !important; }
.sprite--milestones--2EG19JH3{ background-position: 12.5% 14.285714% !important; }
.sprite--milestones--6SfPnr4j{ background-position: 12.5% 28.571429% !important; }
.sprite--milestones--FtH3YYcE{ background-position: 12.5% 42.857143% !important; }
.sprite--milestones--LxAu5SGG{ background-position: 12.5% 57.142857% !important; }
.sprite--milestones--UAR5UK75{ background-position: 12.5% 71.428571% !important; }
.sprite--milestones--hLboodNS{ background-position: 12.5% 85.714286% !important; }
.sprite--milestones--r7WVtIot{ background-position: 12.5% 100% !important; }
.sprite--milestones--2jTLDEZR{ background-position: 25% 0 !important; }
.sprite--milestones--3AsJfm9b{ background-position: 25% 14.285714% !important; }
.sprite--milestones--6fa7xukI{ background-position: 25% 28.571429% !important; }
.sprite--milestones--HGv3SbtN{ background-position: 25% 42.857143% !important; }
.sprite--milestones--OoPZfxHa{ background-position: 25% 57.142857% !important; }
.sprite--milestones--UGeGUiAY{ background-position: 25% 71.428571% !important; }
.sprite--milestones--hb7R2MEL{ background-position: 25% 85.714286% !important; }
.sprite--milestones--rcdRgpGD{ background-position: 25% 100% !important; }
.sprite--milestones--6l4iksK8{ background-position: 37.5% 0 !important; }
.sprite--milestones--CH5OL8MB{ background-position: 37.5% 14.285714% !important; }
.sprite--milestones--Fbxck5mU{ background-position: 37.5% 28.571429% !important; }
.sprite--milestones--IF8dvlVU{ background-position: 37.5% 42.857143% !important; }
.sprite--milestones--Q7varBBE{ background-position: 37.5% 57.142857% !important; }
.sprite--milestones--UUtuUHIp{ background-position: 37.5% 71.428571% !important; }
.sprite--milestones--iMRns4sV{ background-position: 37.5% 85.714286% !important; }
.sprite--milestones--tBZEBZ8l{ background-position: 37.5% 100% !important; }
.sprite--milestones--JKGqshjP{ background-position: 50% 0 !important; }
.sprite--milestones--JyfWr1tm{ background-position: 50% 14.285714% !important; }
.sprite--milestones--KDkK9Tnh{ background-position: 50% 28.571429% !important; }
.sprite--milestones--LLMq9Lgo{ background-position: 50% 42.857143% !important; }
.sprite--milestones--R1a7wbT7{ background-position: 50% 57.142857% !important; }
.sprite--milestones--WkobUnNq{ background-position: 50% 71.428571% !important; }
.sprite--milestones--kNaASwzo{ background-position: 50% 85.714286% !important; }
.sprite--milestones--u6RPmngh{ background-position: 50% 100% !important; }
.sprite--milestones--S1LiMO7b{ background-position: 62.5% 0 !important; }
.sprite--milestones--Sh0T6l60{ background-position: 62.5% 14.285714% !important; }
.sprite--milestones--SlU9XouL{ background-position: 62.5% 28.571429% !important; }
.sprite--milestones--T4Xe7D1D{ background-position: 62.5% 42.857143% !important; }
.sprite--milestones--TQRa8Un1{ background-position: 62.5% 57.142857% !important; }
.sprite--milestones--XeWxWqdB{ background-position: 62.5% 71.428571% !important; }
.sprite--milestones--kSyV6VsS{ background-position: 62.5% 85.714286% !important; }
.sprite--milestones--uyfTCXuZ{ background-position: 62.5% 100% !important; }
.sprite--milestones--Xus1FuuH{ background-position: 75% 0 !important; }
.sprite--milestones--ZBCXCchf{ background-position: 75% 14.285714% !important; }
.sprite--milestones--aKxygx7M{ background-position: 75% 28.571429% !important; }
.sprite--milestones--cWAz4Uh3{ background-position: 75% 42.857143% !important; }
.sprite--milestones--f3OarNUP{ background-position: 75% 57.142857% !important; }
.sprite--milestones--ftA3Ypxf{ background-position: 75% 71.428571% !important; }
.sprite--milestones--kXNYJKFg{ background-position: 75% 85.714286% !important; }
.sprite--milestones--vYFe7Kiz{ background-position: 75% 100% !important; }
.sprite--milestones--kfKcdUBT{ background-position: 87.5% 0 !important; }
.sprite--milestones--kmojcFvB{ background-position: 87.5% 14.285714% !important; }
.sprite--milestones--lF2vhPnT{ background-position: 87.5% 28.571429% !important; }
.sprite--milestones--lND3R5Rn{ background-position: 87.5% 42.857143% !important; }
.sprite--milestones--nQs5mzGT{ background-position: 87.5% 57.142857% !important; }
.sprite--milestones--nbDwyCO0{ background-position: 87.5% 71.428571% !important; }
.sprite--milestones--none    { background-position: 87.5% 85.714286% !important; }
.sprite--milestones--vb1HFbq3{ background-position: 87.5% 100% !important; }
.sprite--milestones--wNU5u0eC{ background-position: 100% 0 !important; }
.sprite--milestones--wRjWW3Ad{ background-position: 100% 14.285714% !important; }
.sprite--milestones--wUBZEEZT{ background-position: 100% 28.571429% !important; }
.sprite--milestones--yerOnhVR{ background-position: 100% 42.857143% !important; }
.sprite--milestones--z8T8bV6L{ background-position: 100% 57.142857% !important; }
.sprite--milestones--zoxp5oX8{ background-position: 100% 71.428571% !important; }
.sprite--milestones--zwTO5Djr{ background-position: 100% 85.714286% !important; }
