.sprite--milestones {
  background-image: url("/assets/sprites/milestones.webp");
  width: 64px;
  height: 64px;
}
.sprite--milestones--16bmy6iD{ background-position: 0 0 !important; }
.sprite--milestones--2EG19JH3{ background-position: 0 14.285714% !important; }
.sprite--milestones--6fa7xukI{ background-position: 0 28.571429% !important; }
.sprite--milestones--IF8dvlVU{ background-position: 0 42.857143% !important; }
.sprite--milestones--Sh0T6l60{ background-position: 0 57.142857% !important; }
.sprite--milestones--ZBCXCchf{ background-position: 0 71.428571% !important; }
.sprite--milestones--kfKcdUBT{ background-position: 0 85.714286% !important; }
.sprite--milestones--wUBZEEZT{ background-position: 0 100% !important; }
.sprite--milestones--1HdoM4uM{ background-position: 14.285714% 0 !important; }
.sprite--milestones--2jTLDEZR{ background-position: 14.285714% 14.285714% !important; }
.sprite--milestones--6l4iksK8{ background-position: 14.285714% 28.571429% !important; }
.sprite--milestones--JKGqshjP{ background-position: 14.285714% 42.857143% !important; }
.sprite--milestones--SlU9XouL{ background-position: 14.285714% 57.142857% !important; }
.sprite--milestones--aKxygx7M{ background-position: 14.285714% 71.428571% !important; }
.sprite--milestones--kmojcFvB{ background-position: 14.285714% 85.714286% !important; }
.sprite--milestones--z8T8bV6L{ background-position: 14.285714% 100% !important; }
.sprite--milestones--3x4wTKXX{ background-position: 28.571429% 0 !important; }
.sprite--milestones--6SfPnr4j{ background-position: 28.571429% 14.285714% !important; }
.sprite--milestones--CH5OL8MB{ background-position: 28.571429% 28.571429% !important; }
.sprite--milestones--JyfWr1tm{ background-position: 28.571429% 42.857143% !important; }
.sprite--milestones--T4Xe7D1D{ background-position: 28.571429% 57.142857% !important; }
.sprite--milestones--cWAz4Uh3{ background-position: 28.571429% 71.428571% !important; }
.sprite--milestones--lND3R5Rn{ background-position: 28.571429% 85.714286% !important; }
.sprite--milestones--zoxp5oX8{ background-position: 28.571429% 100% !important; }
.sprite--milestones--Fbxck5mU{ background-position: 42.857143% 0 !important; }
.sprite--milestones--FhabhmvJ{ background-position: 42.857143% 14.285714% !important; }
.sprite--milestones--HGv3SbtN{ background-position: 42.857143% 28.571429% !important; }
.sprite--milestones--KDkK9Tnh{ background-position: 42.857143% 42.857143% !important; }
.sprite--milestones--TQRa8Un1{ background-position: 42.857143% 57.142857% !important; }
.sprite--milestones--f3OarNUP{ background-position: 42.857143% 71.428571% !important; }
.sprite--milestones--nQs5mzGT{ background-position: 42.857143% 85.714286% !important; }
.sprite--milestones--zwTO5Djr{ background-position: 42.857143% 100% !important; }
.sprite--milestones--LLMq9Lgo{ background-position: 57.142857% 0 !important; }
.sprite--milestones--LxAu5SGG{ background-position: 57.142857% 14.285714% !important; }
.sprite--milestones--R1a7wbT7{ background-position: 57.142857% 28.571429% !important; }
.sprite--milestones--S1LiMO7b{ background-position: 57.142857% 42.857143% !important; }
.sprite--milestones--UAR5UK75{ background-position: 57.142857% 57.142857% !important; }
.sprite--milestones--ftA3Ypxf{ background-position: 57.142857% 71.428571% !important; }
.sprite--milestones--nbDwyCO0{ background-position: 57.142857% 85.714286% !important; }
.sprite--milestones--UGeGUiAY{ background-position: 71.428571% 0 !important; }
.sprite--milestones--UUtuUHIp{ background-position: 71.428571% 14.285714% !important; }
.sprite--milestones--WkobUnNq{ background-position: 71.428571% 28.571429% !important; }
.sprite--milestones--XeWxWqdB{ background-position: 71.428571% 42.857143% !important; }
.sprite--milestones--Xus1FuuH{ background-position: 71.428571% 57.142857% !important; }
.sprite--milestones--h68NDPKz{ background-position: 71.428571% 71.428571% !important; }
.sprite--milestones--r7WVtIot{ background-position: 71.428571% 85.714286% !important; }
.sprite--milestones--hLboodNS{ background-position: 85.714286% 0 !important; }
.sprite--milestones--hb7R2MEL{ background-position: 85.714286% 14.285714% !important; }
.sprite--milestones--iMRns4sV{ background-position: 85.714286% 28.571429% !important; }
.sprite--milestones--kNaASwzo{ background-position: 85.714286% 42.857143% !important; }
.sprite--milestones--kSyV6VsS{ background-position: 85.714286% 57.142857% !important; }
.sprite--milestones--kXNYJKFg{ background-position: 85.714286% 71.428571% !important; }
.sprite--milestones--rcdRgpGD{ background-position: 85.714286% 85.714286% !important; }
.sprite--milestones--tBZEBZ8l{ background-position: 100% 0 !important; }
.sprite--milestones--u6RPmngh{ background-position: 100% 14.285714% !important; }
.sprite--milestones--uyfTCXuZ{ background-position: 100% 28.571429% !important; }
.sprite--milestones--vYFe7Kiz{ background-position: 100% 42.857143% !important; }
.sprite--milestones--vb1HFbq3{ background-position: 100% 57.142857% !important; }
.sprite--milestones--wNU5u0eC{ background-position: 100% 71.428571% !important; }
.sprite--milestones--wRjWW3Ad{ background-position: 100% 85.714286% !important; }
