.sprite--milestones {
  background-image: url("/assets/sprites/milestones.webp");
  width: 64px;
  height: 64px;
}
.sprite--milestones--02Vqyhxf{ background-position: 0 0 !important; }
.sprite--milestones--1HdoM4uM{ background-position: 0 12.5% !important; }
.sprite--milestones--3x4wTKXX{ background-position: 0 25% !important; }
.sprite--milestones--CH5OL8MB{ background-position: 0 37.5% !important; }
.sprite--milestones--FtH3YYcE{ background-position: 0 50% !important; }
.sprite--milestones--KDkK9Tnh{ background-position: 0 62.5% !important; }
.sprite--milestones--none    { background-position: 0 75% !important; }
.sprite--milestones--tBZEBZ8l{ background-position: 0 87.5% !important; }
.sprite--milestones--wUBZEEZT{ background-position: 0 100% !important; }
.sprite--milestones--16bmy6iD{ background-position: 12.5% 0 !important; }
.sprite--milestones--2EG19JH3{ background-position: 12.5% 12.5% !important; }
.sprite--milestones--6fa7xukI{ background-position: 12.5% 25% !important; }
.sprite--milestones--cWAz4Uh3{ background-position: 12.5% 37.5% !important; }
.sprite--milestones--h68NDPKz{ background-position: 12.5% 50% !important; }
.sprite--milestones--kfKcdUBT{ background-position: 12.5% 62.5% !important; }
.sprite--milestones--nQs5mzGT{ background-position: 12.5% 75% !important; }
.sprite--milestones--Teji2sHy{ background-position: 12.5% 87.5% !important; }
.sprite--milestones--XeWxWqdB{ background-position: 12.5% 100% !important; }
.sprite--milestones--2jTLDEZR{ background-position: 25% 0 !important; }
.sprite--milestones--3AsJfm9b{ background-position: 25% 12.5% !important; }
.sprite--milestones--6l4iksK8{ background-position: 25% 25% !important; }
.sprite--milestones--EEydvbTq{ background-position: 25% 37.5% !important; }
.sprite--milestones--hb7R2MEL{ background-position: 25% 50% !important; }
.sprite--milestones--kmojcFvB{ background-position: 25% 62.5% !important; }
.sprite--milestones--OoPZfxHa{ background-position: 25% 75% !important; }
.sprite--milestones--TQRa8Un1{ background-position: 25% 87.5% !important; }
.sprite--milestones--Xus1FuuH{ background-position: 25% 100% !important; }
.sprite--milestones--6SfPnr4j{ background-position: 37.5% 0 !important; }
.sprite--milestones--aKxygx7M{ background-position: 37.5% 12.5% !important; }
.sprite--milestones--bmHs5Lp7{ background-position: 37.5% 25% !important; }
.sprite--milestones--f3OarNUP{ background-position: 37.5% 37.5% !important; }
.sprite--milestones--HGv3SbtN{ background-position: 37.5% 50% !important; }
.sprite--milestones--kNaASwzo{ background-position: 37.5% 62.5% !important; }
.sprite--milestones--oOxi21uV{ background-position: 37.5% 75% !important; }
.sprite--milestones--u6RPmngh{ background-position: 37.5% 87.5% !important; }
.sprite--milestones--yCdD4aOy{ background-position: 37.5% 100% !important; }
.sprite--milestones--Fbxck5mU{ background-position: 50% 0 !important; }
.sprite--milestones--FhabhmvJ{ background-position: 50% 12.5% !important; }
.sprite--milestones--fQRb7aAl{ background-position: 50% 25% !important; }
.sprite--milestones--ftA3Ypxf{ background-position: 50% 37.5% !important; }
.sprite--milestones--hk7F1p8D{ background-position: 50% 50% !important; }
.sprite--milestones--kSyV6VsS{ background-position: 50% 62.5% !important; }
.sprite--milestones--oS3iRDfg{ background-position: 50% 75% !important; }
.sprite--milestones--UAR5UK75{ background-position: 50% 87.5% !important; }
.sprite--milestones--yerOnhVR{ background-position: 50% 100% !important; }
.sprite--milestones--hLboodNS{ background-position: 62.5% 0 !important; }
.sprite--milestones--IF8dvlVU{ background-position: 62.5% 12.5% !important; }
.sprite--milestones--iMRns4sV{ background-position: 62.5% 25% !important; }
.sprite--milestones--JKGqshjP{ background-position: 62.5% 37.5% !important; }
.sprite--milestones--JyfWr1tm{ background-position: 62.5% 50% !important; }
.sprite--milestones--kXNYJKFg{ background-position: 62.5% 62.5% !important; }
.sprite--milestones--pgqseupE{ background-position: 62.5% 75% !important; }
.sprite--milestones--UGeGUiAY{ background-position: 62.5% 87.5% !important; }
.sprite--milestones--z8T8bV6L{ background-position: 62.5% 100% !important; }
.sprite--milestones--lF2vhPnT{ background-position: 75% 0 !important; }
.sprite--milestones--LLMq9Lgo{ background-position: 75% 12.5% !important; }
.sprite--milestones--lND3R5Rn{ background-position: 75% 25% !important; }
.sprite--milestones--LqbF5ROw{ background-position: 75% 37.5% !important; }
.sprite--milestones--LxAu5SGG{ background-position: 75% 50% !important; }
.sprite--milestones--nbDwyCO0{ background-position: 75% 62.5% !important; }
.sprite--milestones--Q7varBBE{ background-position: 75% 75% !important; }
.sprite--milestones--ugUGxTSC{ background-position: 75% 87.5% !important; }
.sprite--milestones--ZBCXCchf{ background-position: 75% 100% !important; }
.sprite--milestones--R1a7wbT7{ background-position: 87.5% 0 !important; }
.sprite--milestones--r7WVtIot{ background-position: 87.5% 12.5% !important; }
.sprite--milestones--rcdRgpGD{ background-position: 87.5% 25% !important; }
.sprite--milestones--S1LiMO7b{ background-position: 87.5% 37.5% !important; }
.sprite--milestones--Sh0T6l60{ background-position: 87.5% 50% !important; }
.sprite--milestones--SlU9XouL{ background-position: 87.5% 62.5% !important; }
.sprite--milestones--T4Xe7D1D{ background-position: 87.5% 75% !important; }
.sprite--milestones--UM1WJz3a{ background-position: 87.5% 87.5% !important; }
.sprite--milestones--zoxp5oX8{ background-position: 87.5% 100% !important; }
.sprite--milestones--UUtuUHIp{ background-position: 100% 0 !important; }
.sprite--milestones--UX89wJHP{ background-position: 100% 12.5% !important; }
.sprite--milestones--uyfTCXuZ{ background-position: 100% 25% !important; }
.sprite--milestones--vb1HFbq3{ background-position: 100% 37.5% !important; }
.sprite--milestones--vYFe7Kiz{ background-position: 100% 50% !important; }
.sprite--milestones--WkobUnNq{ background-position: 100% 62.5% !important; }
.sprite--milestones--wNU5u0eC{ background-position: 100% 75% !important; }
.sprite--milestones--wRjWW3Ad{ background-position: 100% 87.5% !important; }
.sprite--milestones--zwTO5Djr{ background-position: 100% 100% !important; }
