.sprite--units {
  background-image: url("/assets/sprites/units.webp");
  width: 64px;
  height: 64px;
}
.sprite--units--02PJ02pY{ background-position: 0 0 !important; }
.sprite--units--0PrM3JVn{ background-position: 0 6.666667% !important; }
.sprite--units--2BFtK9Q6{ background-position: 0 13.333333% !important; }
.sprite--units--3WuqTBR2{ background-position: 0 20% !important; }
.sprite--units--5DcX9Vmd{ background-position: 0 26.666667% !important; }
.sprite--units--7wZm9J6w{ background-position: 0 33.333333% !important; }
.sprite--units--ANXc84N2{ background-position: 0 40% !important; }
.sprite--units--D4MOf3Cx{ background-position: 0 46.666667% !important; }
.sprite--units--el9JOheS{ background-position: 0 53.333333% !important; }
.sprite--units--go9oL6S4{ background-position: 0 60% !important; }
.sprite--units--iZHRbXU5{ background-position: 0 66.666667% !important; }
.sprite--units--lpQ7zIwH{ background-position: 0 73.333333% !important; }
.sprite--units--Ps8ik48F{ background-position: 0 80% !important; }
.sprite--units--sXOZNhs4{ background-position: 0 86.666667% !important; }
.sprite--units--vxxbfTW9{ background-position: 0 93.333333% !important; }
.sprite--units--YJY0i5xa{ background-position: 0 100% !important; }
.sprite--units--0a3sMig0{ background-position: 6.25% 0 !important; }
.sprite--units--1BNSAxHg{ background-position: 6.25% 6.666667% !important; }
.sprite--units--2FyrcYON{ background-position: 6.25% 13.333333% !important; }
.sprite--units--43Jl1D8F{ background-position: 6.25% 20% !important; }
.sprite--units--5OLhhX34{ background-position: 6.25% 26.666667% !important; }
.sprite--units--7ykAeG3S{ background-position: 6.25% 33.333333% !important; }
.sprite--units--aUE8opvZ{ background-position: 6.25% 40% !important; }
.sprite--units--D4XqP057{ background-position: 6.25% 46.666667% !important; }
.sprite--units--eO1jJosV{ background-position: 6.25% 53.333333% !important; }
.sprite--units--GR17jtxn{ background-position: 6.25% 60% !important; }
.sprite--units--J07oyILC{ background-position: 6.25% 66.666667% !important; }
.sprite--units--lwlfej32{ background-position: 6.25% 73.333333% !important; }
.sprite--units--PUFT8EVF{ background-position: 6.25% 80% !important; }
.sprite--units--SZ7Mqs1Y{ background-position: 6.25% 86.666667% !important; }
.sprite--units--w0y4IitN{ background-position: 6.25% 93.333333% !important; }
.sprite--units--YK24Rasz{ background-position: 6.25% 100% !important; }
.sprite--units--1cHTaC9T{ background-position: 12.5% 0 !important; }
.sprite--units--1VsgrzQB{ background-position: 12.5% 6.666667% !important; }
.sprite--units--2utpJgNA{ background-position: 12.5% 13.333333% !important; }
.sprite--units--4dPZv0Xn{ background-position: 12.5% 20% !important; }
.sprite--units--5q05gSlD{ background-position: 12.5% 26.666667% !important; }
.sprite--units--8KUyS40Q{ background-position: 12.5% 33.333333% !important; }
.sprite--units--AZqyuOvW{ background-position: 12.5% 40% !important; }
.sprite--units--dcfLc19u{ background-position: 12.5% 46.666667% !important; }
.sprite--units--EqUT8FWp{ background-position: 12.5% 53.333333% !important; }
.sprite--units--Grg35MgG{ background-position: 12.5% 60% !important; }
.sprite--units--jFlG4UFX{ background-position: 12.5% 66.666667% !important; }
.sprite--units--m1wtyjLP{ background-position: 12.5% 73.333333% !important; }
.sprite--units--pZKXtFhb{ background-position: 12.5% 80% !important; }
.sprite--units--t6VjNTl2{ background-position: 12.5% 86.666667% !important; }
.sprite--units--w1mjObZs{ background-position: 12.5% 93.333333% !important; }
.sprite--units--YLsMoHVP{ background-position: 12.5% 100% !important; }
.sprite--units--3FqETbA7{ background-position: 18.75% 0 !important; }
.sprite--units--3kobR7eV{ background-position: 18.75% 6.666667% !important; }
.sprite--units--3M0UlvzW{ background-position: 18.75% 13.333333% !important; }
.sprite--units--4qyghvvw{ background-position: 18.75% 20% !important; }
.sprite--units--6laDuiEq{ background-position: 18.75% 26.666667% !important; }
.sprite--units--8rf00AMD{ background-position: 18.75% 33.333333% !important; }
.sprite--units--B4LCRtGh{ background-position: 18.75% 40% !important; }
.sprite--units--DCJ5XjYH{ background-position: 18.75% 46.666667% !important; }
.sprite--units--erqcr1lt{ background-position: 18.75% 53.333333% !important; }
.sprite--units--gT91TSGF{ background-position: 18.75% 60% !important; }
.sprite--units--JfvKGvLD{ background-position: 18.75% 66.666667% !important; }
.sprite--units--m4GWi3ra{ background-position: 18.75% 73.333333% !important; }
.sprite--units--pZLbSbys{ background-position: 18.75% 80% !important; }
.sprite--units--tavRfAZ4{ background-position: 18.75% 86.666667% !important; }
.sprite--units--W3gCF5ht{ background-position: 18.75% 93.333333% !important; }
.sprite--units--yMX0vp46{ background-position: 18.75% 100% !important; }
.sprite--units--51ltiP2R{ background-position: 25% 0 !important; }
.sprite--units--51Xy3iD3{ background-position: 25% 6.666667% !important; }
.sprite--units--58yYkic6{ background-position: 25% 13.333333% !important; }
.sprite--units--5CbvAuK9{ background-position: 25% 20% !important; }
.sprite--units--76S6mp3l{ background-position: 25% 26.666667% !important; }
.sprite--units--8uwiDLli{ background-position: 25% 33.333333% !important; }
.sprite--units--B6V3u2YU{ background-position: 25% 40% !important; }
.sprite--units--dEPotXV9{ background-position: 25% 46.666667% !important; }
.sprite--units--eu7m6vR0{ background-position: 25% 53.333333% !important; }
.sprite--units--gXIaPVrr{ background-position: 25% 60% !important; }
.sprite--units--ji80PG15{ background-position: 25% 66.666667% !important; }
.sprite--units--MESXQ0gF{ background-position: 25% 73.333333% !important; }
.sprite--units--Q6FD6GzS{ background-position: 25% 80% !important; }
.sprite--units--TbVey3Xm{ background-position: 25% 86.666667% !important; }
.sprite--units--W6UjDkwJ{ background-position: 25% 93.333333% !important; }
.sprite--units--YNbiNnz8{ background-position: 25% 100% !important; }
.sprite--units--7JDvDdWg{ background-position: 31.25% 0 !important; }
.sprite--units--7lJ6xNTN{ background-position: 31.25% 6.666667% !important; }
.sprite--units--7pau4NBq{ background-position: 31.25% 13.333333% !important; }
.sprite--units--7swXJ3Qj{ background-position: 31.25% 20% !important; }
.sprite--units--7V2WKDtV{ background-position: 31.25% 26.666667% !important; }
.sprite--units--9DvrgGnd{ background-position: 31.25% 33.333333% !important; }
.sprite--units--bHQ0VSvC{ background-position: 31.25% 40% !important; }
.sprite--units--DoVLn35d{ background-position: 31.25% 46.666667% !important; }
.sprite--units--EUurgLT6{ background-position: 31.25% 53.333333% !important; }
.sprite--units--GYxivdJ9{ background-position: 31.25% 60% !important; }
.sprite--units--JsmwwfRG{ background-position: 31.25% 66.666667% !important; }
.sprite--units--mjW0JXAT{ background-position: 31.25% 73.333333% !important; }
.sprite--units--QGc0n3bS{ background-position: 31.25% 80% !important; }
.sprite--units--TcvZiUAM{ background-position: 31.25% 86.666667% !important; }
.sprite--units--w7vAkXYx{ background-position: 31.25% 93.333333% !important; }
.sprite--units--yNtcsInI{ background-position: 31.25% 100% !important; }
.sprite--units--9GYZM9SD{ background-position: 37.5% 0 !important; }
.sprite--units--9rr9o5Jm{ background-position: 37.5% 6.666667% !important; }
.sprite--units--9VTRAa1J{ background-position: 37.5% 13.333333% !important; }
.sprite--units--a8BfiPzg{ background-position: 37.5% 20% !important; }
.sprite--units--AkYY7n4q{ background-position: 37.5% 26.666667% !important; }
.sprite--units--alxGSKt0{ background-position: 37.5% 33.333333% !important; }
.sprite--units--BNuARTKY{ background-position: 37.5% 40% !important; }
.sprite--units--dpSg1BCC{ background-position: 37.5% 46.666667% !important; }
.sprite--units--eYNY7Wv5{ background-position: 37.5% 53.333333% !important; }
.sprite--units--gZeglcJz{ background-position: 37.5% 60% !important; }
.sprite--units--k2RBVQgh{ background-position: 37.5% 66.666667% !important; }
.sprite--units--Mp18NNU3{ background-position: 37.5% 73.333333% !important; }
.sprite--units--qkNldPAL{ background-position: 37.5% 80% !important; }
.sprite--units--tKOtTK40{ background-position: 37.5% 86.666667% !important; }
.sprite--units--waXighZd{ background-position: 37.5% 93.333333% !important; }
.sprite--units--yQGJlQbg{ background-position: 37.5% 100% !important; }
.sprite--units--caWZ47Uh{ background-position: 43.75% 0 !important; }
.sprite--units--cecxuouk{ background-position: 43.75% 6.666667% !important; }
.sprite--units--CIa2Pc30{ background-position: 43.75% 13.333333% !important; }
.sprite--units--cjcWtUQA{ background-position: 43.75% 20% !important; }
.sprite--units--CoMjpChF{ background-position: 43.75% 26.666667% !important; }
.sprite--units--CpRWe9ZM{ background-position: 43.75% 33.333333% !important; }
.sprite--units--CvtWIAHr{ background-position: 43.75% 40% !important; }
.sprite--units--dRz4b3bQ{ background-position: 43.75% 46.666667% !important; }
.sprite--units--F3lcbiqZ{ background-position: 43.75% 53.333333% !important; }
.sprite--units--h8PaVqlx{ background-position: 43.75% 60% !important; }
.sprite--units--k3euVAzG{ background-position: 43.75% 66.666667% !important; }
.sprite--units--mv4VcGwy{ background-position: 43.75% 73.333333% !important; }
.sprite--units--QuhX33Kf{ background-position: 43.75% 80% !important; }
.sprite--units--tLecUOML{ background-position: 43.75% 86.666667% !important; }
.sprite--units--WB0pJ8xK{ background-position: 43.75% 93.333333% !important; }
.sprite--units--YuFpNvER{ background-position: 43.75% 100% !important; }
.sprite--units--E9saVECF{ background-position: 50% 0 !important; }
.sprite--units--EAIN8aHu{ background-position: 50% 6.666667% !important; }
.sprite--units--eCHoibuL{ background-position: 50% 13.333333% !important; }
.sprite--units--ECvgeqKa{ background-position: 50% 20% !important; }
.sprite--units--EeiIDxxS{ background-position: 50% 26.666667% !important; }
.sprite--units--EfFe0sfE{ background-position: 50% 33.333333% !important; }
.sprite--units--egpQ1MuO{ background-position: 50% 40% !important; }
.sprite--units--el6SIfSc{ background-position: 50% 46.666667% !important; }
.sprite--units--fb3jA2Kq{ background-position: 50% 53.333333% !important; }
.sprite--units--hK7kUF2M{ background-position: 50% 60% !important; }
.sprite--units--K8Q1IAzd{ background-position: 50% 66.666667% !important; }
.sprite--units--NgzSpZuj{ background-position: 50% 73.333333% !important; }
.sprite--units--QXGnyNyv{ background-position: 50% 80% !important; }
.sprite--units--TrEO5QKb{ background-position: 50% 86.666667% !important; }
.sprite--units--WbBaJvwz{ background-position: 50% 93.333333% !important; }
.sprite--units--zBk8aUCu{ background-position: 50% 100% !important; }
.sprite--units--fFoBMktb{ background-position: 56.25% 0 !important; }
.sprite--units--fgKo8V2d{ background-position: 56.25% 6.666667% !important; }
.sprite--units--FkhyENYm{ background-position: 56.25% 13.333333% !important; }
.sprite--units--Fnw7joNn{ background-position: 56.25% 20% !important; }
.sprite--units--fPicylJy{ background-position: 56.25% 26.666667% !important; }
.sprite--units--G1HOHkww{ background-position: 56.25% 33.333333% !important; }
.sprite--units--g90W07aC{ background-position: 56.25% 40% !important; }
.sprite--units--Gdgzx7Lv{ background-position: 56.25% 46.666667% !important; }
.sprite--units--GDt64GVA{ background-position: 56.25% 53.333333% !important; }
.sprite--units--HMn17vt9{ background-position: 56.25% 60% !important; }
.sprite--units--KdXYSI12{ background-position: 56.25% 66.666667% !important; }
.sprite--units--NSrDQFAU{ background-position: 56.25% 73.333333% !important; }
.sprite--units--r0n1r1tq{ background-position: 56.25% 80% !important; }
.sprite--units--tsD0Zngq{ background-position: 56.25% 86.666667% !important; }
.sprite--units--wBoY6Vwv{ background-position: 56.25% 93.333333% !important; }
.sprite--units--zDkWgxBn{ background-position: 56.25% 100% !important; }
.sprite--units--HS27uUrH{ background-position: 62.5% 0 !important; }
.sprite--units--i88wDb5R{ background-position: 62.5% 6.666667% !important; }
.sprite--units--IAGfRfKP{ background-position: 62.5% 13.333333% !important; }
.sprite--units--IauXLzaN{ background-position: 62.5% 20% !important; }
.sprite--units--iEdDH0fW{ background-position: 62.5% 26.666667% !important; }
.sprite--units--ieYKVDF7{ background-position: 62.5% 33.333333% !important; }
.sprite--units--IFDXiLRj{ background-position: 62.5% 40% !important; }
.sprite--units--IMMduDal{ background-position: 62.5% 46.666667% !important; }
.sprite--units--IyXy2Kee{ background-position: 62.5% 53.333333% !important; }
.sprite--units--IzDscHRj{ background-position: 62.5% 60% !important; }
.sprite--units--Kkbjjjrr{ background-position: 62.5% 66.666667% !important; }
.sprite--units--NwroKfot{ background-position: 62.5% 73.333333% !important; }
.sprite--units--r8bOrQ4z{ background-position: 62.5% 80% !important; }
.sprite--units--txwZ2qeY{ background-position: 62.5% 86.666667% !important; }
.sprite--units--wcEvHsLb{ background-position: 62.5% 93.333333% !important; }
.sprite--units--zEjltgqW{ background-position: 62.5% 100% !important; }
.sprite--units--kMqMTIJH{ background-position: 68.75% 0 !important; }
.sprite--units--KrArwDrt{ background-position: 68.75% 6.666667% !important; }
.sprite--units--Ks15mZNh{ background-position: 68.75% 13.333333% !important; }
.sprite--units--ksLFQude{ background-position: 68.75% 20% !important; }
.sprite--units--KzJHEDzf{ background-position: 68.75% 26.666667% !important; }
.sprite--units--L8UHCDGW{ background-position: 68.75% 33.333333% !important; }
.sprite--units--l9nSwtUt{ background-position: 68.75% 40% !important; }
.sprite--units--lAUj001T{ background-position: 68.75% 46.666667% !important; }
.sprite--units--LguEThuy{ background-position: 68.75% 53.333333% !important; }
.sprite--units--LixSq5EG{ background-position: 68.75% 60% !important; }
.sprite--units--lp2dwCji{ background-position: 68.75% 66.666667% !important; }
.sprite--units--NxAPOHek{ background-position: 68.75% 73.333333% !important; }
.sprite--units--rcjB9GGa{ background-position: 68.75% 80% !important; }
.sprite--units--u328LdjE{ background-position: 68.75% 86.666667% !important; }
.sprite--units--WdW5WSNr{ background-position: 68.75% 93.333333% !important; }
.sprite--units--zhnScgj8{ background-position: 68.75% 100% !important; }
.sprite--units--O3ZFG5Sb{ background-position: 75% 0 !important; }
.sprite--units--OG64RuBs{ background-position: 75% 6.666667% !important; }
.sprite--units--OKPNnScr{ background-position: 75% 13.333333% !important; }
.sprite--units--ONBWMpLz{ background-position: 75% 20% !important; }
.sprite--units--osxXi0Cz{ background-position: 75% 26.666667% !important; }
.sprite--units--otABQLWz{ background-position: 75% 33.333333% !important; }
.sprite--units--OUbQnHoI{ background-position: 75% 40% !important; }
.sprite--units--OUIgLOwr{ background-position: 75% 46.666667% !important; }
.sprite--units--P1vcECUu{ background-position: 75% 53.333333% !important; }
.sprite--units--p914BHBy{ background-position: 75% 60% !important; }
.sprite--units--pE2Jr32E{ background-position: 75% 66.666667% !important; }
.sprite--units--PJMCRbyV{ background-position: 75% 73.333333% !important; }
.sprite--units--RD2xKrYI{ background-position: 75% 80% !important; }
.sprite--units--uA38FuUs{ background-position: 75% 86.666667% !important; }
.sprite--units--WmjlRlBW{ background-position: 75% 93.333333% !important; }
.sprite--units--ZIjrSRN7{ background-position: 75% 100% !important; }
.sprite--units--RDwthWb9{ background-position: 81.25% 0 !important; }
.sprite--units--Rompv3FW{ background-position: 81.25% 6.666667% !important; }
.sprite--units--RSHxMfUS{ background-position: 81.25% 13.333333% !important; }
.sprite--units--RUSxezlR{ background-position: 81.25% 20% !important; }
.sprite--units--rZFFl8Fq{ background-position: 81.25% 26.666667% !important; }
.sprite--units--s7FPkg26{ background-position: 81.25% 33.333333% !important; }
.sprite--units--SAZtPvq5{ background-position: 81.25% 40% !important; }
.sprite--units--SBCTuPxz{ background-position: 81.25% 46.666667% !important; }
.sprite--units--SbWUzjkZ{ background-position: 81.25% 53.333333% !important; }
.sprite--units--sh6pUJlq{ background-position: 81.25% 60% !important; }
.sprite--units--SnNhzO9P{ background-position: 81.25% 66.666667% !important; }
.sprite--units--SqFyce1R{ background-position: 81.25% 73.333333% !important; }
.sprite--units--Src3t4Lx{ background-position: 81.25% 80% !important; }
.sprite--units--UfgjnL04{ background-position: 81.25% 86.666667% !important; }
.sprite--units--WUkLGdMo{ background-position: 81.25% 93.333333% !important; }
.sprite--units--ZKNEe0MG{ background-position: 81.25% 100% !important; }
.sprite--units--UGlOF3t1{ background-position: 87.5% 0 !important; }
.sprite--units--UhtHNUpf{ background-position: 87.5% 6.666667% !important; }
.sprite--units--UJvjOEfu{ background-position: 87.5% 13.333333% !important; }
.sprite--units--UMRmFRBg{ background-position: 87.5% 20% !important; }
.sprite--units--UNU36sL4{ background-position: 87.5% 26.666667% !important; }
.sprite--units--uo210vgB{ background-position: 87.5% 33.333333% !important; }
.sprite--units--uoE97tP0{ background-position: 87.5% 40% !important; }
.sprite--units--URJZ0hc6{ background-position: 87.5% 46.666667% !important; }
.sprite--units--US1hRtz8{ background-position: 87.5% 53.333333% !important; }
.sprite--units--uwAdahNU{ background-position: 87.5% 60% !important; }
.sprite--units--UXSMJfB2{ background-position: 87.5% 66.666667% !important; }
.sprite--units--v4ggBiPG{ background-position: 87.5% 73.333333% !important; }
.sprite--units--VJcfmxly{ background-position: 87.5% 80% !important; }
.sprite--units--vPZwMRLL{ background-position: 87.5% 86.666667% !important; }
.sprite--units--Ww3hc2hM{ background-position: 87.5% 93.333333% !important; }
.sprite--units--znIO9rvr{ background-position: 87.5% 100% !important; }
.sprite--units--wzetwZP2{ background-position: 93.75% 0 !important; }
.sprite--units--X8K4EXh1{ background-position: 93.75% 6.666667% !important; }
.sprite--units--xIFsDsze{ background-position: 93.75% 13.333333% !important; }
.sprite--units--xocokZb6{ background-position: 93.75% 20% !important; }
.sprite--units--Xpoboumt{ background-position: 93.75% 26.666667% !important; }
.sprite--units--XvQqKOps{ background-position: 93.75% 33.333333% !important; }
.sprite--units--XW10NHLs{ background-position: 93.75% 40% !important; }
.sprite--units--xYpTT1Y2{ background-position: 93.75% 46.666667% !important; }
.sprite--units--Y67VcL8J{ background-position: 93.75% 53.333333% !important; }
.sprite--units--Y7QfVBo0{ background-position: 93.75% 60% !important; }
.sprite--units--yCLUPUfg{ background-position: 93.75% 66.666667% !important; }
.sprite--units--YCPhlKh8{ background-position: 93.75% 73.333333% !important; }
.sprite--units--Ydnp8Gtw{ background-position: 93.75% 80% !important; }
.sprite--units--Yf0eB4kq{ background-position: 93.75% 86.666667% !important; }
.sprite--units--YIc8iSeh{ background-position: 93.75% 93.333333% !important; }
.sprite--units--zPZoGdUq{ background-position: 93.75% 100% !important; }
.sprite--units--zUrlStrg{ background-position: 100% 0 !important; }
.sprite--units--Zv9leCwP{ background-position: 100% 6.666667% !important; }
.sprite--units--zwD9zsRI{ background-position: 100% 13.333333% !important; }
