.sprite--units {
  background-image: url("/assets/sprites/units.webp");
  width: 64px;
  height: 64px;
}
.sprite--units--02PJ02pY{ background-position: 0 0 !important; }
.sprite--units--0PrM3JVn{ background-position: 0 7.692308% !important; }
.sprite--units--2BFtK9Q6{ background-position: 0 15.384615% !important; }
.sprite--units--51ltiP2R{ background-position: 0 23.076923% !important; }
.sprite--units--7lJ6xNTN{ background-position: 0 30.769231% !important; }
.sprite--units--AkYY7n4q{ background-position: 0 38.461538% !important; }
.sprite--units--CpRWe9ZM{ background-position: 0 46.153846% !important; }
.sprite--units--EUurgLT6{ background-position: 0 53.846154% !important; }
.sprite--units--hK7kUF2M{ background-position: 0 61.538462% !important; }
.sprite--units--ksLFQude{ background-position: 0 69.230769% !important; }
.sprite--units--otABQLWz{ background-position: 0 76.923077% !important; }
.sprite--units--SBCTuPxz{ background-position: 0 84.615385% !important; }
.sprite--units--vxxbfTW9{ background-position: 0 92.307692% !important; }
.sprite--units--YNbiNnz8{ background-position: 0 100% !important; }
.sprite--units--0a3sMig0{ background-position: 7.692308% 0 !important; }
.sprite--units--1BNSAxHg{ background-position: 7.692308% 7.692308% !important; }
.sprite--units--2FyrcYON{ background-position: 7.692308% 15.384615% !important; }
.sprite--units--58yYkic6{ background-position: 7.692308% 23.076923% !important; }
.sprite--units--7swXJ3Qj{ background-position: 7.692308% 30.769231% !important; }
.sprite--units--alxGSKt0{ background-position: 7.692308% 38.461538% !important; }
.sprite--units--CvtWIAHr{ background-position: 7.692308% 46.153846% !important; }
.sprite--units--eYNY7Wv5{ background-position: 7.692308% 53.846154% !important; }
.sprite--units--HMn17vt9{ background-position: 7.692308% 61.538462% !important; }
.sprite--units--KzJHEDzf{ background-position: 7.692308% 69.230769% !important; }
.sprite--units--OUbQnHoI{ background-position: 7.692308% 76.923077% !important; }
.sprite--units--SbWUzjkZ{ background-position: 7.692308% 84.615385% !important; }
.sprite--units--w0y4IitN{ background-position: 7.692308% 92.307692% !important; }
.sprite--units--yNtcsInI{ background-position: 7.692308% 100% !important; }
.sprite--units--1cHTaC9T{ background-position: 15.384615% 0 !important; }
.sprite--units--1VsgrzQB{ background-position: 15.384615% 7.692308% !important; }
.sprite--units--3M0UlvzW{ background-position: 15.384615% 15.384615% !important; }
.sprite--units--5CbvAuK9{ background-position: 15.384615% 23.076923% !important; }
.sprite--units--7V2WKDtV{ background-position: 15.384615% 30.769231% !important; }
.sprite--units--ANXc84N2{ background-position: 15.384615% 38.461538% !important; }
.sprite--units--D4MOf3Cx{ background-position: 15.384615% 46.153846% !important; }
.sprite--units--F3lcbiqZ{ background-position: 15.384615% 53.846154% !important; }
.sprite--units--HS27uUrH{ background-position: 15.384615% 61.538462% !important; }
.sprite--units--L8UHCDGW{ background-position: 15.384615% 69.230769% !important; }
.sprite--units--OUIgLOwr{ background-position: 15.384615% 76.923077% !important; }
.sprite--units--sh6pUJlq{ background-position: 15.384615% 84.615385% !important; }
.sprite--units--w1mjObZs{ background-position: 15.384615% 92.307692% !important; }
.sprite--units--yQGJlQbg{ background-position: 15.384615% 100% !important; }
.sprite--units--3WuqTBR2{ background-position: 23.076923% 0 !important; }
.sprite--units--43Jl1D8F{ background-position: 23.076923% 7.692308% !important; }
.sprite--units--4qyghvvw{ background-position: 23.076923% 15.384615% !important; }
.sprite--units--5DcX9Vmd{ background-position: 23.076923% 23.076923% !important; }
.sprite--units--7wZm9J6w{ background-position: 23.076923% 30.769231% !important; }
.sprite--units--aUE8opvZ{ background-position: 23.076923% 38.461538% !important; }
.sprite--units--D4XqP057{ background-position: 23.076923% 46.153846% !important; }
.sprite--units--fb3jA2Kq{ background-position: 23.076923% 53.846154% !important; }
.sprite--units--i88wDb5R{ background-position: 23.076923% 61.538462% !important; }
.sprite--units--l9nSwtUt{ background-position: 23.076923% 69.230769% !important; }
.sprite--units--P1vcECUu{ background-position: 23.076923% 76.923077% !important; }
.sprite--units--SnNhzO9P{ background-position: 23.076923% 84.615385% !important; }
.sprite--units--W6UjDkwJ{ background-position: 23.076923% 92.307692% !important; }
.sprite--units--YuFpNvER{ background-position: 23.076923% 100% !important; }
.sprite--units--5OLhhX34{ background-position: 30.769231% 0 !important; }
.sprite--units--5q05gSlD{ background-position: 30.769231% 7.692308% !important; }
.sprite--units--6laDuiEq{ background-position: 30.769231% 15.384615% !important; }
.sprite--units--76S6mp3l{ background-position: 30.769231% 23.076923% !important; }
.sprite--units--7ykAeG3S{ background-position: 30.769231% 30.769231% !important; }
.sprite--units--B4LCRtGh{ background-position: 30.769231% 38.461538% !important; }
.sprite--units--dcfLc19u{ background-position: 30.769231% 46.153846% !important; }
.sprite--units--fgKo8V2d{ background-position: 30.769231% 53.846154% !important; }
.sprite--units--IauXLzaN{ background-position: 30.769231% 61.538462% !important; }
.sprite--units--lAUj001T{ background-position: 30.769231% 69.230769% !important; }
.sprite--units--p914BHBy{ background-position: 30.769231% 76.923077% !important; }
.sprite--units--SqFyce1R{ background-position: 30.769231% 84.615385% !important; }
.sprite--units--w7vAkXYx{ background-position: 30.769231% 92.307692% !important; }
.sprite--units--zBk8aUCu{ background-position: 30.769231% 100% !important; }
.sprite--units--8rf00AMD{ background-position: 38.461538% 0 !important; }
.sprite--units--8uwiDLli{ background-position: 38.461538% 7.692308% !important; }
.sprite--units--9DvrgGnd{ background-position: 38.461538% 15.384615% !important; }
.sprite--units--9GYZM9SD{ background-position: 38.461538% 23.076923% !important; }
.sprite--units--9VTRAa1J{ background-position: 38.461538% 30.769231% !important; }
.sprite--units--B6V3u2YU{ background-position: 38.461538% 38.461538% !important; }
.sprite--units--dEPotXV9{ background-position: 38.461538% 46.153846% !important; }
.sprite--units--FkhyENYm{ background-position: 38.461538% 53.846154% !important; }
.sprite--units--ieYKVDF7{ background-position: 38.461538% 61.538462% !important; }
.sprite--units--LguEThuy{ background-position: 38.461538% 69.230769% !important; }
.sprite--units--pE2Jr32E{ background-position: 38.461538% 76.923077% !important; }
.sprite--units--Src3t4Lx{ background-position: 38.461538% 84.615385% !important; }
.sprite--units--WB0pJ8xK{ background-position: 38.461538% 92.307692% !important; }
.sprite--units--zDkWgxBn{ background-position: 38.461538% 100% !important; }
.sprite--units--bHQ0VSvC{ background-position: 46.153846% 0 !important; }
.sprite--units--BNuARTKY{ background-position: 46.153846% 7.692308% !important; }
.sprite--units--caWZ47Uh{ background-position: 46.153846% 15.384615% !important; }
.sprite--units--cecxuouk{ background-position: 46.153846% 23.076923% !important; }
.sprite--units--CIa2Pc30{ background-position: 46.153846% 30.769231% !important; }
.sprite--units--CoMjpChF{ background-position: 46.153846% 38.461538% !important; }
.sprite--units--E9saVECF{ background-position: 46.153846% 46.153846% !important; }
.sprite--units--Fnw7joNn{ background-position: 46.153846% 53.846154% !important; }
.sprite--units--IFDXiLRj{ background-position: 46.153846% 61.538462% !important; }
.sprite--units--LixSq5EG{ background-position: 46.153846% 69.230769% !important; }
.sprite--units--PJMCRbyV{ background-position: 46.153846% 76.923077% !important; }
.sprite--units--SZ7Mqs1Y{ background-position: 46.153846% 84.615385% !important; }
.sprite--units--wcEvHsLb{ background-position: 46.153846% 92.307692% !important; }
.sprite--units--zEjltgqW{ background-position: 46.153846% 100% !important; }
.sprite--units--EAIN8aHu{ background-position: 53.846154% 0 !important; }
.sprite--units--EeiIDxxS{ background-position: 53.846154% 7.692308% !important; }
.sprite--units--el6SIfSc{ background-position: 53.846154% 15.384615% !important; }
.sprite--units--el9JOheS{ background-position: 53.846154% 23.076923% !important; }
.sprite--units--eO1jJosV{ background-position: 53.846154% 30.769231% !important; }
.sprite--units--EqUT8FWp{ background-position: 53.846154% 38.461538% !important; }
.sprite--units--eu7m6vR0{ background-position: 53.846154% 46.153846% !important; }
.sprite--units--fPicylJy{ background-position: 53.846154% 53.846154% !important; }
.sprite--units--IyXy2Kee{ background-position: 53.846154% 61.538462% !important; }
.sprite--units--lp2dwCji{ background-position: 53.846154% 69.230769% !important; }
.sprite--units--Ps8ik48F{ background-position: 53.846154% 76.923077% !important; }
.sprite--units--t6VjNTl2{ background-position: 53.846154% 84.615385% !important; }
.sprite--units--WdW5WSNr{ background-position: 53.846154% 92.307692% !important; }
.sprite--units--ZIjrSRN7{ background-position: 53.846154% 100% !important; }
.sprite--units--G1HOHkww{ background-position: 61.538462% 0 !important; }
.sprite--units--g90W07aC{ background-position: 61.538462% 7.692308% !important; }
.sprite--units--GDt64GVA{ background-position: 61.538462% 15.384615% !important; }
.sprite--units--go9oL6S4{ background-position: 61.538462% 23.076923% !important; }
.sprite--units--GR17jtxn{ background-position: 61.538462% 30.769231% !important; }
.sprite--units--Grg35MgG{ background-position: 61.538462% 38.461538% !important; }
.sprite--units--gZeglcJz{ background-position: 61.538462% 46.153846% !important; }
.sprite--units--h8PaVqlx{ background-position: 61.538462% 53.846154% !important; }
.sprite--units--IzDscHRj{ background-position: 61.538462% 61.538462% !important; }
.sprite--units--lpQ7zIwH{ background-position: 61.538462% 69.230769% !important; }
.sprite--units--pZLbSbys{ background-position: 61.538462% 76.923077% !important; }
.sprite--units--tavRfAZ4{ background-position: 61.538462% 84.615385% !important; }
.sprite--units--WmjlRlBW{ background-position: 61.538462% 92.307692% !important; }
.sprite--units--znIO9rvr{ background-position: 61.538462% 100% !important; }
.sprite--units--iZHRbXU5{ background-position: 69.230769% 0 !important; }
.sprite--units--J07oyILC{ background-position: 69.230769% 7.692308% !important; }
.sprite--units--jFlG4UFX{ background-position: 69.230769% 15.384615% !important; }
.sprite--units--JsmwwfRG{ background-position: 69.230769% 23.076923% !important; }
.sprite--units--K8Q1IAzd{ background-position: 69.230769% 30.769231% !important; }
.sprite--units--KdXYSI12{ background-position: 69.230769% 38.461538% !important; }
.sprite--units--kMqMTIJH{ background-position: 69.230769% 46.153846% !important; }
.sprite--units--KrArwDrt{ background-position: 69.230769% 53.846154% !important; }
.sprite--units--Ks15mZNh{ background-position: 69.230769% 61.538462% !important; }
.sprite--units--m1wtyjLP{ background-position: 69.230769% 69.230769% !important; }
.sprite--units--Q6FD6GzS{ background-position: 69.230769% 76.923077% !important; }
.sprite--units--TbVey3Xm{ background-position: 69.230769% 84.615385% !important; }
.sprite--units--WUkLGdMo{ background-position: 69.230769% 92.307692% !important; }
.sprite--units--zPZoGdUq{ background-position: 69.230769% 100% !important; }
.sprite--units--MESXQ0gF{ background-position: 76.923077% 0 !important; }
.sprite--units--Mp18NNU3{ background-position: 76.923077% 7.692308% !important; }
.sprite--units--mv4VcGwy{ background-position: 76.923077% 15.384615% !important; }
.sprite--units--NgzSpZuj{ background-position: 76.923077% 23.076923% !important; }
.sprite--units--NSrDQFAU{ background-position: 76.923077% 30.769231% !important; }
.sprite--units--NwroKfot{ background-position: 76.923077% 38.461538% !important; }
.sprite--units--O3ZFG5Sb{ background-position: 76.923077% 46.153846% !important; }
.sprite--units--OG64RuBs{ background-position: 76.923077% 53.846154% !important; }
.sprite--units--OKPNnScr{ background-position: 76.923077% 61.538462% !important; }
.sprite--units--osxXi0Cz{ background-position: 76.923077% 69.230769% !important; }
.sprite--units--QGc0n3bS{ background-position: 76.923077% 76.923077% !important; }
.sprite--units--TcvZiUAM{ background-position: 76.923077% 84.615385% !important; }
.sprite--units--Ww3hc2hM{ background-position: 76.923077% 92.307692% !important; }
.sprite--units--zUrlStrg{ background-position: 76.923077% 100% !important; }
.sprite--units--qkNldPAL{ background-position: 84.615385% 0 !important; }
.sprite--units--r0n1r1tq{ background-position: 84.615385% 7.692308% !important; }
.sprite--units--r8bOrQ4z{ background-position: 84.615385% 15.384615% !important; }
.sprite--units--rcjB9GGa{ background-position: 84.615385% 23.076923% !important; }
.sprite--units--RD2xKrYI{ background-position: 84.615385% 30.769231% !important; }
.sprite--units--RDwthWb9{ background-position: 84.615385% 38.461538% !important; }
.sprite--units--Rompv3FW{ background-position: 84.615385% 46.153846% !important; }
.sprite--units--RSHxMfUS{ background-position: 84.615385% 53.846154% !important; }
.sprite--units--RUSxezlR{ background-position: 84.615385% 61.538462% !important; }
.sprite--units--rZFFl8Fq{ background-position: 84.615385% 69.230769% !important; }
.sprite--units--SAZtPvq5{ background-position: 84.615385% 76.923077% !important; }
.sprite--units--tKOtTK40{ background-position: 84.615385% 84.615385% !important; }
.sprite--units--wzetwZP2{ background-position: 84.615385% 92.307692% !important; }
.sprite--units--zwD9zsRI{ background-position: 84.615385% 100% !important; }
.sprite--units--tLecUOML{ background-position: 92.307692% 0 !important; }
.sprite--units--txwZ2qeY{ background-position: 92.307692% 7.692308% !important; }
.sprite--units--u328LdjE{ background-position: 92.307692% 15.384615% !important; }
.sprite--units--uA38FuUs{ background-position: 92.307692% 23.076923% !important; }
.sprite--units--UfgjnL04{ background-position: 92.307692% 30.769231% !important; }
.sprite--units--UhtHNUpf{ background-position: 92.307692% 38.461538% !important; }
.sprite--units--UJvjOEfu{ background-position: 92.307692% 46.153846% !important; }
.sprite--units--UMRmFRBg{ background-position: 92.307692% 53.846154% !important; }
.sprite--units--uo210vgB{ background-position: 92.307692% 61.538462% !important; }
.sprite--units--UXSMJfB2{ background-position: 92.307692% 69.230769% !important; }
.sprite--units--v4ggBiPG{ background-position: 92.307692% 76.923077% !important; }
.sprite--units--VJcfmxly{ background-position: 92.307692% 84.615385% !important; }
.sprite--units--X8K4EXh1{ background-position: 92.307692% 92.307692% !important; }
.sprite--units--xIFsDsze{ background-position: 100% 0 !important; }
.sprite--units--xocokZb6{ background-position: 100% 7.692308% !important; }
.sprite--units--Xpoboumt{ background-position: 100% 15.384615% !important; }
.sprite--units--XvQqKOps{ background-position: 100% 23.076923% !important; }
.sprite--units--XW10NHLs{ background-position: 100% 30.769231% !important; }
.sprite--units--Y7QfVBo0{ background-position: 100% 38.461538% !important; }
.sprite--units--yCLUPUfg{ background-position: 100% 46.153846% !important; }
.sprite--units--Yf0eB4kq{ background-position: 100% 53.846154% !important; }
.sprite--units--YIc8iSeh{ background-position: 100% 61.538462% !important; }
.sprite--units--YJY0i5xa{ background-position: 100% 69.230769% !important; }
.sprite--units--YK24Rasz{ background-position: 100% 76.923077% !important; }
.sprite--units--YLsMoHVP{ background-position: 100% 84.615385% !important; }
.sprite--units--yMX0vp46{ background-position: 100% 92.307692% !important; }
