.sprite--units {
  background-image: url("/assets/sprites/units.webp");
  width: 64px;
  height: 64px;
}
.sprite--units--02PJ02pY{ background-position: 0 0 !important; }
.sprite--units--0PrM3JVn{ background-position: 0 7.142857% !important; }
.sprite--units--2BFtK9Q6{ background-position: 0 14.285714% !important; }
.sprite--units--4dPZv0Xn{ background-position: 0 21.428571% !important; }
.sprite--units--5q05gSlD{ background-position: 0 28.571429% !important; }
.sprite--units--8rf00AMD{ background-position: 0 35.714286% !important; }
.sprite--units--bHQ0VSvC{ background-position: 0 42.857143% !important; }
.sprite--units--E9saVECF{ background-position: 0 50% !important; }
.sprite--units--FkhyENYm{ background-position: 0 57.142857% !important; }
.sprite--units--IauXLzaN{ background-position: 0 64.285714% !important; }
.sprite--units--l9nSwtUt{ background-position: 0 71.428571% !important; }
.sprite--units--OUIgLOwr{ background-position: 0 78.571429% !important; }
.sprite--units--sh6pUJlq{ background-position: 0 85.714286% !important; }
.sprite--units--uwAdahNU{ background-position: 0 92.857143% !important; }
.sprite--units--Yf0eB4kq{ background-position: 0 100% !important; }
.sprite--units--0a3sMig0{ background-position: 6.666667% 0 !important; }
.sprite--units--1BNSAxHg{ background-position: 6.666667% 7.142857% !important; }
.sprite--units--2FyrcYON{ background-position: 6.666667% 14.285714% !important; }
.sprite--units--4qyghvvw{ background-position: 6.666667% 21.428571% !important; }
.sprite--units--6laDuiEq{ background-position: 6.666667% 28.571429% !important; }
.sprite--units--8uwiDLli{ background-position: 6.666667% 35.714286% !important; }
.sprite--units--BNuARTKY{ background-position: 6.666667% 42.857143% !important; }
.sprite--units--EAIN8aHu{ background-position: 6.666667% 50% !important; }
.sprite--units--Fnw7joNn{ background-position: 6.666667% 57.142857% !important; }
.sprite--units--iEdDH0fW{ background-position: 6.666667% 64.285714% !important; }
.sprite--units--lAUj001T{ background-position: 6.666667% 71.428571% !important; }
.sprite--units--P1vcECUu{ background-position: 6.666667% 78.571429% !important; }
.sprite--units--SnNhzO9P{ background-position: 6.666667% 85.714286% !important; }
.sprite--units--UXSMJfB2{ background-position: 6.666667% 92.857143% !important; }
.sprite--units--YIc8iSeh{ background-position: 6.666667% 100% !important; }
.sprite--units--1cHTaC9T{ background-position: 13.333333% 0 !important; }
.sprite--units--1VsgrzQB{ background-position: 13.333333% 7.142857% !important; }
.sprite--units--3FqETbA7{ background-position: 13.333333% 14.285714% !important; }
.sprite--units--51ltiP2R{ background-position: 13.333333% 21.428571% !important; }
.sprite--units--76S6mp3l{ background-position: 13.333333% 28.571429% !important; }
.sprite--units--9DvrgGnd{ background-position: 13.333333% 35.714286% !important; }
.sprite--units--caWZ47Uh{ background-position: 13.333333% 42.857143% !important; }
.sprite--units--ECvgeqKa{ background-position: 13.333333% 50% !important; }
.sprite--units--fPicylJy{ background-position: 13.333333% 57.142857% !important; }
.sprite--units--ieYKVDF7{ background-position: 13.333333% 64.285714% !important; }
.sprite--units--LguEThuy{ background-position: 13.333333% 71.428571% !important; }
.sprite--units--p914BHBy{ background-position: 13.333333% 78.571429% !important; }
.sprite--units--SqFyce1R{ background-position: 13.333333% 85.714286% !important; }
.sprite--units--v4ggBiPG{ background-position: 13.333333% 92.857143% !important; }
.sprite--units--YJY0i5xa{ background-position: 13.333333% 100% !important; }
.sprite--units--3M0UlvzW{ background-position: 20% 0 !important; }
.sprite--units--3WuqTBR2{ background-position: 20% 7.142857% !important; }
.sprite--units--43Jl1D8F{ background-position: 20% 14.285714% !important; }
.sprite--units--51Xy3iD3{ background-position: 20% 21.428571% !important; }
.sprite--units--7JDvDdWg{ background-position: 20% 28.571429% !important; }
.sprite--units--9GYZM9SD{ background-position: 20% 35.714286% !important; }
.sprite--units--cecxuouk{ background-position: 20% 42.857143% !important; }
.sprite--units--EeiIDxxS{ background-position: 20% 50% !important; }
.sprite--units--G1HOHkww{ background-position: 20% 57.142857% !important; }
.sprite--units--IFDXiLRj{ background-position: 20% 64.285714% !important; }
.sprite--units--LixSq5EG{ background-position: 20% 71.428571% !important; }
.sprite--units--pE2Jr32E{ background-position: 20% 78.571429% !important; }
.sprite--units--Src3t4Lx{ background-position: 20% 85.714286% !important; }
.sprite--units--VJcfmxly{ background-position: 20% 92.857143% !important; }
.sprite--units--YK24Rasz{ background-position: 20% 100% !important; }
.sprite--units--58yYkic6{ background-position: 26.666667% 0 !important; }
.sprite--units--5CbvAuK9{ background-position: 26.666667% 7.142857% !important; }
.sprite--units--5DcX9Vmd{ background-position: 26.666667% 14.285714% !important; }
.sprite--units--5OLhhX34{ background-position: 26.666667% 21.428571% !important; }
.sprite--units--7lJ6xNTN{ background-position: 26.666667% 28.571429% !important; }
.sprite--units--9rr9o5Jm{ background-position: 26.666667% 35.714286% !important; }
.sprite--units--CIa2Pc30{ background-position: 26.666667% 42.857143% !important; }
.sprite--units--EfFe0sfE{ background-position: 26.666667% 50% !important; }
.sprite--units--g90W07aC{ background-position: 26.666667% 57.142857% !important; }
.sprite--units--IyXy2Kee{ background-position: 26.666667% 64.285714% !important; }
.sprite--units--lp2dwCji{ background-position: 26.666667% 71.428571% !important; }
.sprite--units--PJMCRbyV{ background-position: 26.666667% 78.571429% !important; }
.sprite--units--sXOZNhs4{ background-position: 26.666667% 85.714286% !important; }
.sprite--units--vxxbfTW9{ background-position: 26.666667% 92.857143% !important; }
.sprite--units--YLsMoHVP{ background-position: 26.666667% 100% !important; }
.sprite--units--7swXJ3Qj{ background-position: 33.333333% 0 !important; }
.sprite--units--7V2WKDtV{ background-position: 33.333333% 7.142857% !important; }
.sprite--units--7wZm9J6w{ background-position: 33.333333% 14.285714% !important; }
.sprite--units--7ykAeG3S{ background-position: 33.333333% 21.428571% !important; }
.sprite--units--8KUyS40Q{ background-position: 33.333333% 28.571429% !important; }
.sprite--units--9VTRAa1J{ background-position: 33.333333% 35.714286% !important; }
.sprite--units--CoMjpChF{ background-position: 33.333333% 42.857143% !important; }
.sprite--units--el6SIfSc{ background-position: 33.333333% 50% !important; }
.sprite--units--Gdgzx7Lv{ background-position: 33.333333% 57.142857% !important; }
.sprite--units--IzDscHRj{ background-position: 33.333333% 64.285714% !important; }
.sprite--units--lpQ7zIwH{ background-position: 33.333333% 71.428571% !important; }
.sprite--units--Ps8ik48F{ background-position: 33.333333% 78.571429% !important; }
.sprite--units--SZ7Mqs1Y{ background-position: 33.333333% 85.714286% !important; }
.sprite--units--w0y4IitN{ background-position: 33.333333% 92.857143% !important; }
.sprite--units--yMX0vp46{ background-position: 33.333333% 100% !important; }
.sprite--units--AkYY7n4q{ background-position: 40% 0 !important; }
.sprite--units--alxGSKt0{ background-position: 40% 7.142857% !important; }
.sprite--units--ANXc84N2{ background-position: 40% 14.285714% !important; }
.sprite--units--aUE8opvZ{ background-position: 40% 21.428571% !important; }
.sprite--units--B4LCRtGh{ background-position: 40% 28.571429% !important; }
.sprite--units--B6V3u2YU{ background-position: 40% 35.714286% !important; }
.sprite--units--CpRWe9ZM{ background-position: 40% 42.857143% !important; }
.sprite--units--el9JOheS{ background-position: 40% 50% !important; }
.sprite--units--GDt64GVA{ background-position: 40% 57.142857% !important; }
.sprite--units--iZHRbXU5{ background-position: 40% 64.285714% !important; }
.sprite--units--m1wtyjLP{ background-position: 40% 71.428571% !important; }
.sprite--units--PUFT8EVF{ background-position: 40% 78.571429% !important; }
.sprite--units--t6VjNTl2{ background-position: 40% 85.714286% !important; }
.sprite--units--w1mjObZs{ background-position: 40% 92.857143% !important; }
.sprite--units--YNbiNnz8{ background-position: 40% 100% !important; }
.sprite--units--CvtWIAHr{ background-position: 46.666667% 0 !important; }
.sprite--units--D4MOf3Cx{ background-position: 46.666667% 7.142857% !important; }
.sprite--units--D4XqP057{ background-position: 46.666667% 14.285714% !important; }
.sprite--units--dcfLc19u{ background-position: 46.666667% 21.428571% !important; }
.sprite--units--dEPotXV9{ background-position: 46.666667% 28.571429% !important; }
.sprite--units--dpSg1BCC{ background-position: 46.666667% 35.714286% !important; }
.sprite--units--dRz4b3bQ{ background-position: 46.666667% 42.857143% !important; }
.sprite--units--eO1jJosV{ background-position: 46.666667% 50% !important; }
.sprite--units--go9oL6S4{ background-position: 46.666667% 57.142857% !important; }
.sprite--units--J07oyILC{ background-position: 46.666667% 64.285714% !important; }
.sprite--units--m4GWi3ra{ background-position: 46.666667% 71.428571% !important; }
.sprite--units--pZLbSbys{ background-position: 46.666667% 78.571429% !important; }
.sprite--units--tavRfAZ4{ background-position: 46.666667% 85.714286% !important; }
.sprite--units--W6UjDkwJ{ background-position: 46.666667% 92.857143% !important; }
.sprite--units--yNtcsInI{ background-position: 46.666667% 100% !important; }
.sprite--units--EqUT8FWp{ background-position: 53.333333% 0 !important; }
.sprite--units--eu7m6vR0{ background-position: 53.333333% 7.142857% !important; }
.sprite--units--EUurgLT6{ background-position: 53.333333% 14.285714% !important; }
.sprite--units--eYNY7Wv5{ background-position: 53.333333% 21.428571% !important; }
.sprite--units--F3lcbiqZ{ background-position: 53.333333% 28.571429% !important; }
.sprite--units--fb3jA2Kq{ background-position: 53.333333% 35.714286% !important; }
.sprite--units--fFoBMktb{ background-position: 53.333333% 42.857143% !important; }
.sprite--units--fgKo8V2d{ background-position: 53.333333% 50% !important; }
.sprite--units--GR17jtxn{ background-position: 53.333333% 57.142857% !important; }
.sprite--units--jFlG4UFX{ background-position: 53.333333% 64.285714% !important; }
.sprite--units--MESXQ0gF{ background-position: 53.333333% 71.428571% !important; }
.sprite--units--Q6FD6GzS{ background-position: 53.333333% 78.571429% !important; }
.sprite--units--TbVey3Xm{ background-position: 53.333333% 85.714286% !important; }
.sprite--units--w7vAkXYx{ background-position: 53.333333% 92.857143% !important; }
.sprite--units--yQGJlQbg{ background-position: 53.333333% 100% !important; }
.sprite--units--Grg35MgG{ background-position: 60% 0 !important; }
.sprite--units--gT91TSGF{ background-position: 60% 7.142857% !important; }
.sprite--units--GYxivdJ9{ background-position: 60% 14.285714% !important; }
.sprite--units--gZeglcJz{ background-position: 60% 21.428571% !important; }
.sprite--units--h8PaVqlx{ background-position: 60% 28.571429% !important; }
.sprite--units--hK7kUF2M{ background-position: 60% 35.714286% !important; }
.sprite--units--HMn17vt9{ background-position: 60% 42.857143% !important; }
.sprite--units--HS27uUrH{ background-position: 60% 50% !important; }
.sprite--units--i88wDb5R{ background-position: 60% 57.142857% !important; }
.sprite--units--ji80PG15{ background-position: 60% 64.285714% !important; }
.sprite--units--mjW0JXAT{ background-position: 60% 71.428571% !important; }
.sprite--units--QGc0n3bS{ background-position: 60% 78.571429% !important; }
.sprite--units--TcvZiUAM{ background-position: 60% 85.714286% !important; }
.sprite--units--waXighZd{ background-position: 60% 92.857143% !important; }
.sprite--units--YuFpNvER{ background-position: 60% 100% !important; }
.sprite--units--JsmwwfRG{ background-position: 66.666667% 0 !important; }
.sprite--units--K8Q1IAzd{ background-position: 66.666667% 7.142857% !important; }
.sprite--units--KdXYSI12{ background-position: 66.666667% 14.285714% !important; }
.sprite--units--Kkbjjjrr{ background-position: 66.666667% 21.428571% !important; }
.sprite--units--kMqMTIJH{ background-position: 66.666667% 28.571429% !important; }
.sprite--units--KrArwDrt{ background-position: 66.666667% 35.714286% !important; }
.sprite--units--Ks15mZNh{ background-position: 66.666667% 42.857143% !important; }
.sprite--units--ksLFQude{ background-position: 66.666667% 50% !important; }
.sprite--units--KzJHEDzf{ background-position: 66.666667% 57.142857% !important; }
.sprite--units--L8UHCDGW{ background-position: 66.666667% 64.285714% !important; }
.sprite--units--Mp18NNU3{ background-position: 66.666667% 71.428571% !important; }
.sprite--units--qkNldPAL{ background-position: 66.666667% 78.571429% !important; }
.sprite--units--tKOtTK40{ background-position: 66.666667% 85.714286% !important; }
.sprite--units--WB0pJ8xK{ background-position: 66.666667% 92.857143% !important; }
.sprite--units--zBk8aUCu{ background-position: 66.666667% 100% !important; }
.sprite--units--mv4VcGwy{ background-position: 73.333333% 0 !important; }
.sprite--units--NgzSpZuj{ background-position: 73.333333% 7.142857% !important; }
.sprite--units--NSrDQFAU{ background-position: 73.333333% 14.285714% !important; }
.sprite--units--NwroKfot{ background-position: 73.333333% 21.428571% !important; }
.sprite--units--O3ZFG5Sb{ background-position: 73.333333% 28.571429% !important; }
.sprite--units--OG64RuBs{ background-position: 73.333333% 35.714286% !important; }
.sprite--units--OKPNnScr{ background-position: 73.333333% 42.857143% !important; }
.sprite--units--ONBWMpLz{ background-position: 73.333333% 50% !important; }
.sprite--units--osxXi0Cz{ background-position: 73.333333% 57.142857% !important; }
.sprite--units--otABQLWz{ background-position: 73.333333% 64.285714% !important; }
.sprite--units--OUbQnHoI{ background-position: 73.333333% 71.428571% !important; }
.sprite--units--QuhX33Kf{ background-position: 73.333333% 78.571429% !important; }
.sprite--units--tLecUOML{ background-position: 73.333333% 85.714286% !important; }
.sprite--units--wcEvHsLb{ background-position: 73.333333% 92.857143% !important; }
.sprite--units--zDkWgxBn{ background-position: 73.333333% 100% !important; }
.sprite--units--r0n1r1tq{ background-position: 80% 0 !important; }
.sprite--units--r8bOrQ4z{ background-position: 80% 7.142857% !important; }
.sprite--units--rcjB9GGa{ background-position: 80% 14.285714% !important; }
.sprite--units--RD2xKrYI{ background-position: 80% 21.428571% !important; }
.sprite--units--RDwthWb9{ background-position: 80% 28.571429% !important; }
.sprite--units--Rompv3FW{ background-position: 80% 35.714286% !important; }
.sprite--units--RSHxMfUS{ background-position: 80% 42.857143% !important; }
.sprite--units--RUSxezlR{ background-position: 80% 50% !important; }
.sprite--units--rZFFl8Fq{ background-position: 80% 57.142857% !important; }
.sprite--units--SAZtPvq5{ background-position: 80% 64.285714% !important; }
.sprite--units--SBCTuPxz{ background-position: 80% 71.428571% !important; }
.sprite--units--SbWUzjkZ{ background-position: 80% 78.571429% !important; }
.sprite--units--TrEO5QKb{ background-position: 80% 85.714286% !important; }
.sprite--units--WdW5WSNr{ background-position: 80% 92.857143% !important; }
.sprite--units--zEjltgqW{ background-position: 80% 100% !important; }
.sprite--units--tsD0Zngq{ background-position: 86.666667% 0 !important; }
.sprite--units--txwZ2qeY{ background-position: 86.666667% 7.142857% !important; }
.sprite--units--u328LdjE{ background-position: 86.666667% 14.285714% !important; }
.sprite--units--uA38FuUs{ background-position: 86.666667% 21.428571% !important; }
.sprite--units--UfgjnL04{ background-position: 86.666667% 28.571429% !important; }
.sprite--units--UGlOF3t1{ background-position: 86.666667% 35.714286% !important; }
.sprite--units--UhtHNUpf{ background-position: 86.666667% 42.857143% !important; }
.sprite--units--UJvjOEfu{ background-position: 86.666667% 50% !important; }
.sprite--units--UMRmFRBg{ background-position: 86.666667% 57.142857% !important; }
.sprite--units--UNU36sL4{ background-position: 86.666667% 64.285714% !important; }
.sprite--units--uo210vgB{ background-position: 86.666667% 71.428571% !important; }
.sprite--units--uoE97tP0{ background-position: 86.666667% 78.571429% !important; }
.sprite--units--US1hRtz8{ background-position: 86.666667% 85.714286% !important; }
.sprite--units--WmjlRlBW{ background-position: 86.666667% 92.857143% !important; }
.sprite--units--ZIjrSRN7{ background-position: 86.666667% 100% !important; }
.sprite--units--WUkLGdMo{ background-position: 93.333333% 0 !important; }
.sprite--units--Ww3hc2hM{ background-position: 93.333333% 7.142857% !important; }
.sprite--units--wzetwZP2{ background-position: 93.333333% 14.285714% !important; }
.sprite--units--X8K4EXh1{ background-position: 93.333333% 21.428571% !important; }
.sprite--units--xIFsDsze{ background-position: 93.333333% 28.571429% !important; }
.sprite--units--xocokZb6{ background-position: 93.333333% 35.714286% !important; }
.sprite--units--Xpoboumt{ background-position: 93.333333% 42.857143% !important; }
.sprite--units--XvQqKOps{ background-position: 93.333333% 50% !important; }
.sprite--units--XW10NHLs{ background-position: 93.333333% 57.142857% !important; }
.sprite--units--xYpTT1Y2{ background-position: 93.333333% 64.285714% !important; }
.sprite--units--Y67VcL8J{ background-position: 93.333333% 71.428571% !important; }
.sprite--units--Y7QfVBo0{ background-position: 93.333333% 78.571429% !important; }
.sprite--units--yCLUPUfg{ background-position: 93.333333% 85.714286% !important; }
.sprite--units--Ydnp8Gtw{ background-position: 93.333333% 92.857143% !important; }
.sprite--units--znIO9rvr{ background-position: 93.333333% 100% !important; }
.sprite--units--zPZoGdUq{ background-position: 100% 0 !important; }
.sprite--units--zUrlStrg{ background-position: 100% 7.142857% !important; }
.sprite--units--zwD9zsRI{ background-position: 100% 14.285714% !important; }
