.sprite--upgrades {
  background-image: url("/assets/sprites/upgrades.webp");
  width: 64px;
  height: 64px;
}
.sprite--upgrades--0QKdM3FC{ background-position: 0 0 !important; }
.sprite--upgrades--0nAIihpp{ background-position: 0 8.333333% !important; }
.sprite--upgrades--3UDcnfLN{ background-position: 0 16.666667% !important; }
.sprite--upgrades--5Gs50MVf{ background-position: 0 25% !important; }
.sprite--upgrades--9FA3YW4M{ background-position: 0 33.333333% !important; }
.sprite--upgrades--D0dJsivl{ background-position: 0 41.666667% !important; }
.sprite--upgrades--FqH1ajZ4{ background-position: 0 50% !important; }
.sprite--upgrades--LHwpbQXN{ background-position: 0 58.333333% !important; }
.sprite--upgrades--SeuPUz9y{ background-position: 0 66.666667% !important; }
.sprite--upgrades--a4y16XBf{ background-position: 0 75% !important; }
.sprite--upgrades--hDDsj8xx{ background-position: 0 83.333333% !important; }
.sprite--upgrades--oYr2p0vz{ background-position: 0 91.666667% !important; }
.sprite--upgrades--uhuyodXf{ background-position: 0 100% !important; }
.sprite--upgrades--0lqiHQ4r{ background-position: 8.333333% 0 !important; }
.sprite--upgrades--3BM4tJEV{ background-position: 8.333333% 8.333333% !important; }
.sprite--upgrades--3m8IYWce{ background-position: 8.333333% 16.666667% !important; }
.sprite--upgrades--5VPL4Mrf{ background-position: 8.333333% 25% !important; }
.sprite--upgrades--9Nls3EBb{ background-position: 8.333333% 33.333333% !important; }
.sprite--upgrades--DakMKpnj{ background-position: 8.333333% 41.666667% !important; }
.sprite--upgrades--GnBQFDpV{ background-position: 8.333333% 50% !important; }
.sprite--upgrades--LJiW1mQ1{ background-position: 8.333333% 58.333333% !important; }
.sprite--upgrades--TfImUEVR{ background-position: 8.333333% 66.666667% !important; }
.sprite--upgrades--anetC9d6{ background-position: 8.333333% 75% !important; }
.sprite--upgrades--hZ3GuW3F{ background-position: 8.333333% 83.333333% !important; }
.sprite--upgrades--oudcC8aT{ background-position: 8.333333% 91.666667% !important; }
.sprite--upgrades--vQHbm242{ background-position: 8.333333% 100% !important; }
.sprite--upgrades--3O55aWUD{ background-position: 16.666667% 0 !important; }
.sprite--upgrades--3SY7Ue3F{ background-position: 16.666667% 8.333333% !important; }
.sprite--upgrades--4Norkx4m{ background-position: 16.666667% 16.666667% !important; }
.sprite--upgrades--5u5fET0h{ background-position: 16.666667% 25% !important; }
.sprite--upgrades--9bp8HMMy{ background-position: 16.666667% 33.333333% !important; }
.sprite--upgrades--Djjnic0I{ background-position: 16.666667% 41.666667% !important; }
.sprite--upgrades--GpkfuTVO{ background-position: 16.666667% 50% !important; }
.sprite--upgrades--LKlsrfSm{ background-position: 16.666667% 58.333333% !important; }
.sprite--upgrades--Tmzom8Ig{ background-position: 16.666667% 66.666667% !important; }
.sprite--upgrades--b8AiuAKv{ background-position: 16.666667% 75% !important; }
.sprite--upgrades--hohhHpJh{ background-position: 16.666667% 83.333333% !important; }
.sprite--upgrades--ow73KZQ7{ background-position: 16.666667% 91.666667% !important; }
.sprite--upgrades--vbYu39p5{ background-position: 16.666667% 100% !important; }
.sprite--upgrades--4XtKttb3{ background-position: 25% 0 !important; }
.sprite--upgrades--4gf4yc5r{ background-position: 25% 8.333333% !important; }
.sprite--upgrades--50lHYrp7{ background-position: 25% 16.666667% !important; }
.sprite--upgrades--60cMEnha{ background-position: 25% 25% !important; }
.sprite--upgrades--B5quzefF{ background-position: 25% 33.333333% !important; }
.sprite--upgrades--DmcePQqV{ background-position: 25% 41.666667% !important; }
.sprite--upgrades--H5V4lDTV{ background-position: 25% 50% !important; }
.sprite--upgrades--MGuem3ub{ background-position: 25% 58.333333% !important; }
.sprite--upgrades--UMYJ0JRe{ background-position: 25% 66.666667% !important; }
.sprite--upgrades--bhFSz4M1{ background-position: 25% 75% !important; }
.sprite--upgrades--hvGM9ySR{ background-position: 25% 83.333333% !important; }
.sprite--upgrades--p1SUwX4H{ background-position: 25% 91.666667% !important; }
.sprite--upgrades--vkgOqUkK{ background-position: 25% 100% !important; }
.sprite--upgrades--6etCpDgt{ background-position: 33.333333% 0 !important; }
.sprite--upgrades--6mh63jIU{ background-position: 33.333333% 8.333333% !important; }
.sprite--upgrades--74dLQcZL{ background-position: 33.333333% 16.666667% !important; }
.sprite--upgrades--8yS2jCLX{ background-position: 33.333333% 25% !important; }
.sprite--upgrades--B8pBFCIk{ background-position: 33.333333% 33.333333% !important; }
.sprite--upgrades--EKspKkfi{ background-position: 33.333333% 41.666667% !important; }
.sprite--upgrades--H8jIGJdB{ background-position: 33.333333% 50% !important; }
.sprite--upgrades--ML36GzRW{ background-position: 33.333333% 58.333333% !important; }
.sprite--upgrades--Uvk4eRrI{ background-position: 33.333333% 66.666667% !important; }
.sprite--upgrades--c3Ebj0fn{ background-position: 33.333333% 75% !important; }
.sprite--upgrades--iBsg8VL2{ background-position: 33.333333% 83.333333% !important; }
.sprite--upgrades--piM3nW3z{ background-position: 33.333333% 91.666667% !important; }
.sprite--upgrades--wLxvZGpr{ background-position: 33.333333% 100% !important; }
.sprite--upgrades--Ba5wzZtv{ background-position: 41.666667% 0 !important; }
.sprite--upgrades--BjLJyukj{ background-position: 41.666667% 8.333333% !important; }
.sprite--upgrades--CXoP3voP{ background-position: 41.666667% 16.666667% !important; }
.sprite--upgrades--CZUcc5kG{ background-position: 41.666667% 25% !important; }
.sprite--upgrades--CgKz9TdD{ background-position: 41.666667% 33.333333% !important; }
.sprite--upgrades--EbSTAtNh{ background-position: 41.666667% 41.666667% !important; }
.sprite--upgrades--HnuOfQFn{ background-position: 41.666667% 50% !important; }
.sprite--upgrades--N579gq7V{ background-position: 41.666667% 58.333333% !important; }
.sprite--upgrades--V8vcBeDb{ background-position: 41.666667% 66.666667% !important; }
.sprite--upgrades--c6TouZjj{ background-position: 41.666667% 75% !important; }
.sprite--upgrades--iMF2ATWJ{ background-position: 41.666667% 83.333333% !important; }
.sprite--upgrades--qDgA75ZQ{ background-position: 41.666667% 91.666667% !important; }
.sprite--upgrades--x8whUryu{ background-position: 41.666667% 100% !important; }
.sprite--upgrades--Ec29gcPX{ background-position: 50% 0 !important; }
.sprite--upgrades--EkLb2q0x{ background-position: 50% 8.333333% !important; }
.sprite--upgrades--EnRIUzfD{ background-position: 50% 16.666667% !important; }
.sprite--upgrades--FEa48E8E{ background-position: 50% 25% !important; }
.sprite--upgrades--FIGoCk0a{ background-position: 50% 33.333333% !important; }
.sprite--upgrades--FVIFCYDR{ background-position: 50% 41.666667% !important; }
.sprite--upgrades--IVhrTH2V{ background-position: 50% 50% !important; }
.sprite--upgrades--NFjxMIyn{ background-position: 50% 58.333333% !important; }
.sprite--upgrades--VE3PNNZc{ background-position: 50% 66.666667% !important; }
.sprite--upgrades--cIEfLddh{ background-position: 50% 75% !important; }
.sprite--upgrades--iQkJW88P{ background-position: 50% 83.333333% !important; }
.sprite--upgrades--qMBSG2pJ{ background-position: 50% 91.666667% !important; }
.sprite--upgrades--xDNRl9bd{ background-position: 50% 100% !important; }
.sprite--upgrades--JAiY4SqG{ background-position: 58.333333% 0 !important; }
.sprite--upgrades--JlPuGCpA{ background-position: 58.333333% 8.333333% !important; }
.sprite--upgrades--K2CviGW5{ background-position: 58.333333% 16.666667% !important; }
.sprite--upgrades--KQMKVQ8m{ background-position: 58.333333% 25% !important; }
.sprite--upgrades--KruL3sfV{ background-position: 58.333333% 33.333333% !important; }
.sprite--upgrades--KyY21t7i{ background-position: 58.333333% 41.666667% !important; }
.sprite--upgrades--L1sgVzwt{ background-position: 58.333333% 50% !important; }
.sprite--upgrades--Nmboo2Lf{ background-position: 58.333333% 58.333333% !important; }
.sprite--upgrades--VKk3ZBMR{ background-position: 58.333333% 66.666667% !important; }
.sprite--upgrades--cW9jxy3d{ background-position: 58.333333% 75% !important; }
.sprite--upgrades--iZUNW9uc{ background-position: 58.333333% 83.333333% !important; }
.sprite--upgrades--qqpnjcPX{ background-position: 58.333333% 91.666667% !important; }
.sprite--upgrades--y7Amad3i{ background-position: 58.333333% 100% !important; }
.sprite--upgrades--O45KfBUz{ background-position: 66.666667% 0 !important; }
.sprite--upgrades--OMWXW1oK{ background-position: 66.666667% 8.333333% !important; }
.sprite--upgrades--OWG5DqDR{ background-position: 66.666667% 16.666667% !important; }
.sprite--upgrades--Ppyhjgon{ background-position: 66.666667% 25% !important; }
.sprite--upgrades--QUr2Lq3Y{ background-position: 66.666667% 33.333333% !important; }
.sprite--upgrades--RBE53Rek{ background-position: 66.666667% 41.666667% !important; }
.sprite--upgrades--Raor0JgI{ background-position: 66.666667% 50% !important; }
.sprite--upgrades--RzytEzE6{ background-position: 66.666667% 58.333333% !important; }
.sprite--upgrades--W0azkY8q{ background-position: 66.666667% 66.666667% !important; }
.sprite--upgrades--d6hqRYSK{ background-position: 66.666667% 75% !important; }
.sprite--upgrades--iohjn2il{ background-position: 66.666667% 83.333333% !important; }
.sprite--upgrades--rD83VqgF{ background-position: 66.666667% 91.666667% !important; }
.sprite--upgrades--yL3us2gq{ background-position: 66.666667% 100% !important; }
.sprite--upgrades--WbwcXabG{ background-position: 75% 0 !important; }
.sprite--upgrades--XpZFgRoZ{ background-position: 75% 8.333333% !important; }
.sprite--upgrades--Y5PEn3Lh{ background-position: 75% 16.666667% !important; }
.sprite--upgrades--YGOIE7Kj{ background-position: 75% 25% !important; }
.sprite--upgrades--Yc8O06W0{ background-position: 75% 33.333333% !important; }
.sprite--upgrades--Yef5qaQH{ background-position: 75% 41.666667% !important; }
.sprite--upgrades--ZCfj2VJz{ background-position: 75% 50% !important; }
.sprite--upgrades--ZccRAv7i{ background-position: 75% 58.333333% !important; }
.sprite--upgrades--ZiuOOxeb{ background-position: 75% 66.666667% !important; }
.sprite--upgrades--d7Lm1YDs{ background-position: 75% 75% !important; }
.sprite--upgrades--it7Rzeow{ background-position: 75% 83.333333% !important; }
.sprite--upgrades--rWgJ5AcV{ background-position: 75% 91.666667% !important; }
.sprite--upgrades--ybw7EbYY{ background-position: 75% 100% !important; }
.sprite--upgrades--d9h85HES{ background-position: 83.333333% 0 !important; }
.sprite--upgrades--dI2VR0cR{ background-position: 83.333333% 8.333333% !important; }
.sprite--upgrades--drnQSiI9{ background-position: 83.333333% 16.666667% !important; }
.sprite--upgrades--dtKdzSg9{ background-position: 83.333333% 25% !important; }
.sprite--upgrades--dzigTPnA{ background-position: 83.333333% 33.333333% !important; }
.sprite--upgrades--ecvKYtEi{ background-position: 83.333333% 41.666667% !important; }
.sprite--upgrades--fQJpEMJs{ background-position: 83.333333% 50% !important; }
.sprite--upgrades--geAdl1Pe{ background-position: 83.333333% 58.333333% !important; }
.sprite--upgrades--gvqsTBZr{ background-position: 83.333333% 66.666667% !important; }
.sprite--upgrades--gxDDcXaW{ background-position: 83.333333% 75% !important; }
.sprite--upgrades--itef6fFo{ background-position: 83.333333% 83.333333% !important; }
.sprite--upgrades--s2m9y4Sy{ background-position: 83.333333% 91.666667% !important; }
.sprite--upgrades--zCUr3nNd{ background-position: 83.333333% 100% !important; }
.sprite--upgrades--jlVyzxXD{ background-position: 91.666667% 0 !important; }
.sprite--upgrades--kCFmrhT3{ background-position: 91.666667% 8.333333% !important; }
.sprite--upgrades--l6JnqZDm{ background-position: 91.666667% 16.666667% !important; }
.sprite--upgrades--lkl9J5Sv{ background-position: 91.666667% 25% !important; }
.sprite--upgrades--lsavzGmg{ background-position: 91.666667% 33.333333% !important; }
.sprite--upgrades--mCLrJoMx{ background-position: 91.666667% 41.666667% !important; }
.sprite--upgrades--mQ3PM3W6{ background-position: 91.666667% 50% !important; }
.sprite--upgrades--nUocJvP3{ background-position: 91.666667% 58.333333% !important; }
.sprite--upgrades--nawUZBOv{ background-position: 91.666667% 66.666667% !important; }
.sprite--upgrades--nrnjskqR{ background-position: 91.666667% 75% !important; }
.sprite--upgrades--nwuOB8Ls{ background-position: 91.666667% 83.333333% !important; }
.sprite--upgrades--sQNz12eW{ background-position: 91.666667% 91.666667% !important; }
.sprite--upgrades--zxV06lX8{ background-position: 91.666667% 100% !important; }
.sprite--upgrades--spqDZrV6{ background-position: 100% 0 !important; }
.sprite--upgrades--syq6Yu3N{ background-position: 100% 8.333333% !important; }
.sprite--upgrades--tQP1pSNV{ background-position: 100% 16.666667% !important; }
.sprite--upgrades--tYTyr88R{ background-position: 100% 25% !important; }
.sprite--upgrades--te0WBseg{ background-position: 100% 33.333333% !important; }
.sprite--upgrades--tg9BwVnq{ background-position: 100% 41.666667% !important; }
.sprite--upgrades--tjlLq3bm{ background-position: 100% 50% !important; }
.sprite--upgrades--tmUppqZs{ background-position: 100% 58.333333% !important; }
.sprite--upgrades--tv7GwvrY{ background-position: 100% 66.666667% !important; }
.sprite--upgrades--twIyyvfV{ background-position: 100% 75% !important; }
.sprite--upgrades--twcwoaPQ{ background-position: 100% 83.333333% !important; }
.sprite--upgrades--uXP60iSG{ background-position: 100% 91.666667% !important; }
