.sprite--upgrades {
  background-image: url("/assets/sprites/upgrades.webp");
  width: 64px;
  height: 64px;
}
.sprite--upgrades--0lqiHQ4r{ background-position: 0 0 !important; }
.sprite--upgrades--0QKdM3FC{ background-position: 0 6.666667% !important; }
.sprite--upgrades--3lE33kjc{ background-position: 0 13.333333% !important; }
.sprite--upgrades--3UDcnfLN{ background-position: 0 20% !important; }
.sprite--upgrades--5o7dxMUl{ background-position: 0 26.666667% !important; }
.sprite--upgrades--9bp8HMMy{ background-position: 0 33.333333% !important; }
.sprite--upgrades--Ba5wzZtv{ background-position: 0 40% !important; }
.sprite--upgrades--d6hqRYSK{ background-position: 0 46.666667% !important; }
.sprite--upgrades--ecvKYtEi{ background-position: 0 53.333333% !important; }
.sprite--upgrades--GpkfuTVO{ background-position: 0 60% !important; }
.sprite--upgrades--IVhrTH2V{ background-position: 0 66.666667% !important; }
.sprite--upgrades--m5OAv2ZV{ background-position: 0 73.333333% !important; }
.sprite--upgrades--oYr2p0vz{ background-position: 0 80% !important; }
.sprite--upgrades--sIjjnL6V{ background-position: 0 86.666667% !important; }
.sprite--upgrades--vQHbm242{ background-position: 0 93.333333% !important; }
.sprite--upgrades--zxV06lX8{ background-position: 0 100% !important; }
.sprite--upgrades--0nAIihpp{ background-position: 6.666667% 0 !important; }
.sprite--upgrades--1GHreN7S{ background-position: 6.666667% 6.666667% !important; }
.sprite--upgrades--3m8IYWce{ background-position: 6.666667% 13.333333% !important; }
.sprite--upgrades--423WhpWg{ background-position: 6.666667% 20% !important; }
.sprite--upgrades--5u5fET0h{ background-position: 6.666667% 26.666667% !important; }
.sprite--upgrades--9FA3YW4M{ background-position: 6.666667% 33.333333% !important; }
.sprite--upgrades--bhFSz4M1{ background-position: 6.666667% 40% !important; }
.sprite--upgrades--d7Lm1YDs{ background-position: 6.666667% 46.666667% !important; }
.sprite--upgrades--EkLb2q0x{ background-position: 6.666667% 53.333333% !important; }
.sprite--upgrades--gvqsTBZr{ background-position: 6.666667% 60% !important; }
.sprite--upgrades--Iw80DeHq{ background-position: 6.666667% 66.666667% !important; }
.sprite--upgrades--mCLrJoMx{ background-position: 6.666667% 73.333333% !important; }
.sprite--upgrades--p1SUwX4H{ background-position: 6.666667% 80% !important; }
.sprite--upgrades--spqDZrV6{ background-position: 6.666667% 86.666667% !important; }
.sprite--upgrades--VvafoftZ{ background-position: 6.666667% 93.333333% !important; }
.sprite--upgrades--2ve12aoR{ background-position: 13.333333% 0 !important; }
.sprite--upgrades--3BM4tJEV{ background-position: 13.333333% 6.666667% !important; }
.sprite--upgrades--3O55aWUD{ background-position: 13.333333% 13.333333% !important; }
.sprite--upgrades--4dZQRjAi{ background-position: 13.333333% 20% !important; }
.sprite--upgrades--5VPL4Mrf{ background-position: 13.333333% 26.666667% !important; }
.sprite--upgrades--9IdA3WXO{ background-position: 13.333333% 33.333333% !important; }
.sprite--upgrades--BjLJyukj{ background-position: 13.333333% 40% !important; }
.sprite--upgrades--d9h85HES{ background-position: 13.333333% 46.666667% !important; }
.sprite--upgrades--EKspKkfi{ background-position: 13.333333% 53.333333% !important; }
.sprite--upgrades--gxDDcXaW{ background-position: 13.333333% 60% !important; }
.sprite--upgrades--iZUNW9uc{ background-position: 13.333333% 66.666667% !important; }
.sprite--upgrades--Mf6MGc2u{ background-position: 13.333333% 73.333333% !important; }
.sprite--upgrades--p4clgP84{ background-position: 13.333333% 80% !important; }
.sprite--upgrades--sQNz12eW{ background-position: 13.333333% 86.666667% !important; }
.sprite--upgrades--W0azkY8q{ background-position: 13.333333% 93.333333% !important; }
.sprite--upgrades--3sccsUNQ{ background-position: 20% 0 !important; }
.sprite--upgrades--3SY7Ue3F{ background-position: 20% 6.666667% !important; }
.sprite--upgrades--3SZDYEnE{ background-position: 20% 13.333333% !important; }
.sprite--upgrades--4gf4yc5r{ background-position: 20% 20% !important; }
.sprite--upgrades--60cMEnha{ background-position: 20% 26.666667% !important; }
.sprite--upgrades--9lPqSUHr{ background-position: 20% 33.333333% !important; }
.sprite--upgrades--bRkgeUaB{ background-position: 20% 40% !important; }
.sprite--upgrades--DakMKpnj{ background-position: 20% 46.666667% !important; }
.sprite--upgrades--eNnbNkdt{ background-position: 20% 53.333333% !important; }
.sprite--upgrades--H5V4lDTV{ background-position: 20% 60% !important; }
.sprite--upgrades--JAiY4SqG{ background-position: 20% 66.666667% !important; }
.sprite--upgrades--MGuem3ub{ background-position: 20% 73.333333% !important; }
.sprite--upgrades--pGu7ntLK{ background-position: 20% 80% !important; }
.sprite--upgrades--syq6Yu3N{ background-position: 20% 86.666667% !important; }
.sprite--upgrades--w2ZBg75Z{ background-position: 20% 93.333333% !important; }
.sprite--upgrades--4Norkx4m{ background-position: 26.666667% 0 !important; }
.sprite--upgrades--4XtKttb3{ background-position: 26.666667% 6.666667% !important; }
.sprite--upgrades--50lHYrp7{ background-position: 26.666667% 13.333333% !important; }
.sprite--upgrades--5Gs50MVf{ background-position: 26.666667% 20% !important; }
.sprite--upgrades--61CmIpvC{ background-position: 26.666667% 26.666667% !important; }
.sprite--upgrades--9Nls3EBb{ background-position: 26.666667% 33.333333% !important; }
.sprite--upgrades--c3Ebj0fn{ background-position: 26.666667% 40% !important; }
.sprite--upgrades--dI2VR0cR{ background-position: 26.666667% 46.666667% !important; }
.sprite--upgrades--EnRIUzfD{ background-position: 26.666667% 53.333333% !important; }
.sprite--upgrades--H8jIGJdB{ background-position: 26.666667% 60% !important; }
.sprite--upgrades--JlPuGCpA{ background-position: 26.666667% 66.666667% !important; }
.sprite--upgrades--ML36GzRW{ background-position: 26.666667% 73.333333% !important; }
.sprite--upgrades--pIkLE9VZ{ background-position: 26.666667% 80% !important; }
.sprite--upgrades--te0WBseg{ background-position: 26.666667% 86.666667% !important; }
.sprite--upgrades--WbwcXabG{ background-position: 26.666667% 93.333333% !important; }
.sprite--upgrades--6etCpDgt{ background-position: 33.333333% 0 !important; }
.sprite--upgrades--6mh63jIU{ background-position: 33.333333% 6.666667% !important; }
.sprite--upgrades--74dLQcZL{ background-position: 33.333333% 13.333333% !important; }
.sprite--upgrades--8emOzwVH{ background-position: 33.333333% 20% !important; }
.sprite--upgrades--8yS2jCLX{ background-position: 33.333333% 26.666667% !important; }
.sprite--upgrades--a3qUCF72{ background-position: 33.333333% 33.333333% !important; }
.sprite--upgrades--c6TouZjj{ background-position: 33.333333% 40% !important; }
.sprite--upgrades--DJ6Ppfjz{ background-position: 33.333333% 46.666667% !important; }
.sprite--upgrades--ezHkLDYd{ background-position: 33.333333% 53.333333% !important; }
.sprite--upgrades--hDDsj8xx{ background-position: 33.333333% 60% !important; }
.sprite--upgrades--jlVyzxXD{ background-position: 33.333333% 66.666667% !important; }
.sprite--upgrades--mQ3PM3W6{ background-position: 33.333333% 73.333333% !important; }
.sprite--upgrades--piM3nW3z{ background-position: 33.333333% 80% !important; }
.sprite--upgrades--TfImUEVR{ background-position: 33.333333% 86.666667% !important; }
.sprite--upgrades--wLxvZGpr{ background-position: 33.333333% 93.333333% !important; }
.sprite--upgrades--a4y16XBf{ background-position: 40% 0 !important; }
.sprite--upgrades--anetC9d6{ background-position: 40% 6.666667% !important; }
.sprite--upgrades--B5quzefF{ background-position: 40% 13.333333% !important; }
.sprite--upgrades--B6hrM6AJ{ background-position: 40% 20% !important; }
.sprite--upgrades--b8AiuAKv{ background-position: 40% 26.666667% !important; }
.sprite--upgrades--B8pBFCIk{ background-position: 40% 33.333333% !important; }
.sprite--upgrades--CaS7rb0v{ background-position: 40% 40% !important; }
.sprite--upgrades--Djjnic0I{ background-position: 40% 46.666667% !important; }
.sprite--upgrades--f5HPuEsz{ background-position: 40% 53.333333% !important; }
.sprite--upgrades--HDXlymAR{ background-position: 40% 60% !important; }
.sprite--upgrades--JmoTcL8h{ background-position: 40% 66.666667% !important; }
.sprite--upgrades--N579gq7V{ background-position: 40% 73.333333% !important; }
.sprite--upgrades--PlUCLT5Y{ background-position: 40% 80% !important; }
.sprite--upgrades--tg9BwVnq{ background-position: 40% 86.666667% !important; }
.sprite--upgrades--WNNv3JYj{ background-position: 40% 93.333333% !important; }
.sprite--upgrades--CgKz9TdD{ background-position: 46.666667% 0 !important; }
.sprite--upgrades--cIEfLddh{ background-position: 46.666667% 6.666667% !important; }
.sprite--upgrades--cW9jxy3d{ background-position: 46.666667% 13.333333% !important; }
.sprite--upgrades--CXoP3voP{ background-position: 46.666667% 20% !important; }
.sprite--upgrades--cYmk0e4t{ background-position: 46.666667% 26.666667% !important; }
.sprite--upgrades--CZUcc5kG{ background-position: 46.666667% 33.333333% !important; }
.sprite--upgrades--D0dJsivl{ background-position: 46.666667% 40% !important; }
.sprite--upgrades--DmcePQqV{ background-position: 46.666667% 46.666667% !important; }
.sprite--upgrades--Fch2qD7i{ background-position: 46.666667% 53.333333% !important; }
.sprite--upgrades--HnuOfQFn{ background-position: 46.666667% 60% !important; }
.sprite--upgrades--K2CviGW5{ background-position: 46.666667% 66.666667% !important; }
.sprite--upgrades--N5aIxmpT{ background-position: 46.666667% 73.333333% !important; }
.sprite--upgrades--Ppyhjgon{ background-position: 46.666667% 80% !important; }
.sprite--upgrades--Thq0alJ8{ background-position: 46.666667% 86.666667% !important; }
.sprite--upgrades--wZ8RUgmu{ background-position: 46.666667% 93.333333% !important; }
.sprite--upgrades--dP0F9AsR{ background-position: 53.333333% 0 !important; }
.sprite--upgrades--drnQSiI9{ background-position: 53.333333% 6.666667% !important; }
.sprite--upgrades--DsxB5tJG{ background-position: 53.333333% 13.333333% !important; }
.sprite--upgrades--dtKdzSg9{ background-position: 53.333333% 20% !important; }
.sprite--upgrades--dzigTPnA{ background-position: 53.333333% 26.666667% !important; }
.sprite--upgrades--E5kHl460{ background-position: 53.333333% 33.333333% !important; }
.sprite--upgrades--EbSTAtNh{ background-position: 53.333333% 40% !important; }
.sprite--upgrades--Ec29gcPX{ background-position: 53.333333% 46.666667% !important; }
.sprite--upgrades--FEa48E8E{ background-position: 53.333333% 53.333333% !important; }
.sprite--upgrades--hohhHpJh{ background-position: 53.333333% 60% !important; }
.sprite--upgrades--kCFmrhT3{ background-position: 53.333333% 66.666667% !important; }
.sprite--upgrades--n6xIs7jq{ background-position: 53.333333% 73.333333% !important; }
.sprite--upgrades--pwcA9B7X{ background-position: 53.333333% 80% !important; }
.sprite--upgrades--tjlLq3bm{ background-position: 53.333333% 86.666667% !important; }
.sprite--upgrades--x8whUryu{ background-position: 53.333333% 93.333333% !important; }
.sprite--upgrades--fGdCd0pz{ background-position: 60% 0 !important; }
.sprite--upgrades--FIGoCk0a{ background-position: 60% 6.666667% !important; }
.sprite--upgrades--FqH1ajZ4{ background-position: 60% 13.333333% !important; }
.sprite--upgrades--fQJpEMJs{ background-position: 60% 20% !important; }
.sprite--upgrades--FVIFCYDR{ background-position: 60% 26.666667% !important; }
.sprite--upgrades--g8Z6g811{ background-position: 60% 33.333333% !important; }
.sprite--upgrades--geAdl1Pe{ background-position: 60% 40% !important; }
.sprite--upgrades--GnBQFDpV{ background-position: 60% 46.666667% !important; }
.sprite--upgrades--GNOY9FBT{ background-position: 60% 53.333333% !important; }
.sprite--upgrades--hvGM9ySR{ background-position: 60% 60% !important; }
.sprite--upgrades--KolXC2mc{ background-position: 60% 66.666667% !important; }
.sprite--upgrades--nawUZBOv{ background-position: 60% 73.333333% !important; }
.sprite--upgrades--Q6PQ7IO1{ background-position: 60% 80% !important; }
.sprite--upgrades--tmUppqZs{ background-position: 60% 86.666667% !important; }
.sprite--upgrades--xDNRl9bd{ background-position: 60% 93.333333% !important; }
.sprite--upgrades--HxQm3naZ{ background-position: 66.666667% 0 !important; }
.sprite--upgrades--hZ3GuW3F{ background-position: 66.666667% 6.666667% !important; }
.sprite--upgrades--iBsg8VL2{ background-position: 66.666667% 13.333333% !important; }
.sprite--upgrades--iMF2ATWJ{ background-position: 66.666667% 20% !important; }
.sprite--upgrades--IN2Xy81j{ background-position: 66.666667% 26.666667% !important; }
.sprite--upgrades--InYyQ5g3{ background-position: 66.666667% 33.333333% !important; }
.sprite--upgrades--iohjn2il{ background-position: 66.666667% 40% !important; }
.sprite--upgrades--iQkJW88P{ background-position: 66.666667% 46.666667% !important; }
.sprite--upgrades--it7Rzeow{ background-position: 66.666667% 53.333333% !important; }
.sprite--upgrades--itef6fFo{ background-position: 66.666667% 60% !important; }
.sprite--upgrades--KQMKVQ8m{ background-position: 66.666667% 66.666667% !important; }
.sprite--upgrades--NFjxMIyn{ background-position: 66.666667% 73.333333% !important; }
.sprite--upgrades--q7IFQncX{ background-position: 66.666667% 80% !important; }
.sprite--upgrades--Tmzom8Ig{ background-position: 66.666667% 86.666667% !important; }
.sprite--upgrades--xget5YxB{ background-position: 66.666667% 93.333333% !important; }
.sprite--upgrades--KruL3sfV{ background-position: 73.333333% 0 !important; }
.sprite--upgrades--KyY21t7i{ background-position: 73.333333% 6.666667% !important; }
.sprite--upgrades--L1sgVzwt{ background-position: 73.333333% 13.333333% !important; }
.sprite--upgrades--l3h19MsI{ background-position: 73.333333% 20% !important; }
.sprite--upgrades--l6JnqZDm{ background-position: 73.333333% 26.666667% !important; }
.sprite--upgrades--lcllJhTT{ background-position: 73.333333% 33.333333% !important; }
.sprite--upgrades--LHwpbQXN{ background-position: 73.333333% 40% !important; }
.sprite--upgrades--LJiW1mQ1{ background-position: 73.333333% 46.666667% !important; }
.sprite--upgrades--lkl9J5Sv{ background-position: 73.333333% 53.333333% !important; }
.sprite--upgrades--LKlsrfSm{ background-position: 73.333333% 60% !important; }
.sprite--upgrades--lsavzGmg{ background-position: 73.333333% 66.666667% !important; }
.sprite--upgrades--Nmboo2Lf{ background-position: 73.333333% 73.333333% !important; }
.sprite--upgrades--qDgA75ZQ{ background-position: 73.333333% 80% !important; }
.sprite--upgrades--tQP1pSNV{ background-position: 73.333333% 86.666667% !important; }
.sprite--upgrades--XpZFgRoZ{ background-position: 73.333333% 93.333333% !important; }
.sprite--upgrades--nrnjskqR{ background-position: 80% 0 !important; }
.sprite--upgrades--ntnB8D6L{ background-position: 80% 6.666667% !important; }
.sprite--upgrades--nUocJvP3{ background-position: 80% 13.333333% !important; }
.sprite--upgrades--nwuOB8Ls{ background-position: 80% 20% !important; }
.sprite--upgrades--nZLFblUO{ background-position: 80% 26.666667% !important; }
.sprite--upgrades--O45KfBUz{ background-position: 80% 33.333333% !important; }
.sprite--upgrades--of0RDMwT{ background-position: 80% 40% !important; }
.sprite--upgrades--OMWXW1oK{ background-position: 80% 46.666667% !important; }
.sprite--upgrades--oudcC8aT{ background-position: 80% 53.333333% !important; }
.sprite--upgrades--ow73KZQ7{ background-position: 80% 60% !important; }
.sprite--upgrades--OWG5DqDR{ background-position: 80% 66.666667% !important; }
.sprite--upgrades--OwkuvN5Y{ background-position: 80% 73.333333% !important; }
.sprite--upgrades--qMBSG2pJ{ background-position: 80% 80% !important; }
.sprite--upgrades--ts2S8t37{ background-position: 80% 86.666667% !important; }
.sprite--upgrades--Xr2WIaxt{ background-position: 80% 93.333333% !important; }
.sprite--upgrades--qqpnjcPX{ background-position: 86.666667% 0 !important; }
.sprite--upgrades--QUr2Lq3Y{ background-position: 86.666667% 6.666667% !important; }
.sprite--upgrades--Raor0JgI{ background-position: 86.666667% 13.333333% !important; }
.sprite--upgrades--RBE53Rek{ background-position: 86.666667% 20% !important; }
.sprite--upgrades--rD83VqgF{ background-position: 86.666667% 26.666667% !important; }
.sprite--upgrades--reGx5UNC{ background-position: 86.666667% 33.333333% !important; }
.sprite--upgrades--rUZanYxp{ background-position: 86.666667% 40% !important; }
.sprite--upgrades--rWgJ5AcV{ background-position: 86.666667% 46.666667% !important; }
.sprite--upgrades--rzpWaNnh{ background-position: 86.666667% 53.333333% !important; }
.sprite--upgrades--RzytEzE6{ background-position: 86.666667% 60% !important; }
.sprite--upgrades--s2m9y4Sy{ background-position: 86.666667% 66.666667% !important; }
.sprite--upgrades--SderEn6q{ background-position: 86.666667% 73.333333% !important; }
.sprite--upgrades--SeuPUz9y{ background-position: 86.666667% 80% !important; }
.sprite--upgrades--tv7GwvrY{ background-position: 86.666667% 86.666667% !important; }
.sprite--upgrades--XTYpqr7u{ background-position: 86.666667% 93.333333% !important; }
.sprite--upgrades--twcwoaPQ{ background-position: 93.333333% 0 !important; }
.sprite--upgrades--twIyyvfV{ background-position: 93.333333% 6.666667% !important; }
.sprite--upgrades--tYTyr88R{ background-position: 93.333333% 13.333333% !important; }
.sprite--upgrades--uhuyodXf{ background-position: 93.333333% 20% !important; }
.sprite--upgrades--uKNLhmFl{ background-position: 93.333333% 26.666667% !important; }
.sprite--upgrades--UMYJ0JRe{ background-position: 93.333333% 33.333333% !important; }
.sprite--upgrades--Uvk4eRrI{ background-position: 93.333333% 40% !important; }
.sprite--upgrades--uXP60iSG{ background-position: 93.333333% 46.666667% !important; }
.sprite--upgrades--V8vcBeDb{ background-position: 93.333333% 53.333333% !important; }
.sprite--upgrades--vbYu39p5{ background-position: 93.333333% 60% !important; }
.sprite--upgrades--VE3PNNZc{ background-position: 93.333333% 66.666667% !important; }
.sprite--upgrades--vkgOqUkK{ background-position: 93.333333% 73.333333% !important; }
.sprite--upgrades--VKk3ZBMR{ background-position: 93.333333% 80% !important; }
.sprite--upgrades--VKPyBndN{ background-position: 93.333333% 86.666667% !important; }
.sprite--upgrades--Y5PEn3Lh{ background-position: 93.333333% 93.333333% !important; }
.sprite--upgrades--y7Amad3i{ background-position: 100% 0 !important; }
.sprite--upgrades--ybw7EbYY{ background-position: 100% 6.666667% !important; }
.sprite--upgrades--Yc8O06W0{ background-position: 100% 13.333333% !important; }
.sprite--upgrades--Yef5qaQH{ background-position: 100% 20% !important; }
.sprite--upgrades--YGOIE7Kj{ background-position: 100% 26.666667% !important; }
.sprite--upgrades--YHb9m6Qz{ background-position: 100% 33.333333% !important; }
.sprite--upgrades--yHjyqBT8{ background-position: 100% 40% !important; }
.sprite--upgrades--yL3us2gq{ background-position: 100% 46.666667% !important; }
.sprite--upgrades--YrpaCptD{ background-position: 100% 53.333333% !important; }
.sprite--upgrades--ZccRAv7i{ background-position: 100% 60% !important; }
.sprite--upgrades--ZCfj2VJz{ background-position: 100% 66.666667% !important; }
.sprite--upgrades--zCUr3nNd{ background-position: 100% 73.333333% !important; }
.sprite--upgrades--ZiuOOxeb{ background-position: 100% 80% !important; }
.sprite--upgrades--zKLzOtTy{ background-position: 100% 86.666667% !important; }
.sprite--upgrades--Zm85rCsd{ background-position: 100% 93.333333% !important; }
