.sprite--upgrades {
  background-image: url("/assets/sprites/upgrades.webp");
  width: 64px;
  height: 64px;
}
.sprite--upgrades--0QKdM3FC{ background-position: 0 0 !important; }
.sprite--upgrades--0nAIihpp{ background-position: 0 8.333333% !important; }
.sprite--upgrades--3UDcnfLN{ background-position: 0 16.666667% !important; }
.sprite--upgrades--5Gs50MVf{ background-position: 0 25% !important; }
.sprite--upgrades--9FA3YW4M{ background-position: 0 33.333333% !important; }
.sprite--upgrades--D0dJsivl{ background-position: 0 41.666667% !important; }
.sprite--upgrades--FVIFCYDR{ background-position: 0 50% !important; }
.sprite--upgrades--L1sgVzwt{ background-position: 0 58.333333% !important; }
.sprite--upgrades--RzytEzE6{ background-position: 0 66.666667% !important; }
.sprite--upgrades--ZccRAv7i{ background-position: 0 75% !important; }
.sprite--upgrades--gvqsTBZr{ background-position: 0 83.333333% !important; }
.sprite--upgrades--nrnjskqR{ background-position: 0 91.666667% !important; }
.sprite--upgrades--twcwoaPQ{ background-position: 0 100% !important; }
.sprite--upgrades--0lqiHQ4r{ background-position: 7.692308% 0 !important; }
.sprite--upgrades--3BM4tJEV{ background-position: 7.692308% 8.333333% !important; }
.sprite--upgrades--3m8IYWce{ background-position: 7.692308% 16.666667% !important; }
.sprite--upgrades--5VPL4Mrf{ background-position: 7.692308% 25% !important; }
.sprite--upgrades--9Nls3EBb{ background-position: 7.692308% 33.333333% !important; }
.sprite--upgrades--DJ6Ppfjz{ background-position: 7.692308% 41.666667% !important; }
.sprite--upgrades--FqH1ajZ4{ background-position: 7.692308% 50% !important; }
.sprite--upgrades--LHwpbQXN{ background-position: 7.692308% 58.333333% !important; }
.sprite--upgrades--SeuPUz9y{ background-position: 7.692308% 66.666667% !important; }
.sprite--upgrades--ZiuOOxeb{ background-position: 7.692308% 75% !important; }
.sprite--upgrades--gxDDcXaW{ background-position: 7.692308% 83.333333% !important; }
.sprite--upgrades--nwuOB8Ls{ background-position: 7.692308% 91.666667% !important; }
.sprite--upgrades--uXP60iSG{ background-position: 7.692308% 100% !important; }
.sprite--upgrades--3O55aWUD{ background-position: 15.384615% 0 !important; }
.sprite--upgrades--3SY7Ue3F{ background-position: 15.384615% 8.333333% !important; }
.sprite--upgrades--4Norkx4m{ background-position: 15.384615% 16.666667% !important; }
.sprite--upgrades--5u5fET0h{ background-position: 15.384615% 25% !important; }
.sprite--upgrades--9bp8HMMy{ background-position: 15.384615% 33.333333% !important; }
.sprite--upgrades--DakMKpnj{ background-position: 15.384615% 41.666667% !important; }
.sprite--upgrades--GnBQFDpV{ background-position: 15.384615% 50% !important; }
.sprite--upgrades--LJiW1mQ1{ background-position: 15.384615% 58.333333% !important; }
.sprite--upgrades--TfImUEVR{ background-position: 15.384615% 66.666667% !important; }
.sprite--upgrades--a4y16XBf{ background-position: 15.384615% 75% !important; }
.sprite--upgrades--hDDsj8xx{ background-position: 15.384615% 83.333333% !important; }
.sprite--upgrades--oYr2p0vz{ background-position: 15.384615% 91.666667% !important; }
.sprite--upgrades--uhuyodXf{ background-position: 15.384615% 100% !important; }
.sprite--upgrades--4XtKttb3{ background-position: 23.076923% 0 !important; }
.sprite--upgrades--4gf4yc5r{ background-position: 23.076923% 8.333333% !important; }
.sprite--upgrades--50lHYrp7{ background-position: 23.076923% 16.666667% !important; }
.sprite--upgrades--60cMEnha{ background-position: 23.076923% 25% !important; }
.sprite--upgrades--B5quzefF{ background-position: 23.076923% 33.333333% !important; }
.sprite--upgrades--Djjnic0I{ background-position: 23.076923% 41.666667% !important; }
.sprite--upgrades--GpkfuTVO{ background-position: 23.076923% 50% !important; }
.sprite--upgrades--LKlsrfSm{ background-position: 23.076923% 58.333333% !important; }
.sprite--upgrades--Tmzom8Ig{ background-position: 23.076923% 66.666667% !important; }
.sprite--upgrades--anetC9d6{ background-position: 23.076923% 75% !important; }
.sprite--upgrades--hZ3GuW3F{ background-position: 23.076923% 83.333333% !important; }
.sprite--upgrades--oudcC8aT{ background-position: 23.076923% 91.666667% !important; }
.sprite--upgrades--vQHbm242{ background-position: 23.076923% 100% !important; }
.sprite--upgrades--6etCpDgt{ background-position: 30.769231% 0 !important; }
.sprite--upgrades--6mh63jIU{ background-position: 30.769231% 8.333333% !important; }
.sprite--upgrades--74dLQcZL{ background-position: 30.769231% 16.666667% !important; }
.sprite--upgrades--8yS2jCLX{ background-position: 30.769231% 25% !important; }
.sprite--upgrades--B8pBFCIk{ background-position: 30.769231% 33.333333% !important; }
.sprite--upgrades--DmcePQqV{ background-position: 30.769231% 41.666667% !important; }
.sprite--upgrades--H5V4lDTV{ background-position: 30.769231% 50% !important; }
.sprite--upgrades--MGuem3ub{ background-position: 30.769231% 58.333333% !important; }
.sprite--upgrades--UMYJ0JRe{ background-position: 30.769231% 66.666667% !important; }
.sprite--upgrades--b8AiuAKv{ background-position: 30.769231% 75% !important; }
.sprite--upgrades--hohhHpJh{ background-position: 30.769231% 83.333333% !important; }
.sprite--upgrades--ow73KZQ7{ background-position: 30.769231% 91.666667% !important; }
.sprite--upgrades--vbYu39p5{ background-position: 30.769231% 100% !important; }
.sprite--upgrades--Ba5wzZtv{ background-position: 38.461538% 0 !important; }
.sprite--upgrades--BjLJyukj{ background-position: 38.461538% 8.333333% !important; }
.sprite--upgrades--CXoP3voP{ background-position: 38.461538% 16.666667% !important; }
.sprite--upgrades--CZUcc5kG{ background-position: 38.461538% 25% !important; }
.sprite--upgrades--CgKz9TdD{ background-position: 38.461538% 33.333333% !important; }
.sprite--upgrades--EKspKkfi{ background-position: 38.461538% 41.666667% !important; }
.sprite--upgrades--H8jIGJdB{ background-position: 38.461538% 50% !important; }
.sprite--upgrades--ML36GzRW{ background-position: 38.461538% 58.333333% !important; }
.sprite--upgrades--Uvk4eRrI{ background-position: 38.461538% 66.666667% !important; }
.sprite--upgrades--bhFSz4M1{ background-position: 38.461538% 75% !important; }
.sprite--upgrades--hvGM9ySR{ background-position: 38.461538% 83.333333% !important; }
.sprite--upgrades--p1SUwX4H{ background-position: 38.461538% 91.666667% !important; }
.sprite--upgrades--vkgOqUkK{ background-position: 38.461538% 100% !important; }
.sprite--upgrades--EbSTAtNh{ background-position: 46.153846% 0 !important; }
.sprite--upgrades--Ec29gcPX{ background-position: 46.153846% 8.333333% !important; }
.sprite--upgrades--EkLb2q0x{ background-position: 46.153846% 16.666667% !important; }
.sprite--upgrades--EnRIUzfD{ background-position: 46.153846% 25% !important; }
.sprite--upgrades--FEa48E8E{ background-position: 46.153846% 33.333333% !important; }
.sprite--upgrades--FIGoCk0a{ background-position: 46.153846% 41.666667% !important; }
.sprite--upgrades--HnuOfQFn{ background-position: 46.153846% 50% !important; }
.sprite--upgrades--N579gq7V{ background-position: 46.153846% 58.333333% !important; }
.sprite--upgrades--V8vcBeDb{ background-position: 46.153846% 66.666667% !important; }
.sprite--upgrades--c3Ebj0fn{ background-position: 46.153846% 75% !important; }
.sprite--upgrades--iBsg8VL2{ background-position: 46.153846% 83.333333% !important; }
.sprite--upgrades--piM3nW3z{ background-position: 46.153846% 91.666667% !important; }
.sprite--upgrades--wLxvZGpr{ background-position: 46.153846% 100% !important; }
.sprite--upgrades--IVhrTH2V{ background-position: 53.846154% 0 !important; }
.sprite--upgrades--JAiY4SqG{ background-position: 53.846154% 8.333333% !important; }
.sprite--upgrades--JlPuGCpA{ background-position: 53.846154% 16.666667% !important; }
.sprite--upgrades--K2CviGW5{ background-position: 53.846154% 25% !important; }
.sprite--upgrades--KQMKVQ8m{ background-position: 53.846154% 33.333333% !important; }
.sprite--upgrades--KruL3sfV{ background-position: 53.846154% 41.666667% !important; }
.sprite--upgrades--KyY21t7i{ background-position: 53.846154% 50% !important; }
.sprite--upgrades--NFjxMIyn{ background-position: 53.846154% 58.333333% !important; }
.sprite--upgrades--VE3PNNZc{ background-position: 53.846154% 66.666667% !important; }
.sprite--upgrades--c6TouZjj{ background-position: 53.846154% 75% !important; }
.sprite--upgrades--iMF2ATWJ{ background-position: 53.846154% 83.333333% !important; }
.sprite--upgrades--qDgA75ZQ{ background-position: 53.846154% 91.666667% !important; }
.sprite--upgrades--x8whUryu{ background-position: 53.846154% 100% !important; }
.sprite--upgrades--Nmboo2Lf{ background-position: 61.538462% 0 !important; }
.sprite--upgrades--O45KfBUz{ background-position: 61.538462% 8.333333% !important; }
.sprite--upgrades--OMWXW1oK{ background-position: 61.538462% 16.666667% !important; }
.sprite--upgrades--OWG5DqDR{ background-position: 61.538462% 25% !important; }
.sprite--upgrades--Ppyhjgon{ background-position: 61.538462% 33.333333% !important; }
.sprite--upgrades--QUr2Lq3Y{ background-position: 61.538462% 41.666667% !important; }
.sprite--upgrades--RBE53Rek{ background-position: 61.538462% 50% !important; }
.sprite--upgrades--Raor0JgI{ background-position: 61.538462% 58.333333% !important; }
.sprite--upgrades--VKk3ZBMR{ background-position: 61.538462% 66.666667% !important; }
.sprite--upgrades--cIEfLddh{ background-position: 61.538462% 75% !important; }
.sprite--upgrades--iQkJW88P{ background-position: 61.538462% 83.333333% !important; }
.sprite--upgrades--qMBSG2pJ{ background-position: 61.538462% 91.666667% !important; }
.sprite--upgrades--xDNRl9bd{ background-position: 61.538462% 100% !important; }
.sprite--upgrades--W0azkY8q{ background-position: 69.230769% 0 !important; }
.sprite--upgrades--WbwcXabG{ background-position: 69.230769% 8.333333% !important; }
.sprite--upgrades--XTYpqr7u{ background-position: 69.230769% 16.666667% !important; }
.sprite--upgrades--XpZFgRoZ{ background-position: 69.230769% 25% !important; }
.sprite--upgrades--Y5PEn3Lh{ background-position: 69.230769% 33.333333% !important; }
.sprite--upgrades--YGOIE7Kj{ background-position: 69.230769% 41.666667% !important; }
.sprite--upgrades--Yc8O06W0{ background-position: 69.230769% 50% !important; }
.sprite--upgrades--Yef5qaQH{ background-position: 69.230769% 58.333333% !important; }
.sprite--upgrades--ZCfj2VJz{ background-position: 69.230769% 66.666667% !important; }
.sprite--upgrades--cW9jxy3d{ background-position: 69.230769% 75% !important; }
.sprite--upgrades--iZUNW9uc{ background-position: 69.230769% 83.333333% !important; }
.sprite--upgrades--qqpnjcPX{ background-position: 69.230769% 91.666667% !important; }
.sprite--upgrades--xget5YxB{ background-position: 69.230769% 100% !important; }
.sprite--upgrades--d6hqRYSK{ background-position: 76.923077% 0 !important; }
.sprite--upgrades--d7Lm1YDs{ background-position: 76.923077% 8.333333% !important; }
.sprite--upgrades--d9h85HES{ background-position: 76.923077% 16.666667% !important; }
.sprite--upgrades--dI2VR0cR{ background-position: 76.923077% 25% !important; }
.sprite--upgrades--drnQSiI9{ background-position: 76.923077% 33.333333% !important; }
.sprite--upgrades--dtKdzSg9{ background-position: 76.923077% 41.666667% !important; }
.sprite--upgrades--dzigTPnA{ background-position: 76.923077% 50% !important; }
.sprite--upgrades--ecvKYtEi{ background-position: 76.923077% 58.333333% !important; }
.sprite--upgrades--fQJpEMJs{ background-position: 76.923077% 66.666667% !important; }
.sprite--upgrades--geAdl1Pe{ background-position: 76.923077% 75% !important; }
.sprite--upgrades--iohjn2il{ background-position: 76.923077% 83.333333% !important; }
.sprite--upgrades--rD83VqgF{ background-position: 76.923077% 91.666667% !important; }
.sprite--upgrades--y7Amad3i{ background-position: 76.923077% 100% !important; }
.sprite--upgrades--it7Rzeow{ background-position: 84.615385% 0 !important; }
.sprite--upgrades--itef6fFo{ background-position: 84.615385% 8.333333% !important; }
.sprite--upgrades--jlVyzxXD{ background-position: 84.615385% 16.666667% !important; }
.sprite--upgrades--kCFmrhT3{ background-position: 84.615385% 25% !important; }
.sprite--upgrades--l6JnqZDm{ background-position: 84.615385% 33.333333% !important; }
.sprite--upgrades--lkl9J5Sv{ background-position: 84.615385% 41.666667% !important; }
.sprite--upgrades--lsavzGmg{ background-position: 84.615385% 50% !important; }
.sprite--upgrades--mCLrJoMx{ background-position: 84.615385% 58.333333% !important; }
.sprite--upgrades--mQ3PM3W6{ background-position: 84.615385% 66.666667% !important; }
.sprite--upgrades--nUocJvP3{ background-position: 84.615385% 75% !important; }
.sprite--upgrades--nawUZBOv{ background-position: 84.615385% 83.333333% !important; }
.sprite--upgrades--rWgJ5AcV{ background-position: 84.615385% 91.666667% !important; }
.sprite--upgrades--yL3us2gq{ background-position: 84.615385% 100% !important; }
.sprite--upgrades--s2m9y4Sy{ background-position: 92.307692% 0 !important; }
.sprite--upgrades--sQNz12eW{ background-position: 92.307692% 8.333333% !important; }
.sprite--upgrades--spqDZrV6{ background-position: 92.307692% 16.666667% !important; }
.sprite--upgrades--syq6Yu3N{ background-position: 92.307692% 25% !important; }
.sprite--upgrades--tQP1pSNV{ background-position: 92.307692% 33.333333% !important; }
.sprite--upgrades--tYTyr88R{ background-position: 92.307692% 41.666667% !important; }
.sprite--upgrades--te0WBseg{ background-position: 92.307692% 50% !important; }
.sprite--upgrades--tg9BwVnq{ background-position: 92.307692% 58.333333% !important; }
.sprite--upgrades--tjlLq3bm{ background-position: 92.307692% 66.666667% !important; }
.sprite--upgrades--tmUppqZs{ background-position: 92.307692% 75% !important; }
.sprite--upgrades--tv7GwvrY{ background-position: 92.307692% 83.333333% !important; }
.sprite--upgrades--twIyyvfV{ background-position: 92.307692% 91.666667% !important; }
.sprite--upgrades--ybw7EbYY{ background-position: 92.307692% 100% !important; }
.sprite--upgrades--zCUr3nNd{ background-position: 100% 0 !important; }
.sprite--upgrades--zxV06lX8{ background-position: 100% 8.333333% !important; }
